﻿<div class="container merchants">
    <section>
        <h2>Магазины</h2>

        <div loader="isProgress">
            <div class="merchant-list" ng-init="merchantsLimit = 10" ng-hide="isProgress">
                <ul>
                    <li ng-repeat="merchant in merchants | limitTo: merchantsLimit track by merchant.id" ng-init="isUnclickable = !merchant.location">
                        <p ng-class=":: {'unclickable': isUnclickable}" ng-click="!isUnclickable && showMerchantOnMap($index)">
                            {{:: merchant.title}}, {{:: merchant.location.description}}
                        </p>
                    </li>
                </ul>

                <div class="pseudolink"
                     ng-if="merchants.length > merchantsLimit"
                     ng-click="$parent.merchantsLimit = merchants.length"
                >
                    Показать все <span ng-bind-html="merchants.length  | translatePlural: {plural: 'merchantPlurals.merchant'}"></span>
                </div>
                <div class="pseudolink"
                     ng-if="merchantsLimit === merchants.length"
                     ng-click="$parent.merchantsLimit = 10"
                >
                    Скрыть магазины
                </div>
            </div>

            <lmx-map class="map" data="merchants" ng-if="merchants.length"></lmx-map>
        </div>
    </section>
</div>
