<div class="personal-offer-map" loader="inProgress">
    <div class="heading">
        <h2 class="title">Персональные предложения</h2>
    </div>
    <lmx-map
        ng-if="merchants.length"
        class="map"
        data="merchants"
        options="{
           markerImg: 'wp-content/themes/bin/assets/img/map/marker.png',
           markerSize: [29, 32]
         }"
    >
    </lmx-map>
</div>
