<div class="discount-view">
    <span class="title" ng-if="discountEnums[type] !== 'pricePerUnit'">{{::discountView}}</span>
    <div class="tooltip" ng-show="discountEnums[type] === 'pricePerUnit'">
        <span class="title">{{::discountView}} </span>
        <span class="tooltip-text">
            {{:: 'personalOffer.pricePerUnitDiscountHint.' + discountType | translate }}
        </span>
    </div>
</div>
