<section class="phone" ng-class="{'_change': isChangeProcessStarted, '_registration': registration}">
    <h1 class="registration-title" ng-if="registration && step === 2">Введите код подтверждения</h1>
    <h1 class="registration-title" ng-if="registration && step === 1">Введите номер телефона</h1>
    <notifications area="registration"></notifications>
    <notifications area="userPhone"></notifications>
    <div class="phone-view" ng-if="!isChangeProcessStarted && !registration">
        <div class="phone-current">Ваш телефон <span class="_number">{{currentPhoneNumber}}</span></div>
        <button type="button" ng-click="openForm()" class="phone-change__trigger">{{:: 'change' | translate}}</button>
    </div>

    <div ng-if="isChangeProcessStarted">
        <form class="form phone-change" novalidate name="form" ng-submit="form.$valid && next(form)" loader="loader.inProgress">
            <div ng-if="step === 1" class="step-1">
                <p ng-if="!registration">Введите <b>новый</b> номер мобильного телефона</p>
                <div class="phone-countryCode">+7</div>
                <form-group class="phone-new" ng-attr-vertical="registration">
                    <input
                        type="text"
                        ng-model="model.newPhone"
                        name="newPhone"
                        id="newPhone"
                        mask="(999) 999-9999"
                        clean="true"
                        validate="false"
                        placeholder="(___) ___-____"
                        restrict="reject"
                        required
                    />
                </form-group>
            </div>

            <div ng-if="step === 2">
                <p>Код подтверждения отправлен Вам по&nbsp;sms на&nbsp;номер  <b>{{::newPhone}}</b></p>
                <form-group class="phone-code">
                    <input
                        type="text"
                        ng-model="model.confirmationCode"
                        name="confirmationCode"
                        ng-disabled="inProgress"
                        id="confirmationCode"
                        placeholder="Код подтверждения"
                        autofocus
                        required
                    >
                </form-group>
            </div>

            <p ng-if="registration && step === 1" class="phone-enter-reference">На данный номер будет отправлено SMS с кодом подтверждения</p>
            <div class="clearfix" ng-show="step === 2">
                <div class="phone-code__reenter link" ng-click="reEnterPhone(form)">Повторить ввод номера телефона</div>
                <div class="phone-code__resend link" ng-click="reSendCode()">Выслать код подтверждения еще раз</div>
            </div>
            <div class="phone-change__control btn-container clearfix">
                <button ng-if="registration" class="btn-negative" ng-click="$root.logout()" type="button">{{:: 'cancel' | translate}}</button>
                <button type="button" ng-if="!registration" ng-click="closeForm()" class="btn-negative">
                    {{:: 'cancel' | translate}}
                </button>
                <button type="submit">{{ registration ? 'Далее' : 'Изменить' }}</button>
            </div>
        </form>
    </div>
</section>
