﻿<div class="container options">
    <section>
        <h2>Параметры сайта</h2>

        <table>
            <tr>
                <td>
                    <div class="input-field">
                        <input type="text" id="api" ng-model="api"/>
                        <label class="active" for="api">API</label>
                    </div>
                </td>
                <td>
                    <input type="button" class="btn" ng-click="saveConfiguration('host', api)" value="Сохранить"/>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-field">
                        <input type="text" id="showcaseApi" ng-model="showcaseApi"/>
                        <label class="active" for="showcaseApi">ShowcaseAPI</label>
                    </div>
                </td>
                <td>
                    <input type="button" class="btn" ng-click="saveConfiguration('showcaseHost', showcaseApi)"  value="Сохранить"/>
                </td>
            </tr>
        </table>

        <h2>Опции</h2>

        <form ng-submit="saveOptions()">
            <table>
                <tr ng-repeat="(key, value) in options">
                    <td>{{key}}</td>
                    <td ng-init="inputType = getType(value)" ng-switch="inputType">
                        <textarea
                                ng-switch-when="textarea"
                                ng-attr-id="{{key}}"
                                readonly
                        >{{options[key] | json}}</textarea>
                        <input
                            ng-switch-default
                            ng-attr-id="{{key}}"
                            ng-attr-type="{{inputType}}"
                            ng-class="getClass(value)"
                            ng-model="options[key]"
                        />
                        <label ng-attr-for="{{key}}"></label>
                    </td>
                    <td>{{:: 'options.' + key | translate}}</td>
                </tr>
            </table>
            <button class="btn waves-effect waves-light" type="submit">Сохранить</button>
        </form>
    </section>
</div>
