<div class="modal-header">
    <h3 class="modal-title">Замена карты</h3>
    <notifications area="cardModal"></notifications>
</div>
<div class="modal-body" loader="inProgress">
    <form novalidate name="replaceCardForm" ng-submit="replaceCardForm.$valid && replaceCard()">
        <div class="content round-2">
            <div class="row">
                <form-group
                        label-grid-part="5"
                        label-text="Номер новой карты"
                >
                    <input type="text"
                           ng-model="model.cardNumber"
                           id="cardNumber"
                           name="cardNumber"
                           class="form-control"
                           required
                           autofocus>
                </form-group>
                <form-group
                        label-grid-part="5"
                        label-text="Пароль от личного кабинета"
                >
                    <input
                            type="password"
                            ng-model="model.password"
                            id="userPassword"
                            name="userPassword"
                            class="form-control"
                            required
                    >
                </form-group>
            </div>
            <div class="right">
                <button type="submit">Заменить</button>
            </div>
        </div>
    </form>
</div>
<a ng-click="cancel()" class="modal-close">&times;</a>
