<div class="modal-header">
    <h3 class="modal-title">{{isBlocked ? 'Разблокировка карты' : 'Блокировка карты'}}</h3>
    <notifications area="cardModal"></notifications>
</div>
<div class="modal-body" loader="inProgress">
    <form novalidate name="blockCardForm" ng-submit="blockCardForm.$valid && blockStateChange()">
        <form-group
            label-grid-part="5"
            label-text="Пароль"
        >
            <input
                type="password"
                ng-model="model.password"
                id="userPassword"
                name="userPassword"
                class="form-control"
                required
                autofocus
            >
        </form-group>
        <div class="right">
            <button type="submit" class="btn-lg">{{isBlocked ? 'Разблокировать' : 'Заблокировать'}}</button>
        </div>
    </form>
</div>
<a ng-click="cancel()" class="modal-close">&times;</a>

