<div class="modal-header">
    <h3 class="modal-title">Добавление карты</h3>
    <notifications area="cardModal"></notifications>
</div>
<div class="modal-body" loader="inProgress">
    <h5 class="hint">{{
        steps.confirm ?
        'Введите код подтверждения, отправленный вам по SMS':
        'Введите номер прикрепляемой карты и пароль'
        }}
    </h5>
    <form
        novalidate
        ng-if="!confirmForm" name="attachCardForm"
        ng-submit="attachCardForm.$valid && startAttachCard()"
    >
        <div class="content round-2">
            <div class="row">
                <form-group
                    label-grid-part="5"
                    label-text="Номер новой карты"
                >
                    <input
                        type="text"
                        ng-model="model.cardNumber"
                        id="cardNumber"
                        name="cardnumber"
                        class="form-control"
                        required
                        autofocus
                    >
                </form-group>
                <form-group
                    label-grid-part="5"
                    label-text="Пароль от личного кабинета"
                >
                    <input
                        type="password"
                        ng-model="model.password"
                        id="userPassword"
                        name="password"
                        class="form-control"
                        required
                    >
                </form-group>
            </div>
            <div class="right">
                <button type="submit">Далее</button>
            </div>
        </div>
    </form>

    <form
        novalidate
        ng-if="confirmForm"
        name="attachCardConfirmForm"
        ng-submit="attachCardConfirmForm.$valid && confirm()"
        class="attach-card-confirm"
    >
        <div class="content round-2">
            <div class="row">
                <form-group
                    label-grid-part="5"
                    label-text="Код подтверждения"
                >
                    <input
                        type="text"
                        ng-model="model.confirmCode"
                        id="confirmCode"
                        name="confirmCode"
                        class="form-control"
                        required
                        autofocus
                    >
                </form-group>
                <div class="re-buttons">
                    <a class="link" ng-click="sendConfirmCode()">Выслать код подтверждения еще раз</a>
                </div>
            </div>
            <div class="btn-container">
                <button type="button" ng-click="cancelAttachCard()" class="btn-negative">Отменить</button>
                <button type="submit">Прикрепить</button>
            </div>
        </div>
    </form>
</div>
<a ng-click="cancel()" class="modal-close">&times;</a>
