<section class="forgot">
    <form
        class="form forgot-form"
        novalidate
        ng-if="steps.start"
        name="forms.resetPasswordStart"
        ng-submit="forms.resetPasswordStart.$valid && start()"
        loader="inProgress"
    >
        <h1 class="forgot-title">Восстановление пароля</h1>
        <form-group>
            <label for="startIdentity">Телефон</label>
            <div class="auth-countryCode">+7</div>
            <div>
                <input
                    type="text"
                    ng-model="model.identity"
                    id="startIdentity"
                    name="identity"
                    mask="(999) 999 9999"
                    placeholder="(999) 999-9999"
                    mask-clean="true"
                    validate="false"
                    restrict="reject"
                    required
                    autofocus
                >
            </div>
        </form-group>
        <notifications area="resetPassword"></notifications>
        <button type="submit">Далее</button>
    </form>

    <form
        novalidate
        class="form forgot-form"
        ng-if="steps.confirm"
        name="forms.resetPasswordConfirm"
        ng-submit="forms.resetPasswordConfirm.$valid && confirm()"
        loader="inProgress"
    >
        <h1 class="forgot-title">Восстановление пароля</h1>

        <form-group ng-hide="isResetPasswordConfirmationCodeHidden()">
            <label for="confirmCode">Код подтверждения</label>
            <input class="form-control" ng-model="model.confirmCode" id="confirmCode" name="confirmcode" type="text" required>
        </form-group>
        <a class="forgot-repeatCode" ng-click="start()">Выслать код повторно</a>

        <form-group>
            <label for="newPassword">Новый пароль</label>
            <input
                type="password"
                ng-model="model.newPassword"
                id="newPassword"
                name="newPassword"
                required
            >
        </form-group>
        <form-group>
            <label for="newPassword">Подтверждение нового пароля</label>
            <input
                type="password"
                ng-model="model.repeatPassword"
                id="newPasswordConfirm"
                name="newPasswordConfirm"
                is-equal-passwords="model.newPassword"
                required
            >
        </form-group>
        <notifications area="resetPassword"></notifications>
        <div class="clearfix">
            <button type="button" ng-click="cancel()">Отменить</button>
            <button type="submit">Далее</button>
        </div>
    </form>
</section>