<!DOCTYPE html>
<html ng-app="lmxApp" ng-controller="mainController">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/png" href="favicon.png" />

    <!--Material styles-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/lib/materialize/css/materialize.min.css">
    <!--Material styles end-->

    <!--Glyphicons styles-->
    <link rel="stylesheet" href="assets/lib/glyphicons/css/glyphicons.min.css">
    <!--Glyphicons styles end-->

    <link rel="stylesheet" type="text/css" href="assets/css/style.min.css"/>

    <title>User portal</title>
</head>
<body>
<div class="body-loader" ng-hide="allRequestsCompleted"></div>
<nav class="z-depth-1-half">
    <div class="nav-wrapper teal">
        <menu>
            <ul class="topbar right" ng-if="isAuth() && currentLocation != 'registration' && !inProgress">
                <li>
                    <a href="#settings">
                        {{userInfo.lastName}} {{userInfo.firstName}} {{userInfo.patronymicName}}
                    </a>
                </li>
                <li>Карта: {{cardInfo.number }}</li>
                <li><a href="#history">Баланс: {{userInfo.balanceShortInfo.balance.amount || 0}} б.</a></li>
                <li>Получено бонусов: {{userInfo.balanceShortInfo.accumulated.amount || 0}} б.</li>
                <li>Израсходовано: {{cardInfo.paid.amount || 0}} б.</li>
                <li><a ng-click="logout()"><i class="material-icons">arrow_forward</i></a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li ng-if="!isAuth()"><a href="#login"><i class="material-icons">input</i>Вход</a></li>
                <li ng-if="!isAuth()"><a href="#registration"><i class="material-icons">person_add</i>Регистрация</a></li>
                <li ng-if="!isAuth()"><a href="#registration-force-email-step"><i class="material-icons">person_add</i>Регистрация (пропускаемый шаг Email)</a></li>
                <li ng-if="!isAuth()"><a href="#anonymous-feedback"><i class="material-icons">feedback</i>Бесплатная обратная связь</a></li>
                <li ng-if="isAuth()"><a href="#settings"><i class="material-icons">settings</i>Настройки</a></li>
                <li ng-if="isAuth()"><a href="#cards"><i class="material-icons">card_membership</i>Карты</a></li>
                <li ng-if="isAuth()"><a href="#history"><i class="material-icons">card_membership</i>История операций</a></li>
                <li ng-if="isAuth()"><a href="#history-load-more-button"><i class="material-icons">card_membership</i>История операций (подгрузка)</a></li>
                <li ng-if="isAuth()"><a href="#questionnaire"><i class="material-icons">question_answer</i>Анкета</a></li>
                <li ng-if="isAuth()"><a href="#personal-offers"><i class="material-icons">shopping_cart</i>Персональные предложения</a></li>
                <li ng-if="isAuth()"><a href="#personal-goods"><i class="material-icons">add_shopping_cart</i>Персональные товары</a></li>
                <li ng-if="isAuth()"><a href="#my-coupons"><i class="material-icons">style</i>Мои купоны</a></li>
                <li ng-if="isAuth()"><a href="#social-binding"><i class="material-icons">people</i>Привязка соц-сетей</a></li>
                <li ng-if="isAuth()"><a href="#message"><i class="material-icons">notifications</i>Уведомления</a></li>
                <li ng-if="isAuth()"><a href="#feedback"><i class="material-icons">feedback</i>Обратная связь</a></li>
                <li ng-if="isAuth()"><a href="#anonymous-feedback"><i class="material-icons">feedback</i>Бесплатная обратная связь</a></li>
                <li ng-if="isAuth()"><a href="#user-status"><i class="material-icons">shopping_cart</i>Статус пользователя</a></li>
                <li><a href="#offers"><i class="material-icons">local_offer</i>Рекламные материалы</a></li>
                <li><a href="#showcase"><i class="material-icons">shopping_basket</i>Витрина</a></li>
                <li><a href="#brands"><i class="material-icons">thumb_up</i>Бренды</a></li>
                <li><a href="#announcement"><i class="material-icons">loyalty</i>Реклама</a></li>
                <li><a href="#merchant"><i class="material-icons">store</i>Магазины</a></li>
                <li><a href="#options"><i class="material-icons">settings</i>Опции сайта</a></li>
            </ul>
            <a data-activates="nav-mobile" class="button-collapse show-on-medium-and-up"><i class="material-icons">menu</i></a>
        </menu>
    </div>
</nav>
<div class="section">
    <div ng-switch="currentLocation">
        <authentication ng-switch-when="login"></authentication>
        <reset-password ng-switch-when="reset-password"></reset-password>
        <registration ng-switch-when="registration"></registration>
        <registration ng-switch-when="registration-force-email-step" force-email-step></registration>
        <offers ng-switch-when="offers"></offers>
        <feedback ng-switch-when="feedback"></feedback>
        <anonymous-feedback ng-switch-when="anonymous-feedback"></anonymous-feedback>
        <lmx-message ng-switch-when="message"></lmx-message>
        <showcase ng-switch-when="showcase"></showcase>
        <my-coupons ng-switch-when="my-coupons"></my-coupons>
        <cards ng-switch-when="cards"></cards>
        <history ng-switch-when="history"></history>
        <history ng-switch-when="history-load-more-button" load-more-button></history>
        <brands ng-switch-when="brands"></brands>
        <merchant ng-switch-when="merchant"></merchant>
        <user-status ng-switch-when="user-status"></user-status>
        <lmx-social ng-switch-when="social-binding" is-binding></lmx-social>
        <div ng-switch-when="settings">
            <div class="container settings">
                <h2>Настройки</h2>
                <user-phone></user-phone>
                <user-email></user-email>
                <user-password></user-password>
            </div>
        </div>
        <div ng-switch-when="questionnaire">
            <div class="container">
                <h2>Анкета</h2>
                <questionnaire registration="false" edit-mode></questionnaire>
            </div>
        </div>
        <options ng-switch-when="options"></options>
        <personal-offers ng-switch-when="personal-offers" ng-if="!appLocationParts[1]"></personal-offers>
        <personal-goods ng-switch-when="personal-goods" ng-if="!appLocationParts[1]"></personal-goods>
    </div>
    <div ng-if="appLocationParts[0]=='announcement'">
        <lmx-announcement ng-if="!appLocationParts[1]" space="offerSpace"></lmx-announcement>
        <lmx-announcement ng-if="appLocationParts[1]" announcement-id="appLocationParts[1]"></lmx-announcement>
    </div>
</div>
<div ng-switch="appLocationParts[0]" ng-if="appLocationParts[1]">
    <brand ng-switch-when="brands" brand-id="appLocationParts[1]"></brand>
    <personal-offer ng-switch-when="personal-offers" offer-id="appLocationParts[1]"></personal-offer>
    <personal-goods-offer ng-switch-when="personal-goods" offer-id="appLocationParts[1]"></personal-goods-offer>
</div>

<notifications></notifications>

<div style="position:fixed; text-align:right; color:#ccc; bottom:30px; right:30px;">
    <div>Build: <!-- buildNumber --></div>
    <div>{{::apiHost}}</div>
</div>

<script src="assets/lib/jquery/jquery.min.js"></script>
<script src="assets/lib/vendor/dependencies.js"></script>
<script src="assets/lib/bowser/bowser.js"></script>
<script src="assets/js/config.js"></script>
<script src="app/app.js"></script>

<!--Material javascript-->
<script src="assets/lib/lodash/lodash.custom.min.js"></script>
<script src="assets/lib/materialize/js/materialize.min.js"></script>
<script src="assets/lib/materialize/js/materialize-actions.js"></script>
<!--Material javascript end-->
</body>
</html>
