<div loader="inProgress">
    <div class="modal-close" ng-click="cancel()"></div>
    <h2 class="card-modal__title">Прикрепить карту</h2>

    <form class="form card-form" novalidate ng-if="!confirmForm" name="attachCardForm" ng-submit="attachCardForm.$valid && startAttachCard()">
        <form-group>
            <label for="cardnumber">Номер прикрепляемой карты</label>
            <input type="text" ng-model="model.cardNumber" id="cardnumber" name="cardnumber" class="form-control" required autofocus />
        </form-group>

        <form-group>
            <label for="password">Пароль от вашего Личного кабинета</label>
            <input type="password" ng-model="model.password" id="password" name="password" class="form-control" required />
        </form-group>

        <notifications area="cardModal"></notifications>

        <button type="submit">Прикрепить</button>
    </form>

    <form novalidate class="form card-form" ng-if="confirmForm" name="attachCardConfirmForm" ng-submit="attachCardConfirmForm.$valid && confirm()">
        <form-group>
            <label for="confirmCode">Код подтверждения</label>
            <input type="text" ng-model="model.confirmCode" id="confirmCode" name="confirmCode" class="form-control" required autofocus />
            <a class="card-form__sendCode" ng-click="sendConfirmCode()">Выслать код подтверждения ещё раз</a>
        </form-group>

        <notifications area="cardModal"></notifications>

        <div class="card-form__control clearfix">
            <button type="button" ng-click="cancelAttachCard()">Отменить</button>
            <button type="submit">Подтвердить</button>
        </div>
    </form>
</div>
