<div loader="inProgress">
    <div class="modal-close" ng-click="cancel()"></div>
    <h2 class="card-modal__title">Замена карты</h2>
    <form class="form card-form" novalidate name="replaceCardForm" ng-submit="replaceCardForm.$valid && replaceCard()">
        <form-group>
            <label for="cardNumber">Номер новой карты</label>
            <input type="text" ng-model="model.cardNumber" id="cardNumber" name="cardNumber" class="form-control" required autofocus />
        </form-group>

        <form-group>
            <label for="userPassword">Введите свой пароль</label>
            <input type="password" ng-model="model.password" id="userPassword" name="userPassword" class="form-control" required />
        </form-group>

        <notifications area="cardModal"></notifications>

        <button type="submit">Заменить</button>
    </form>
</div>
