<div loader="inProgress">
    <div class="modal-close" ng-click="cancel()"></div>
    <h2 class="card-modal__title">{{isBlocked ? 'Разблокировка карты' : 'Блокировка карты'}}</h2>
    <form class="form card-form" novalidate name="blockCardForm" ng-submit="blockCardForm.$valid && blockStateChange()">
        <form-group>
            <label for="userPassword">Введите свой пароль</label>
            <input type="password" ng-model="model.password" id="userPassword" name="userPassword" class="form-control" required autofocus />
        </form-group>

        <notifications area="cardModal"></notifications>

        <button type="submit">{{isBlocked ? 'Разблокировать' : 'Заблокировать'}}</button>
    </form>
</div>
