<div class="personal-goods">
    <h2 class="title">Персональные товары</h2>

    <div loader="inProgress">
        <div ng-show="!inProgress">
            <div ng-if="approvedPersonalOffers.length">
                <h3 class="title">Мои товары:</h3>
                <div>
                    <personal-goods-offer-info
                            ng-repeat="offer in approvedPersonalOffers track by offer.id"
                            offer="offer"
                            goods-preview
                    ></personal-goods-offer-info>
                </div>
            </div>

            <div class="active-offers">
                <h3 class="title">Действующие акции:</h3>
                <div ng-if="activePersonalOffers.length">
                    <personal-goods-offer-info
                            ng-repeat="offer in activePersonalOffers track by offer.id"
                            offer="offer"
                    ></personal-goods-offer-info>
                </div>
                <div ng-if="!activePersonalOffers.length">Нет действующих акций</div>
            </div>

            <div ng-if="futurePersonalOffers.length" class="future-offers">
                <h3 class="title">Будущие акции:</h3>
                <div>
                    <personal-goods-offer-info
                            ng-repeat="offer in futurePersonalOffers track by offer.id"
                            offer="offer"
                    ></personal-goods-offer-info>
                </div>
            </div>
        </div>
    </div>
</div>