﻿<div class="user-phone">
    <div ng-if=":: registration">
        <h2 class="center" ng-show=":: isChangeProcessStarted">
            {{ step === 1 ? 'Введите номер телефона' : 'Введите код подтверждения' }}
        </h2>
        <notifications area="registration"></notifications>
    </div>
    <div loader="isChangeProcessStarted === undefined">
        <div ng-if="isChangeProcessStarted === false" class="settings-line">
            <h3 class="label">{{::'phone'|translate}}</h3>
            <notifications area="userPhone"></notifications>
            <div class="current-value">{{currentPhoneNumber}}</div>
            <a ng-click="openForm()" class="right-control" id="changePhone-openForm">{{::'change'|translate}}</a>
        </div>
        <div ng-if="isChangeProcessStarted" class="user-phone-changing">
            <div ng-if=":: !registration">
                <h3>Номер телефона</h3>
                <notifications area="userPhone"></notifications>
            </div>
            <form novalidate name="form" ng-submit="form.$valid && next(form)">
                <div ng-if="step === 1">
                    <div class="hint">
                        <p>На&nbsp;данный номер будет выслано SMS с&nbsp;кодом подтверждения</p>
                    </div>
                    <form-group>
                        <div class="input-field phone-field">
                            <span class="country-code"></span>
                            <input
                                type="text"
                                ng-model="model.newPhone"
                                name="newPhone" id="newPhone"
                                mask="(999) 999-9999"
                                clean="true"
                                validate="false"
                                placeholder="(999) 999-9999"
                                restrict="reject"
                                ng-disabled="loader.inProgress"
                                required
                            >
                        </div>
                    </form-group>
                </div>

                <div ng-if="step === 2">
                    <div class="hint">
                        <p>Код подтверждения отправлен Вам по&nbsp;SMS на&nbsp;номер <b>{{::newPhone}}</b></p>
                    </div>
                    <form-group>
                        <div class="input-field">
                            <input
                                type="text"
                                ng-model="model.confirmationCode"
                                name="confirmationCode"
                                id="confirmationCode"
                                ng-disabled="loader.inProgress"
                                autofocus
                                required
                            >
                            <label for="confirmationCode">{{:: 'personal.confirmationCode' | translate}}</label>
                        </div>
                    </form-group>
                    <div class="margin-bottom center" ng-hide="loader.inProgress">
                        <a ng-click="reSendCode()" id="changePhone-resendCode">{{:: 'personal.sendConfirmCode' | translate}}</a><br>
                        <a ng-click="reEnterPhone(form)" id="changePhone-reenterPhone">{{:: 'personal.changePhone.reSetPhone' | translate}}</a>
                    </div>
                </div>

                <div class="btn-container">
                    <inline-loader line>loader.inProgress</inline-loader>
                    <div ng-hide="loader.inProgress">
                        <button type="button" ng-click="closeForm()" class="btn btn-cancel waves-effect" id="changePhone-cancel">{{:: 'cancel' | translate}}</button>
                        <button type="submit" class="btn waves-effect waves-light" id="changePhone-submit">{{:: 'next' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
