<div class="discount-view" ng-switch=":: discountEnums[type]">
    <span ng-switch-default>{{:: discountView}}</span>
    <div ng-switch-when="pricePerUnit" class="tooltip">
        {{::discountView}}
        <span class="glyphicon glyphicon-question-sign"></span>
        <span class="tooltip-text">
            {{:: 'personalOffer.pricePerUnitDiscountHint.' + discountType | translate }}
        </span>
    </div>
</div>
