<section class="auth">
    <h1 class="auth-title">Вход в личный кабинет</h1>


    <form class="form auth-form" novalidate method="post" name="loginForm" ng-submit="loginForm.$valid && login()" loader="authInProgress">
        <form-group>
            <label for="login">Номер телефона</label>
            <div class="auth-countryCode">+7</div>
            <div>
                <input
                    type="text"
                    ng-model="loginData.login"
                    id="login"
                    name="login"
                    mask="(999) 999 9999"
                    placeholder="(999) 999-9999"
                    mask-clean="true"
                    validate="false"
                    restrict="reject"
                    required
                    autofocus
                />
            </div>
        </form-group>

        <form-group>
            <label for="password">Пароль</label>
            <input type="password" ng-model="loginData.password" id="password" name="password" required />
        </form-group>

        <notifications area="login"></notifications>

        <div class="clearfix btn-container">
            <button type="submit">Войти</button>
			<button type="button" class="cancel" ng-click="changeLocation('registration')">Регистрация</button>
        </div>

        <lmx-social></lmx-social>
    </form>

    <div class="auth-forgot" ng-click="changeLocation('resetPassword')">Восстановить пароль</div>


</section>
