<div class="buy-coupon-modal" loader="inProgress">
    <div class="modal-header">
        <div class="modal-closer" ng-click="cancel()"></div>
        <h2>Покупка купона</h2>
        <div class="modal-description">{{:: coupon.name}}</div>
    </div>
    <div class="modal-body">
        <div class="content clearfix" >
            <div ng-if="!triedToBuy">
                {{:: coupon.description}}
            </div>
            <div ng-if="triedToBuy">
                <div ng-if="result.success">
                    Купон номер <b>{{:: result.success.text}}</b> успешно приобретен.
                    <br>Дата приобретения: {{:: result.success.recievedDate | shortDateTime}}
                    <span ng-if="result.success.expireDate"><br>Купон доступен до {{:: result.success.expireDate | shortDateTime}}</span>
                </div>
                <div ng-if="result.error">
                    <pre>Ошибка приобретения купона</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="footer btn-container">
        <div ng-if="!triedToBuy">
            <button type="button" class="btn waves-effect waves-light" ng-click="buyCoupon(coupon.id)">Оплатить бонусами</button>
            <button type="button" class="btn btn-cancel waves-effect" ng-click="cancel()">{{:: 'cancel' | translate}}</button>
        </div>
        <div ng-if="triedToBuy">
            <button type="button" class="btn waves-effect waves-light" ng-click="cancel()">Закрыть</button>
        </div>
    </div>
</div>
