<div>
    <dl class="user-balance clearfix">
        <dt class="user-balance__key">Сумма покупок <span>в текущем месяце</span></dt>
        <dd class="user-balance__value" data-count="{{:: info.currentStatus.amount}}">
            <span>{{info.currentStatus.amount}}</span><span class="rouble">o</span>
        </dd>
    </dl>
    <dl class="user-balance clearfix">
        <dt class="user-balance__key">Процент начисления бонусов <span>в текущем месяце</span></dt>
        <dd class="user-balance__value" data-count="{{:: info.currentStatus.bonusPercent}}">
            <span>{{info.currentStatus.bonusPercent}}</span><span>%</span>
        </dd>
    </dl>
</div>