/*
Theme Name: Гулливер
Author: Loymax Solutions
Description: Тема для ЛК Гулливер
Version: 1.0
*/

@font-face {
    font-family: 'rouble';
    src: url('assets/fonts/rouble-webfont.woff2') format('woff2'),
         url('assets/fonts/rouble-webfont.woff') format('woff'),
         url('assets/fonts/rouble-webfont.ttf'f) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneue';
    src: url('assets/fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('assets/fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('assets/fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneue';
    src: url('assets/fonts/helveticaneuecyr-italic-webfont.woff2') format('woff2'),
         url('assets/fonts/helveticaneuecyr-italic-webfont.woff') format('woff'),
         url('assets/fonts/helveticaneuecyr-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'helveticaneue';
    src: url('assets/fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('assets/fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneue';
    src: url('assets/fonts/helveticaneuecyr-bolditalic-webfont.woff2') format('woff2'),
         url('assets/fonts/helveticaneuecyr-bolditalic-webfont.woff') format('woff'),
         url('assets/fonts/helveticaneuecyr-bolditalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'helveticaneue';
    src: url('assets/fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('assets/fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('assets/fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneue';
    src: url('assets/fonts/helveticaneuecyr-lightitalic-webfont.woff2') format('woff2'),
         url('assets/fonts/helveticaneuecyr-lightitalic-webfont.woff') format('woff'),
         url('assets/fonts/helveticaneuecyr-lightitalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/*! reselize.css v1.0.0 | MIT License | github.com/HawkeyePierce89/reselize.css
Based on github.com/necolas/normalize.css */

/* Reset
   ========================================================================== */

* {
    margin: 0; /* обнуляем внешние отступы */
    padding: 0; /* обнуляем внутренние отступы */
    border: 0; /* убираем бордюры */
    font-size: 100%; /* задаем базовый размер шрифта, значение по умолчанию = 16px */
    vertical-align: baseline; /* устанавливаем базовое вертикальное выравнивание */
    background: transparent; /* устанавливаем фон прозрачным */
}
body {
    line-height: 1; /* устанавливаем базовую высоту */
    background-color: #f0f0f0;
}
ol, ul {
    list-style: none; /* убираем маркеры для нумерованных и обычных списков */
}
blockquote, q {
    quotes: none; /* убираем кавычки для цитат */
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: ''; /* убираем */
    content: none; /* и скрываем генерируемое содержимое */
}
ins {
    text-decoration: none; /* убираем подчеркивание для вставленного текста */
}
del {
    text-decoration: line-through; /* убираем перечеркивание для удаленного текста */
}
table {
    border-collapse: collapse; /* убираем рамки двойной толщины */
    border-spacing: 0; /* убираем расстояние между ячейками */
}


/* Document
   ========================================================================== */

/**
 * Prevent adjustments of font size after orientation changes in
 * IE on Windows Phone and in iOS.
 */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Sections
   ========================================================================== */

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the bottom border in Chrome 57- and Firefox 39-.
 */

abbr[title] {
    border-bottom: none; /* 1 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
    font-style: italic;
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
    overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE.
 */

template {
    display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
    display: none;
}

html,body { height: 100%; }
body { 
	font-family: helveticaneue, Verdana, "Geneva CY", "DejaVu Sans", sans-serif; 
	min-width: 1180px; 
	color: #4a565d; 
	overflow-y: scroll; 
	background: url(assets/img/main_bg.png) no-repeat;
    background-size: 1920px 1080px;
}
body.modal-open { overflow-y: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.main { min-height: 100%; }
.main > .notifications { text-align: center; }
.hFooter { height: 100px; }
.footer-wrapper { margin-top: -100px; }
[href] { text-decoration: none; color: #4a565d; }
[href]:hover { text-decoration: underline; }

.rouble {
    font-family: rouble;
}

.rouble._400 {
    font-weight: 400;
}

.body-loader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white center center/auto 120px no-repeat;
    z-index: 10002;
}

.lmx-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    min-height: 48px;
    z-index: 10001;
    background: rgba(255,255,255,.8) url("assets/img/loader.svg") center center/auto 48px no-repeat;
}

.header {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 2px rgba(50, 50, 50, 0.4);
}

.header-inner {
    height: 101px;
    margin: 0 auto;
    max-width: 1180px;
}

.header-logo {
    float: left;
    margin-top: 20px;
}

.header-phone {
    float: left;
}

.header-phone {
    padding-left: 26px;
    margin-left: 60px;
    margin-top: 39px;
    font-weight: 700;
    font-size: 20px;
    background: url("assets/img/icon/icon-phone.svg") left 2px/16px 16px no-repeat;
}

.header-phone:hover span {
    text-decoration: underline;
}

.header-login,
.header-logout {
    float: right;
    color: #cb3b65;
    font-weight: 300;
    padding-left: 26px;
    padding-top: 2px;
    margin-left: 64px;
    margin-top: 40px;
    min-height: 18px;
    cursor: pointer;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header-logout::before,
.header-logout::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 15px;
    height: 18px;
}

.header-logout::before {
    background: url("assets/img/icon/logout.svg") left top/15px 18px no-repeat;
}

.header-login:hover span,
.header-logout:hover span {
    color: #cb3b65;
}

.header-menu {
    float: right;
    font-size: 0;
    margin-top: 42px;
}

.header-menu li {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-menu li + li {
    margin-left: 42px;
}

.header-menu li a:hover {
    text-decoration: none;
    color: #4bb0ce;
}

.angularMenu {
    text-align: justify;
    margin: 0 auto;
    max-width: 1000px;
}

.angularMenu::after {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.angularMenu-wrapper {
    background: white;
    border-radius: 12px;
    width: 300px;
    margin-top: 25px;
    height: auto;
}

.angularMenu-item {
    font-weight: 300;
    height: 40px;
    line-height: 50px;
    padding: 0 25px;
    box-sizing: border-box;
    font-size: 18px;
}

.angularMenu-item._active {
    font-weight: 700;
}

.angularMenu-item a,
.angularMenu-item._active a:hover {
    color: inherit;
}

.angularMenu-item a:hover {
    text-decoration: none;
    color: #4bb0ce;
}

.footer-wrapper {
    background: white;
    height: 100px;
}

.footer {
    max-width: 1180px;
    margin: 0 auto;
}

.footer-info {
    float: left;
    font-size: 14px;
    margin-top: 26px;
    line-height: 1.2;
}

.footer-info a {
    color: inherit;
}

.footer-info p + p {
    margin-top: 6px;
}

.footer-links {
    float: right;
    margin-top: 20px;
}

.footer-apps {
    font-size: 0;
}

.footer-apps img {
    margin-left: 13px;
    height: 33px;
}

.footer-develop {
    font-size: 14px;
    text-align: right;
    margin-top: 16px;
}

.content {
    max-width: 1180px;
    margin: 15px auto 100px;
    display: flex;
    flex-flow: row nowrap;
}

.content-column__left {
    margin-right: 25px;
}

.content-column__right {
    width: 100%;
}

.user {
    width: 250px;
    padding: 25px;
    border-radius: 12px;
    background-color: white;
}

.user-card {
    float: left;
    width: 295px;
    margin-right: 23px;
    position: relative;
}

.user-card img {
    width: 100%;
    height: auto;
    border-radius: 33px;
    box-shadow: 3px 3px 12px -2px;
    -webkit-box-shadow: 3px 3px 12px -2px;
    -moz-box-shadow: 3px 3px 12px -2px;
}

.user-card__number {
    position: relative;
    color: #b9b9b9;
    letter-spacing: 0.67px;
    font-size: 14px;
    bottom: 20px;
    text-align: center;
}

.user-info {
    overflow: hidden;
}

.user-name {
    font-size: 20px;
    line-height: 1.2;
}

.user-balance {
    line-height: 1.2;
    font-size: 15px;
    margin-top: 15px;
}

.user-accumulated {
    line-height: 1.2;
    font-size: 15px;
    margin-top: 5px;
}

.user-balance + .user-balance {
    margin-top: 13px;
}

.user-balance__key {
    float: left;
}

.user-balance__key span {
    display: block;
    font-size: 12px;
    color: #ababab;
    margin-top: 4px;
}

.user-balance__value {
    float: right;
}

.user-balance__value > :first-child {
    color: #84d206;
}

.user-balance__value[data-count="0"],
.user-balance__value[data-count="0"] * {
    color: #b9b9b9 !important;
}

input,
textarea {
    height: 41px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: white;
}

.date {
    margin-top: 30px;
}

.date-title {
    float: left;
    font-size: 15px;
    padding-left: 32px;
    margin-top: 14px;
    position: relative;
}

.date-title::before {
    position: absolute;
    left: 0;
    top: -2px;
    content: '';
    width: 15px;
    height: 15px;
    background: url("assets/img/icon/icon-filter.svg") left top/contain no-repeat;
}

.date-select {
    float: left;
    width: 96px;
    margin-left: 30px;
}

.date-select + .date-select {
    margin-left: 21px;
    position: relative;
}

.date-select + .date-select::before {
    position: absolute;
    content: '';
    left: -15px;
    top: 19px;
    width: 9px;
    height: 1px;
    background: #b8b8b8;
}

.date-select input {
    text-align: center;
}

.date-reset {
    float: right;
    font-size: 15px;
    color: #1b1b1b;
    cursor: pointer;
    font-weight: 700;
    margin-top: 14px;
}

.date-reset:hover {
    color: #4bb0ce;
}

.uib-datepicker {
    border-radius: 3px;
    overflow: hidden;
    width: 235px;
    outline: 0 !important;
}

.uib-datepicker th {
    text-align: center;
    vertical-align: middle;
}

.uib-datepicker thead tr:nth-child(1) th {
    height: 41px;
    font-size: 18px;
    background: #f04c23 url("assets/img/calendar/fon-top.gif") left center repeat-x;
    border-bottom: 1px solid #642424;
    border-top: 1px solid #642424;
}

.uib-datepicker thead tr:nth-child(1) th:first-child {
    border-left: 1px solid #642424;
}

.uib-datepicker thead tr:nth-child(1) th:last-child {
    border-right: 1px solid #642424;
}

.uib-datepicker thead tr:nth-child(1) th:nth-child(1) button {
    background: url("assets/img/calendar/left-arrow.png") center center/auto 20px no-repeat;
    height: 30px;
}

.uib-datepicker thead tr:nth-child(1) th:nth-child(2) button {
    color: white;
    background: transparent;
}

.uib-datepicker thead tr:nth-child(1) th:nth-child(3) button {
    background: url("assets/img/calendar/right-arrow.png") center center/auto 20px no-repeat;
    height: 30px;
}

.uib-datepicker td button.active span::before {
    border-bottom: 2px solid #f04c23;
}

.uib-datepicker thead tr:nth-child(2) th {
    height: 25px;
    background: #f6f6f6;
    color: #f04c23;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #c9c7c7;
    border-top: 1px solid #d5d1d1;
}

.uib-datepicker thead tr:nth-child(2) th:first-child {
    border-left: 1px solid #c9c7c7;
}

.uib-datepicker thead tr:nth-child(2) th:last-child {
    border-right: 1px solid #c9c7c7;
}

.uib-datepicker tbody {
    border: 1px solid #c9c7c7;
    border-top: 0;
    background: white;
}

.uib-datepicker td {
    height: 30px;
    vertical-align: middle;
}

.uib-datepicker td button {
    position: relative;
    cursor: pointer;
    background: white;
    border-radius: 0;
}

.uib-datepicker td button span {
    position: relative;
}

.uib-datepicker td button span::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -12px;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.uib-datepicker td button:not(.active):hover span::before {
    bottom: -2px;
    border-bottom: 2px solid #f04c23;
}

.uib-datepicker td button.active::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -2px;
    border-bottom: 1px solid #f04c23;
}

.uib-daypicker,
.uib-monthpicker {
    width: inherit;
    outline: 0;
}

.uib-yearpicker {
    width: 100%;
}

.datetime-picker-dropdown {
    position: absolute;
}

.history {
    min-height: 70px;
    position: relative;
}

.history-title {
    font-size: 25px;
}

.history-table {
    font-size: 13px;
    table-layout: fixed;
    width: 790px;
    margin-bottom: 50px;
}

.history-table tbody:nth-child(odd) td {
    padding-top: 29px;
    padding-bottom: 3px;
    line-height: 1.2;
}

.history-table tbody:nth-child(odd) td:nth-child(1) {
    font-weight: 700;
    font-size: 15px;
    padding-left: 28px;
    padding-right: 16px;
    width: 180px;
    background: url("assets/img/icon/icon-merchant.svg") left 28px no-repeat;
}

.history-table tbody:nth-child(odd) td:nth-child(2) {
    padding-left: 25px;
    padding-right: 16px;
    width: 72px;
    background: url("assets/img/icon/icon-date.svg") left 28px no-repeat;
}

.history-table tbody:nth-child(odd) td:nth-child(3) {
    padding-left: 25px;
    padding-right: 16px;
    width: 42px;
    background: url("assets/img/icon/icon-clock.svg") left 29px no-repeat;
}

.history-table tbody:nth-child(odd) td:nth-child(4) {
    font-weight: 700;
    width: 120px;
    padding-right: 16px;
}

.history-table tbody:nth-child(odd) td:nth-child(5) {
    width: 74px;
}

.history-table tbody:nth-child(odd) td:nth-child(6) {
    font-weight: 700;
    color: #4bb0ce;
    width: 70px;
    padding-right: 12px;
    text-align: right;
}

.history-table tbody:nth-child(odd) td:nth-child(7) {
    color: #1b1b1b;
    font-weight: 700;
}

.history-table tbody:nth-child(odd) td:nth-child(7) span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.history-table__currency {
    min-width: 10px;
    display: inline-block;
    text-align: center;
}

.history-detail {
    background: #f0eeee;
    display: none;
    width: inherit;
    margin-top: 10px;
    padding-left: 28px;
    padding-right: 26px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.history-detail._show {
    display: block;
}

.history-detail tr {
    display: block;
    font-size: 0;
}

.history-detail tr:nth-child(2) {
    margin-top: 32px;
}

.history-detail tr:nth-child(2) ~ tr {
    background: url("assets/img/history/fon-separetor.gif") left top repeat-x;
}

.history-detail tr:first-child td {
    padding-top: 15px;
    display: block;
}

.history-detail tr:not(:first-child) td {
    padding-top: 10px;
    padding-bottom: 12px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.history-detail tr:not(:first-child) td:nth-child(1) {
    width: 536px;
    padding-right: 16px;
}

.history-detail tr:not(:first-child) td:nth-child(2),
.history-detail tr:not(:first-child) td:nth-child(3) {
    width: 100px;
    text-align: right;
}

.history-detail tr:last-child td {
    padding-bottom: 22px;
}

.history-financial + .history-financial {
    margin-top: 18px;
}

.history-financial__name {
    float: left;
    font-size: 15px;
    font-weight: 700;
}

.history-financial__value {
    float: right;
    font-size: 13px;
}

.history-more {
    cursor: pointer;
}

.history-more:hover {
    color: #4bb0ce;
}

.history-showAll {
    line-height: 40px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 700;
    display: table;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid #4bb0ce;
    color: #4bb0ce;
    padding: 0 30px;
    margin: 0 auto;
}

.history-showAll:hover {
    background: #4bb0ce;
    border: 1px solid #4bb0ce;
    color: white;
    text-decoration: none;
}

.history-empty {
    margin: 40px 0;
}

.form input,
.form textarea {
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: #3a444b;
    padding: 0 19px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
    color: #ababab;
}

.form input:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
    color: #ababab;
}

.form input::-ms-input-placeholder,
.form textarea::-ms-input-placeholder {
    color: #ababab;
}

.form input::placeholder,
.form textarea::placeholder {
    color: #ababab;
}

.form textarea {
    height: 140px;
    resize: none;
    font-family: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form input:not(.customSelect-selected):focus,
.form input:not(.customSelect-selected):active,
.form textarea:focus,
.form textarea:active {
    outline: 0;
    border: 1px solid #bfbfbf;
}

.form label + input,
.form label + textarea {
    margin-top: 14px;
}

.form p + input {
    margin-top: 19px;
}

.form input[type="radio"],
.form input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.form input[type="radio"] + label,
.form input[type="checkbox"] + label {
    position: relative;
    padding-left: 26px;
    display: block;
}

.form input[type="radio"] + label::before,
.form input[type="radio"] + label::after {
    position: absolute;
    left: 0;
    top: -2px;
    content: '';
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form input[type="radio"] + label::before {
    width: 17px;
    height: 17px;
    border: 1px solid #b9b9b9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form input[type="radio"] + label:hover::before,
.form input[type="radio"]:checked + label::before {
    border-color: #4bb0ce;
}

.form input[type="radio"] + label::after {
    width: 9px;
    height: 9px;
    background: #4bb0ce;
    opacity: 0;
    margin: 4px 0 0 4px;
}

.form input[type="radio"]:checked + label::after {
    opacity: 1;
}

.form input[type="checkbox"] + label::before,
.form input[type="checkbox"] + label::after {
    position: absolute;
    left: 0;
    top: -2px;
    content: '';
    width: 16px;
    height: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form input[type="checkbox"] + label::before {
    border: 1px solid #b9b9b9;
}

.form input[type="checkbox"] + label:hover::before,
.form input[type="checkbox"]:checked + label::before {
    border: 1px solid #4bb0ce;
}

.form input[type="checkbox"] + label::after {
    background: url('assets/img/icon/icon-checkbox-selected.svg') center center/12px 12px no-repeat;
    opacity: 0;
}

.form input[type="checkbox"]:checked + label::after {
    opacity: 1;
}

.form button {
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
}

.form button[type="button"] {
    border: 1px solid #4bb0ce;
    color: white;
}

.form button[type="button"]:hover {
    background: #4bb0ce;
    border: 1px solid #4bb0ce;
    color: white;
}

.form button[type="submit"] {
    color: white;
}

.form button[type="submit"]:hover {
    background: #3196b4;
}

.form label {
    display: table;
    font-size: 15px;
}

.form label._required::after {
    content: '*';
    color: #e9351c;
}

.form p {
    font-size: 12px;
    margin-top: 15px;
}

.form._disabled input {
    border: 0 !important;
    pointer-events: none;
    padding-left: 0 !important;
    color: #b9b9b9 !important;
    height: auto !important;
}

.form._disabled .questionnaire-radio input {
    margin-top: 0 !important;
}

.form._disabled input._empty {
    display: none;
}

.form._disabled input[type="checkbox"] + label {
    display: inline;
}

.form._disabled label {
    pointer-events: none;
    padding-left: 0 !important;
}

.form._disabled label::before,
.form._disabled label::after {
    display: none !important;
}

.form input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    cursor: pointer;
}

.form-file__add {
    display: table;
    position: relative;
    color: #1b1b1b;
    cursor: pointer;
    border-bottom: 1px dashed transparent;
}

.form-file__add:hover {
    border-bottom: 1px dashed;
}

.form-file__attached {
    color: #1b1b1b;
}

.form-file__remove {
    vertical-align: middle;
    cursor: pointer;
    margin-left: 5px;
}

.has-error input {
    border: 1px solid #f04c23;
    background-color: #fff0ec;
    color: #f04c23;
}

.has-error label {
    color: #f04c23;
}

.help-block > * {
    color: #f04c23;
    font-size: 12px;
    margin-top: 15px;
}

.form-container table {
    width: 100%;
}

form-group {
    display: block;
}

form-group + form-group {
    margin-top: 23px;
}

.settings {
    font-size: 25px;
    max-width: 480px;
}

.settings-title {
    font-size: 25px;
}

.phone {
    margin-top: 44px;
    padding-bottom: 11px;
    border-bottom: 1px solid #d9d9d9;
}

.phone._change {
    padding-bottom: 20px;
}

.phone._registration {
    border-bottom: 0;
    padding-bottom: 0;
}

.phone-title {
    font-size: 15px;
    font-weight: 400;
}

.phone-subtitle {
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
}

.phone-view {
    margin-top: 29px;
}

.phone-change {
    position: relative;
}

.phone-change button[type="button"] {
    float: left;
    width: 33%;
}

.phone-change button[type="submit"] {
    width: 240px;
}

.phone-change button[type="button"] + button[type="submit"] {
    float: right;
    width: 63%;
}

.phone-change__trigger {
    float: right;
    font-size: 15px;
    color: #1b1b1b;
    cursor: pointer;
}

.phone-current {
    font-size: 15px;
    color: #b9b9b9;
    border-bottom: 1px dashed transparent;
}

.phone-change__trigger:hover {
    border-bottom: 1px dashed;
}

.phone-change__control {
    margin-top: 20px;
    text-align: center;
}

.phone-change__cancel {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: #1b1b1b;
    cursor: pointer;
    margin-right: 4px;
}

.phone-change__cancel:hover {
    color: #cb3b65;
}

.phone-countryCode {
    float: left;
    font-size: 15px;
    height: 40px;
    line-height: 42px;
    margin-right: 5px;
    margin-top: 19px;
}

.phone-new,
.phone-code {
    display: block;
    overflow: hidden;
    margin-top: 19px;
}

.phone-code__resend,
.phone-code__reenter {
    display: table;
    font-size: 15px;
    color: #1b1b1b;
    cursor: pointer;
    border-bottom: 1px dashed transparent;
}

.phone-code__resend:hover,
.phone-code__reenter:hover {
    border-bottom: 1px dashed;
}

.phone-code__resend {
    margin: 43px auto 0;
}

.phone-code__reenter {
    margin: 10px auto 0;
}

.email {
    border-bottom: 1px solid #d9d9d9;
    margin-top: 23px;
    padding-bottom: 10px;
}

.email._change {
    padding-bottom: 20px;
}

.email-title {
    font-size: 15px;
    font-weight: 400;
}

.email-subtitle {
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
}

.email-change {
    position: relative;
}

.email-change button {
    width: 240px;
}

.email-change__control {
    margin-top: 20px;
    text-align: center;
}

.email-change__cancel {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: #1b1b1b;
    cursor: pointer;
    margin-right: 4px;
}

.email-change__cancel:hover {
    color: #cb3b65;
}

.email-new,
.email-code {
    display: block;
    overflow: hidden;
    margin-top: 19px;
}

.email-code__resend,
.email-code__reenter {
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
    border-bottom: 1px dashed transparent;
}

.email-code__resend:hover,
.email-code__reenter:hover {
    border-bottom: 1px dashed;
}

.email-code__resend {
    float: left;
}

.email-code__reenter {
    float: right;
}

.email-change__trigger {
    float: right;
    font-size: 15px;
    color: #1b1b1b;
    cursor: pointer;
    border-bottom: 1px dashed transparent;
}

.email-change__trigger:hover {
    border-bottom: 1px dashed;
}

.email-change__trigger._noEmail {
    margin-top: -15px;
}

.email-current {
    font-size: 15px;
    color: #b9b9b9;
}

.email-view {
    margin-top: 29px;
}

.email-view._noEmail {
    margin-top: 0;
}

.password {
    border-bottom: 1px solid #d9d9d9;
    margin-top: 23px;
    padding-bottom: 11px;
}

.password._change {
    padding-bottom: 20px;
}

.password._changeStarted {
    border-bottom: 0;
}

.password._registration {
    padding-bottom: 0;
    border-bottom: 0;
}

.password-title {
    font-size: 15px;
    font-weight: 400;
}

.password-change {
    position: relative;
}

.password-change__trigger {
    float: right;
    font-size: 15px;
    color: #1b1b1b;
    cursor: pointer;
    border-bottom: 1px dashed transparent;
}

.password-change__trigger:hover {
    border-bottom: 1px dashed;
}

.password-change button {
    width: 240px;
    display: inline-block;
}

.password-change label {
    font-size: 15px;
}

.password-change label::after {
    content: "*";
    color: #e9351c;
}

.password-change__control {
    margin-top: 20px;
    text-align: center;
}

.password-change__cancel {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: #1b1b1b;
    cursor: pointer;
    margin-right: 4px;
}

.password-change__cancel:hover {
    color: #cb3b65;
}

.auth {
    max-width: 380px;
    margin: 58px auto;
}

.auth-title {
    font-size: 25px;
}

.auth-form {
    margin-top: 50px;
    position: relative;
}

.auth-form button {
    margin-top: 20px;
}

.auth-form button[type="submit"] {
    display: block;
    width: 33%;
	float: left;
}

.auth-form button[type="button"] {
    width: 63%;
	float: right;
}

.auth-forgot {
    display: table;
    margin: 43px auto 0;
    font-size: 15px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.auth-forgot:hover {
    border-bottom: 1px solid;
}

.auth-countryCode {
    float: left;
    font-size: 15px;
    height: 40px;
    line-height: 42px;
    margin-right: 5px;
    margin-top: 14px;
}

.auth-countryCode + div {
    overflow: hidden;
    margin-top: 14px;
}

.forgot {
    max-width: 380px;
    margin: 58px auto;
}

.forgot-title {
    font-size: 25px;
}

.forgot-form {
    position: relative;
}

.forgot-form form-group {
    margin-top: 53px;
}

.forgot-form form-group ~ form-group {
    margin-top: 23px;
}

.forgot-form form-group._hidden {
    margin-top: 0 !important;
}

.forgot-form button[type="button"] {
    float: left;
    width: 33%;
    margin-top: 44px;
}

.forgot-form button[type="submit"] {
    margin: 44px auto 0;
    width: 240px;
    display: table;
}

.forgot-form button[type="button"] + button[type="submit"] {
    margin: 44px 0 0;
    float: right;
    width: 63%;
}

.forgot-repeatCode {
    display: table;
    cursor: pointer;
    font-size: 15px;
    margin: 20px auto 0;
    color: #1b1b1b;
    border-bottom: 1px dashed transparent;
}

.forgot-repeatCode:hover {
    border-bottom: 1px dashed;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    background: rgba(27, 27, 27, 0.5);
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.modal-open .modal {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.modal-dialog {
    background: white;
    margin: auto;
    -webkit-box-shadow: 0 0 18px rgba(255, 255, 255, 0.46);
    box-shadow: 0 0 18px rgba(255, 255, 255, 0.46);
    width: 580px;
    padding: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
}

.modal-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.modal-close::before,
.modal-close::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: center center/15px 15px no-repeat;
}

.modal-close::before {
    background-image: url("assets/img/icon/icon-close.svg");
}

.modal-close::after {
    background-image: url("assets/img/icon/icon-close-hover.svg");
    opacity: 0;
}

.modal-close:hover {
    background-color: #cb3b65;
}

.modal-close:hover::before {
    opacity: 0;
}

.modal-close:hover::after {
    opacity: 1;
}

.modal-ok {
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    background: #f04c23;
    width: 150px;
    text-align: center;
    margin: 30px auto 0;
}

.modal-ok:hover {
    background: #d8431d;
}

.registration {
    max-width: 380px;
    margin: 58px auto;
}

.registration._offer {
    max-width: 640px;
}

.registration._offer .registration-form form-group:not(:first-of-type) {
    margin-top: 20px;
}

.registration-title {
    font-size: 25px;
}

._complete .registration-title {
    color: #4bb0ce;
    text-align: center;
}

.registration-form {
    height: inherit;
    position: relative;
}

.registration-form label:after,
.registration .phone-subtitle:after {
    content: "*";
    color: #e9351c;
}

.questionnaire-item label:not(._required):after {
    content: "";
}

.registration-form label a {
    color: #f04c23;
}

.popup .registration-form {
    margin-top: 0;
}

.registration-form button {
    margin-top: 40px;
}

.registration-form button:disabled,
.registration-form button:disabled:hover {
    background-color: #e0e0e0;
    cursor: default;
}

.registration-form button[type="button"] {
    float: left;
    width: 33%;
}

.registration-form button[type="submit"] {
    float: right;
    width: 63%;
}

.registration-form._complete button,
.registration-form ._hideButton button {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.registration-form._complete button {
    width: 240px;
}

.registration-form form-group {
    margin-top: 43px;
}

.registration-phone__countryCode {
    float: left;
    font-size: 15px;
    height: 40px;
    line-height: 42px;
    margin-right: 5px;
    margin-top: 19px;
}

.registration-phone__number {
    overflow: hidden;
    margin-top: 19px;
}

.registration-offer__text {
    padding-right: 20px;
}

.registration-buttons {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
}

.registration-note {
    display: block;
    line-height: 1.2;
    position: relative;
    padding-left: 6px;
    margin-top: 10px;
}

.registration-note:before {
    content: '*';
    position: absolute;
    left: 0;
}

.questionnaire label {
    line-height: 1.2;
}

.questionnaire ._disabled label._hideOnDisabled {
    display: none !important;
}

.questionnaire-title {
    font-size: 25px;
}

.questionnaire-subtitle {
    color: #4a565d;
    font-size: 20px;
    font-weight: 400;
    margin-top: 31px;
}

.questionnaire-item {
    margin-top: 29px;
    position: relative;
}

.questionnaire-date__preview {
    color: #b9b9b9;
    margin-top: 19px;
    display: none;
}

._disabled .questionnaire-date__preview {
    display: block;
}

._disabled .questionnaire-item {
    border-bottom: 1px solid #d9d9d9 !important;
    padding-bottom: 11px !important;
}

._disabled .questionnaire-item .questionnaire-item:last-child {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.questionnaire-radio {
    margin-top: 20px;
    position: relative;
}

.questionnaire-radio + .questionnaire-radio {
    margin-top: 10px;
}

#Sex ~ .questionnaire-radio,
#Avto ~ .questionnaire-radio {
    display: inline-block;
}

#Sex ~ .questionnaire-radio + .questionnaire-radio,
#Avto ~ .questionnaire-radio + .questionnaire-radio {
    margin-left: 30px;
}

._disabled .questionnaire-radio:not(._selected) {
    display: none !important;
}

._disabled .questionnaire-radio._selected {
    margin-left: 0 !important;
    margin-top: 10px !important;
    display: block !important;
    color: #b9b9b9 !important;
    padding-bottom: 0 !important;
}

.questionnaire-edit .questionnaire-column {
    float: left;
    width: 370px;
}

.questionnaire-edit .questionnaire-column + .questionnaire-column {
    margin-left: 43px;
}

.questionnaire-checkbox {
    position: relative;
    margin-top: 20px;
}

.questionnaire-checkbox + .questionnaire-checkbox {
    margin-top: 10px;
}

.questionnaire-notification {
    clear: both;
    text-align: center;
}

.questionnaire-submit {
    text-align: center;
    margin-top: 30px;
}

.registration .questionnaire-submit {
    margin-top: 0;
}

.questionnaire-submit button {
    width: 240px;
}

.questionnaire-edit {
    position: relative;
    min-height: 200px;
}

.questionnaire-modify {
    position: absolute;
    right: 0;
    top: -16px;
    color: #1b1b1b;
    font-size: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.questionnaire-modify::before {
    position: absolute;
    content: '';
    left: -35px;
    top: -6px;
    width: 24px;
    height: 24px;
    background: url("assets/img/icon/icon-settings.svg") center center/100% 100% no-repeat;
}

.questionnaire-modify span {
    border-bottom: 1px dashed transparent;
}

.questionnaire-modify:hover span {
    border-bottom: 1px dashed;
}

.questionnaire-cancel {
    display: inline-block;
    color: #1b1b1b;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 40px;
}

.questionnaire-cancel:hover {
    color: #4bb0ce;
}

._disabled .questionnaire-checkbox:not(._selected),
._disabled .questionnaire-submit {
    display: none !important;
}

._disabled .questionnaire-checkbox._selected {
    color: #b9b9b9 !important;
}

.sb-date-select {
    margin-top: 14px;
    font-size: 0;
}

._disabled .sb-date-select {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    height: 0;
    margin-top: 0;
}

.sb-date-select select {
    display: block !important;
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.sb-date-select-wrapper {
    width: 32%;
    display: inline-block;
}

.sb-date-select-wrapper:nth-child(2) {
    margin-left: 2%;
    margin-right: 2%;
}

.customSelect {
    position: relative;
}

.customSelect-selected {
    padding: 0 !important;
    text-align: center;
    color: #4a565d !important;
}

.form._disabled .customSelect-selected {
    position: absolute;
}

.customSelect-list {
    text-align: center;
}

.dropdown-menu:not(.datetime-picker-dropdown) li,
.customSelect-item {
    height: 29px;
    line-height: 29px;
    border-bottom: 1px solid #efefef;
    color: #b8b8b8;
    font-size: 15px;
    cursor: pointer;
    padding: 0 10px;
}

.customSelect-item._disabled {
    opacity: 0.9;
    cursor: default;
}

.dropdown-menu:not(.datetime-picker-dropdown) li:hover,
.customSelect-item:not(._disabled):hover {
    background-color: #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    color: #4a565d;
}

.dropdown-menu:not(.datetime-picker-dropdown) li a {
    text-decoration: none !important;
    display: block;
    height: inherit;
    line-height: inherit;
}

.dropdown-menu:not(.datetime-picker-dropdown) {
    position: absolute;
    border: 1px solid #d9d9d9;
    margin-top: -2px;
    background: white;
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    max-height: none;
}

.notifications {
    padding-top: 10px;
    clear: both;
}

form-group + .notifications {
    margin-top: 0;
}

.alert {
    color: red;
    font-size: 14px;
    padding: 10px 15px;
    font-weight: 400;
    line-height: 27px;
    border: 1px solid red;
    background: #fff0ec;
    border-radius: 4px;
    margin: 10px 0 15px 0;
}

.card {
    position: relative;
}

.card-title {
    font-size: 25px;
}

.card-item {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 20px;
    margin-top: 35px;
}

.card-item._blocked {
    color: #b9b9b9 !important;
}

.card-image {
    float: left;
    margin-right: 20px;
    white-space: nowrap;
}

.card-image img {
    width: 150px;
    height: auto;
    box-shadow: 3px 3px 12px -2px;
    -webkit-box-shadow: 3px 3px 12px -2px;
    -moz-box-shadow: 3px 3px 12px -2px;
    border-radius: 16px;
}

.card-image p {
    color: #b9b9b9;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-top: 12px;
    text-align: center;
}

.card-info__wrapper {
    width: 375px;
    overflow: hidden;
    padding-top: 3px;
}

.card-info {
    font-size: 15px;
}

.card-info + .card-info {
    margin-top: 21px;
}

.card-info__key {
    float: left;
}

.card-info__key::after {
    content: ':';
}

.card-info__value {
    float: right;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-info__value._zero {
    color: #b9b9b9;
}

.card-action {
    float: right;
    font-size: 15px;
    line-height: 1.25;
}

.card-action:not(._blocked) {
    height: 90px;
    line-height: 90px;
    color: #1b1b1b;
    font-weight: 700;
}

.card-action._canReplace {
    line-height: 1.25;
}

.card-action._canReplace div:last-child {
    margin-top: 18px;
    text-align: right;
}

.card-action div {
    border-bottom: 1px dashed transparent;
    cursor: pointer;
}

.card-action div:hover {
    color: #4bb0ce;
}

.card-add {
    display: table;
    color: #151515;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 22px;
    border-bottom: 1px dashed transparent;
}

.card-add:hover {
    color: #4bb0ce;
}

.card-modal__title {
    font-size: 30px;
}

.card-form {
    margin-top: 21px;
}

.card-form button {
    display: block;
    width: 100%;
    max-width: 240px;
    margin: 20px auto 0;
}

.card-form button[type="button"] {
    float: left;
    width: 33%
}

.card-form button[type="button"] + button[type="submit"] {
    float: right;
    width: 63%;
}

.card-form__control {
    width: 380px;
    margin: 0 auto;
}

.card-form__sendCode {
    display: table;
    margin: 20px auto 0;
    font-size: 15px;
    border-bottom: 1px dashed transparent;
    cursor: pointer;
}

.card-form__sendCode:hover {
    border-bottom: 1px dashed;
}

.breadcrumbs {
    font-size: 0;
    max-width: 1180px;
    margin: 23px auto 0;
}

.breadcrumbs-item {
    font-size: 12px;
    color: #cb3b65;
    display: inline-block;
    vertical-align: top;
}

.breadcrumbs-item:last-child {
    color: #ababab;
}

.breadcrumbs-item:not(:first-child) {
    margin-left: 3px;
}

.breadcrumbs-item:not(:last-child)::after {
    color: #ef231c;
    content: '›';
    margin-left: 3px;
}

.breadcrumbs-item a {
    color: inherit;
}

.breadcrumbs-item a:hover {
    text-decoration: underline;
}

.pagination {
    text-align: center;
}

.pagination li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
}

.pagination li a {
    display: block;
    color: #4a565d;
    font-size: 15px;
    font-weight: 300;
}

.pagination li.active a {
    font-weight: 700;
}

.pagination li.disabled a {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}

.pagination-prev a,
.pagination-next a {
    width: 24px;
    height: 19px;
    background: url("assets/img/icon/icon-arrow.svg") center center/18px 13px no-repeat;
}

.pagination-prev a {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.alert-message {
    color: #4bb0ce;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.social {
    margin-top: 20px;
    font-size: 0;
}

.social-auth .social {
    vertical-align: super;
    display: inline-block;
}

.social-auth {
    margin-top: 25px;
	text-align: center;
}

.social-settings {
    margin-top: 60px;
}

.social-settings__title {
    font-size: 15px;
    font-weight: 400;
}

.social-logo {
    width: 40px;
    height: 40px;
}

.social-auth .social-logo {
    cursor: pointer;
}

.social-settings .social-logo {
    display: inline-block;
    vertical-align: top;
}

.social-auth .social-item {
    display: inline-block;
    vertical-align: middle;
}

.social-auth .social-item + .social-item {
    margin-left: 10px;
}

.social-settings .social-item + .social-item {
    margin-top: 20px;
}

.social-action {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 14px;
    cursor: pointer;
}

.social-action:hover {
    text-decoration: underline;
}

.scroller-wrapper {
    max-height: 350px;
    overflow: hidden;
    position: relative;
}

.scroller {
    overflow-y: scroll;
    max-height: inherit;
    -webkit-overflow-scrolling: touch;
}

.scroller::-webkit-scrollbar {
    width: 0;
}

.scroller-track {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    width: 6px;
    visibility: hidden;
    pointer-events: none;
}

._scrollbar .scroller-track {
    visibility: visible;
    pointer-events: auto;
}

.scroller-bar {
    position: absolute;
    z-index: 1;
    width: inherit;
    border-radius: 3px;
    background: #f04c23;
    pointer-events: auto;
}

.customSelect {
    position: relative;
}

.customSelect select {
    display: block !important;
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.customSelect-list {
    width: 100%;
    background: white;
    margin: 0;
}

.customSelect-item {
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.customSelect-item._disabled {
    cursor: default;
    color: #e0e0e0;
}

.customSelect-item:not(._disabled):hover {
    background-color: rgba(240, 76, 35, .1);
}

.customSelect-selected._disabled {
    color: #e0e0e0 !important;
}

.customSelect-scroller {
    overflow-y: scroll;
    height: inherit;
    -webkit-overflow-scrolling: touch;
}

.customSelect-scroller::-webkit-scrollbar {
    width: 0;
}

.customSelect-scroller__wrapper {
    height: 200px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    margin-top: -2px;
    border: 1px solid #d9d9d9;
    border-top: 0;
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    max-height: none;
}

.customSelect-scroller__wrapper._hide {
    left: -9999px;
    top: -9999px;
}

.customSelect-scroller__track {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    width: 6px;
}

.customSelect-scroller__bar {
    position: absolute;
    z-index: 1;
    width: inherit;
    border-radius: 3px;
    background: #f04c23;
    pointer-events: auto;
}

.home .title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}

.home .login-btn {
    float: left;
    width: 33%;
}

.home .reg-btn {
    float: right;
    width: 63%;
}

.home button {
    height: 40px;
    background: #4bb0ce;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
}

.home button.reg-btn {
    border: 1px solid #4bb0ce;
    background: transparent;
    color: #4bb0ce;
}

.home button.reg-btn:hover {
    border: 1px solid #4bb0ce;
    background: #4bb0ce;
    color: white;
}

.home button.login-btn {
    color: white;
    background: #4bb0ce;
}

.home button.login-btn:hover {
    background: #4bb0ce;
}

.content-column__right section,
.content-column__right .settings, 
.content-column__right .questionnaire,
.content-column__right .feedback {
    background-color: white;
    border-radius: 12px;
    padding: 25px;
	max-width: 815px;
}

.auth,
.forgot,
.registration {
	margin-top: 25px;
	background-color: white;
    border-radius: 12px;
    padding: 25px;
}

.settings section {
	background-color: transparent;
	border-radius: 0;
	padding: 0;
	max-width: 550px;
}

.history section.date {
	padding: 0;
}

.home button[type="button"].cancel {
    background-color: transparent;
    border: 1px solid #4bb0ce;
    color: #4bb0ce;
}

.home button[type="button"].cancel:hover {
    background-color: #4bb0ce;
    color: white;
}

.feedback button {
    width: 240px;
}

.feedback-title {
    font-size: 25px;
}

.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea {
    margin-top: 10px;
}

.feedback.form .wpcf7 {
    margin-top: 35px;
}

.feedback .wpcf7-not-valid-tip {
    color: #f04c23;
    font-size: 12px;
    margin-top: 15px;
}

.wpcf7-not-valid {
    border: 1px solid #f04c23;
    background-color: #fff0ec;
    color: #f04c23;
}

.wpcf7-validation-errors {
    color: red;
    font-size: 14px;
    padding: 10px 15px;
    font-weight: 400;
    line-height: 27px;
    border: 1px solid red !important;
    background: #fff0ec;
    border-radius: 4px;
    margin: 10px 0 15px 0;
}

.wpcf7-mail-sent-ok {
    color: #155724;
    font-size: 14px;
    padding: 10px 15px;
    font-weight: 400;
    line-height: 27px;
    border: 1px solid #155724 !important;
    background: #d4edda;
    border-radius: 4px;
    margin: 10px 0 15px 0;
}