<section class="password" ng-class="{'_change': isChangeProcessStarted, '_registration': registration, '_changeStarted': isChangeProcessStarted}">
    <div ng-if="!isChangeProcessStarted && !registration">
        <button type="button" ng-click="openForm()" class="password-change__trigger">{{'change'|translate}}</button>
    </div>

    <div ng-if="registration">
        <form class="form registration-form" novalidate name="setPasswordForm" ng-submit="setPasswordForm.$valid && setPassword()" loader="inProgress">
            <h1 class="registration-title">Введите пароль</h1>
            <notifications area="registration"></notifications>
            <form-group label-text="Придумайте надёжный пароль">
                <input
                    type="password"
                    ng-model="model.currentPassword"
                    id="password"
                    name="password"
                    placeholder="Пароль"
                    ng-disabled="inProgress"
                    required
                />
            </form-group>
            <form-group class="password-repeat">
                <input
                    type="password"
                    ng-model="model.repeatPassword"
                    id="passwordConfirm"
                    name="passwordConfirm"
                    placeholder="Повторите пароль"
                    ng-disabled="inProgress"
                    is-equal-passwords="model.currentPassword"
                    required
                />
            </form-group>
            <div class="btn-container clearfix">
                <button type="button" class="btn-negative" ng-click="$root.logout()">{{:: 'cancel' | translate}}</button>
                <button type="submit">{{:: registration? 'Далее' : 'Изменить' }}</button>
            </div>
        </form>
    </div>

    <div ng-if="isChangeProcessStarted">
        <form class="form password-change" novalidate name="form" ng-submit="form.$valid && save()" loader="loader.inProgress">
            <notifications area="userPassword"></notifications>
            <form-group label-grid-part="5">
                <label for="currentPassword">Текущий пароль</label>
                <input
                        type="password"
                        ng-model="model.currentPassword"
                        name="currentpassword"
                        id="currentPassword"
                        placeholder="Пароль"
                        autofocus
                        required
                >
            </form-group>

            <form-group label-grid-part="5">
                <label for="newPassword">{{:: 'personal.changePassword.newPassword' | translate}}</label>
                <input
                        type="password"
                        ng-model="model.newPassword"
                        name="newpassword"
                        id="newPassword"
                        placeholder="Новый пароль"
                        required
                />
            </form-group>

            <form-group label-grid-part="5">
                <label for="repeatPassword">{{:: 'personal.changePassword.repeatPassword' | translate}}</label>
                <input
                        type="password"
                        ng-model="model.repeatPassword"
                        name="repeatPassword"
                        id="repeatPassword"
                        placeholder="Повторите новый пароль"
                        is-equal-passwords="model.newPassword"
                        required
                />
            </form-group>

            <div class="password-change__control btn-container">
                <button type="button" class="btn-negative" ng-click="closeForm()">{{:: 'cancel' | translate}}</button>
                <button type="submit">{{:: registration? 'Далее' : 'Изменить' }}</button>
            </div>
        </form>
    </div>
</section>
