<div class="cards">
    <div class="row">
        <div class="heading">
            <h2 class="title">Мои карты</h2>
        </div>
    </div>
    <notifications></notifications>
    <p class="advice">Для того, чтобы заменить карту на новую, её необходимо предварительно <b>заблокировать</b>.</p>
    <div class="cards-container" loader="inProgress">
        <div class="card-item" ng-repeat="card in cards track by card.id" ng-class="{'card-block-opacity' : card.block}">
            <div class="card-img">
                <img ng-src="{{:: card.imageUrl }}" onerror="this.src='/wp-content/themes/bin/assets/img/image_not_found.png'" alt="">
            </div>
            <dl class="card-number">
                <dt class="card-number__key">Карта:</dt>
                <dd class="card-number__value">
                    {{:: card.number | charsDivide: 4}}
                </dd>
            </dl>
            <dl class="card-owner" ng-if="card.cardOwnerInfo.firstName || card.cardOwnerInfo.lastName || card.cardOwnerInfo.patronymicName">
                <dt class="card-owner__key">Владелец:</dt>
                <dd class="card-owner__value">
                    {{:: card.cardOwnerInfo.lastName}} {{:: card.cardOwnerInfo.firstName}} {{:: card.cardOwnerInfo.patronymicName}}
                </dd>
            </dl>
            <dl class="card-accumulated">
                <dt class="card-accumulated__key">Получено на карту:</dt>
                <dd class="card-accumulated__value">
                    {{:: card.accumulated.amount}} б.
                </dd>
            </dl>
            <dl class="card-paid">
                <dt class="card-paid__key">Израсходовано:</dt>
                <dd class="card-paid__value">
                    {{:: card.paid.amount}} б.
                </dd>
            </dl>
            <div class="action-links">
                <a class="link" ng-if="card.cardActionAccessInfo.canBlock" ng-click="blockStateChange(card)">{{card.block ? 'Разблокировать': 'Заблокировать'}}</a>
                <a class="link" ng-if="card.cardActionAccessInfo.canReplace" ng-click="replaceCard(card)">Заменить</a>
            </div>
        </div>
        <button type="button" class="btn-lg attach-card" ng-click="attachCard()">Добавить карту</button>
    </div>
</div>
