<div class="personal-offer-content">
    <span class="personal-offer__title">
        {{::personalOffer.title}}
        <span ng-if="personalOffer.brands.length === 1">
            (<a ng-href="#/personalOffers/map/{{personalOffer.id}}">Посмотреть на карте</a>)
        </span>
    </span>
    <div ng-if="personalOffer.brands.length > 1" class="personal-offer-brands">
        <span
                class="personal-offer-brands__names"
                ng-repeat="brand in personalOffer.brands"
        >
            {{::brand.name}}<span ng-show="!$last">, </span>
        </span>
        <span>(<a ng-href="#/personalOffers/map/{{personalOffer.id}}">Посмотреть на карте</a>)</span>
    </div>
    <div ng-if="personalOffer.brands.length === 1">
        <img class="brand-img" ng-src="{{personalOffer.brands[0].imgUrl}}" alt="">
    </div>
    <div class="personal-offer__dates">
        <img src="wp-content/themes/bin/assets/img/calendar.png" alt="">
        <p class="_date">с {{::personalOffer.begin | shortDate }} {{::personalOffer.end ? 'по '+ (personalOffer.end |shortDate) : ''}}</p>
    </div>
    <p class="personal-offer__description">{{::personalOffer.description}}</p>
</div>