﻿<div class="form-group clearfix" ng-class="{ 'has-error': form.$submitted && model.$invalid, 'vertical-form': vertical }">
    <div ng-class="{'row': !vertical}">
        <div ng-class=":: verticalCentered ? 'vertical-centered' : ''">
            <div class="form-container" ng-class="vertical ? '' : 'col-sm-'+labelGridPart">
                <label ng-if="labelText !== undefined" class="control-label full-width subtitle {{:: 'text-'+labelAlign}}" for="{{itemId}}">{{labelText}}</label>
            </div>
            <div class="form-container" ng-class="vertical ? '' : 'col-sm-'+ ( 12 - labelGridPart )">
                <table><tr>
                    <td><ng-transclude ng-show="!viewMode"></ng-transclude></td>
                    <td ng-if=":: hint != undefined" class="hint-container">
                        <span class="hinter" ng-if=":: hint" uib-tooltip="{{::hint}}" tooltip-trigger="mouseenter" tooltip-class="description-tooltip">i</span>
                    </td>
                </tr></table>
                <span ng-if="viewMode" class="view-mode-value">{{viewModeValue || model.$viewValue}}</span>
                <div class="help-block" ng-if="form.$submitted">
                    <div ng-if="model.$error.validationErrors" ng-repeat="error in model.$error.validationErrors">
                        <div>{{error}}</div>
                    </div>
                    <div ng-if="!model.$error.validationErrors" ng-repeat="(error, value) in model.$error">
                        <div>{{errorMessage(error, model.$viewValue)}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
