<form novalidate class="form auth-form" method="post" name="loginForm" ng-submit="loginForm.$valid && generateEvent('authInProcess') && login()" id="loginForm">
    <notifications area="login"></notifications>
    <form-group label-text="Введите номер карты" label-grid-part="4">
        <input
            type="text"
            ng-model="loginData.login"
            id="login"
            name="login"
            class="form-control"
            mask="9999-9999-9999-9999"
            mask-clean="true"
            validate="false"
            restrict="reject"
            placeholder="0000-0000-0000-0000"
            required
            ng-attr-autofocus="{{(currentLocation && !siteStructure.hasOwnProperty(appLocationParts[0])) ? undefined : ''}}"
            ng-disabled="authInProgress"
        >
    </form-group>
    <form-group label-grid-part="4">
        <input type="password"
               ng-model="loginData.password"
               id="password"
               name="password"
               placeholder="Пароль"
               class="form-control"
               required
               autocomplete="off"
               ng-disabled="authInProgress"
        >
    </form-group>
    <button ng-hide="authInProgress" type="submit" class="sign-in-btn btn">
        <img src="wp-content/themes/bin/assets/img/header/sign_in.svg" alt="">Войти
    </button>
    <img ng-show="authInProgress" class="loader" src="wp-content/themes/bin/assets/img/loader.svg" alt="">
</form>
