﻿<div class="user-password">
    <div ng-if=":: !registration" class="settings-line">
        <div ng-if="!isChangeProcessStarted" class="info">
            <h3 class="label">{{::'password' | translate}}</h3>
            <notifications area="userPassword"></notifications>
            <div class="current-value">
                <span>**********</span>
            </div>
            <a ng-click="openForm()" class="right-control" id="settings-openForm">{{::'change'|translate}}</a>
        </div>

        <div ng-if="isChangeProcessStarted" class="user-password-changing">
            <h3>Пароль</h3>
            <notifications area="userPassword"></notifications>
            <form novalidate name="form" ng-submit="form.$valid && save()">
                <form-group>
                    <div class="input-field">
                        <input type="password"
                               ng-model="model.currentPassword"
                               ng-disabled="inProgress"
                               name="currentPassword"
                               id="currentPassword"
                               autofocus
                               required>
                        <label for="currentPassword">{{:: 'personal.changePassword.currentPassword' | translate}}</label>
                    </div>
                </form-group>

                <form-group>
                    <div class="input-field">
                        <input type="password"
                               ng-model="model.newPassword"
                               ng-disabled="inProgress"
                               name="newPassword"
                               id="newPassword"
                               required/>
                        <label for="newPassword">{{:: 'personal.changePassword.newPassword' | translate}}</label>
                    </div>
                </form-group>

                <form-group>
                    <div class="input-field">
                        <input type="password"
                               ng-model="model.repeatPassword"
                               ng-disabled="inProgress"
                               name="repeatPassword"
                               id="repeatPassword"
                               is-equal-passwords="model.newPassword"
                               required>
                        <label for="repeatPassword">{{:: 'personal.changePassword.repeatPassword' | translate}}</label>
                    </div>
                </form-group>

                <div class="btn-container">
                    <inline-loader line>inProgress</inline-loader>
                    <div ng-hide="inProgress">
                        <button type="button" id="settings-cancel" ng-click="closeForm()" class="btn btn-cancel waves-effect">
                            {{:: 'cancel' | translate}}
                        </button>
                        <button type="submit" id="settings-submit" class="btn waves-effect waves-light" ng-hide="loader.inProgress">
                            {{:: 'approve' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div ng-if=":: registration">
        <h2 class="center">Установите пароль</h2>
        <notifications area="registration"></notifications>
        <form novalidate name="setPasswordForm" ng-submit="setPasswordForm.$valid && setPassword()">
            <form-group>
                <div class="input-field">
                    <input type="password"
                           ng-model="model.currentPassword"
                           id="password"
                           name="password"
                           ng-disabled="inProgress"
                           required>
                    <label for="password">{{:: 'personal.changePassword.password' | translate}}</label>
                </div>
            </form-group>
            <form-group>
                <div class="input-field">
                    <input type="password"
                           ng-model="model.repeatPassword"
                           id="passwordConfirm"
                           name="passwordConfirm"
                           ng-disabled="inProgress"
                           is-equal-passwords="model.currentPassword"
                           required>
                    <label for="passwordConfirm">{{:: 'personal.changePassword.repeatPassword' | translate}}</label>
                </div>
            </form-group>
            <div class="btn-container">
                <inline-loader line>inProgress</inline-loader>
                <div ng-hide="inProgress">
                    <button type="button" ng-click="closeForm()" class="btn btn-cancel waves-effect" id="registration-password__cancel">
                        {{:: 'cancel' | translate}}
                    </button>
                    <button type="submit" class="btn waves-effect waves-light" id="registration-password__submit">{{:: 'next' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
