﻿<div class="container reset-password">
    <div class="card z-depth-1-half">
        <h2 class="center">Восстановление пароля</h2>
        <notifications area="resetPassword"></notifications>

        <div class="auth-frame">
            <form novalidate ng-if="steps.start" name="forms.resetPasswordStart" ng-submit="forms.resetPasswordStart.$valid && start()">
                <p>Укажите контакт для восстановления пароля</p>
                <form-group>
                    <div class="input-field">
                        <input type="text"
                               ng-model="model.identity"
                               ng-disabled="inProgress"
                               id="startIdentity" name="startIdentity"
                               required
                               autofocus>
                        <label for="startIdentity">Номер телефона / Email</label>
                    </div>
                </form-group>
                <div class="btn-container">
                    <div ng-hide="inProgress">
                        <button type="button" class="btn btn-cancel waves-effect" ng-click="cancel()">{{:: 'cancel' | translate}}</button>
                        <button type="submit" class="btn waves-effect waves-light" id="reset-password-submit">{{:: 'next' | translate}}</button>
                    </div>
                    <inline-loader line>inProgress</inline-loader>
                </div>
            </form>
            <form novalidate ng-if="steps.confirm" name="forms.resetPasswordConfirm" ng-submit="forms.resetPasswordConfirm.$valid && confirm()">
                <form-group class="confirm-code-field" ng-hide="isResetPasswordConfirmationCodeHidden()">
                    <div class="input-field">
                        <input ng-model="model.confirmCode"
                               ng-disabled="inProgress"
                               id="confirmCode" name="confirmcode"
                               type="text"
                               required>
                        <label for="confirmCode" ng-class="{'active': !!model.confirmCode}">Код подтверждения</label>
                    </div>
                </form-group>
                <div class="row center">
                    <a id="confirm-code-repeated" ng-click="start()" ng-hide="inProgress">Выслать код подтверждения ещё раз</a>
                </div>
                <form-group>
                    <div class="input-field">
                        <input type="password"
                               ng-model="model.newPassword"
                               ng-disabled="inProgress"
                               id="newPassword" name="newPassword"
                               required>
                        <label for="newPassword">Новый пароль</label>
                    </div>
                </form-group>
                <form-group>
                    <div class="input-field">
                        <input type="password"
                               ng-model="model.repeatPassword"
                               ng-disabled="inProgress"
                               id="newPasswordConfirm" name="newPasswordConfirm"
                               is-equal-passwords="model.newPassword"
                               required>
                        <label for="newPasswordConfirm">Подтверждение нового пароля</label>
                    </div>
                </form-group>
                <div class="btn-container">
                    <div ng-hide="inProgress">
                        <button type="button" class="btn btn-cancel waves-effect" id="confirm-code-cancel" ng-click="cancel()">{{:: 'cancel' | translate}}</button>
                        <button type="submit" class="btn waves-effect waves-light" id="confirm-code-submit">{{:: 'next' | translate}}</button>
                    </div>
                    <inline-loader line>inProgress</inline-loader>
                </div>
            </form>
        </div>
    </div>
</div>
