<section class="email" ng-class="{'_change': isChangeProcessStarted}">
    <h2 class="email-title" ng-if="!registration">E-mail</h2>

    <div ng-if="!isChangeProcessStarted" class="email-view" ng-class="{'_noEmail': !currentEmail}">
        <div ng-click="openForm()" class="email-change__trigger" ng-class="{'_noEmail': !currentEmail}">{{'change'|translate}}</div>
        <div class="email-current">{{:: currentEmail}}</div>
    </div>

    <div ng-if="isChangeProcessStarted" class="user-email">
        <form class="form email-change" novalidate name="form" ng-submit="form.$valid && next(form)" loader="loader.inProgress">
            <div ng-if="step === 1">
                <h3 class="email-subtitle">
                    Введите <b>новый</b> электронный адрес. На&nbsp;этот адрес вы&nbsp;получите письмо с&nbsp;дальнейшей инструкцией
                </h3>
                <form-group class="email-new" label-grid-part="5" ng-attr-vertical="registration">
                    <input
                        type="email"
                        ng-model="model.newEmail"
                        name="email"
                        id="newEmail"
                        required
                        autofocus
                    >
                </form-group>
            </div>

            <div ng-if="step === 2">
                <h3 class="email-subtitle">
                    Введите код подтверждения, который был отправлен на&nbsp;почту <b>{{::newEmail}}</b>
                </h3>
                <form-group class="email-code" label-grid-part="5" ng-attr-vertical="registration">
                    <input
                        type="text"
                        ng-model="model.confirmationCode"
                        name="confirmcode"
                        id="confirmationCode"
                        integer
                        required
                    />
                </form-group>
            </div>

            <notifications area="userEmail"></notifications>
            <notifications area="registration"></notifications>

            <div class="email-change__control">
                <inline-loader line>loader.inProgress</inline-loader>
                <div ng-click="closeForm()" class="email-change__cancel">{{:: 'cancel' | translate}}</div>
                <button type="submit">Подтвердить</button>
            </div>

            <div class="clearfix" ng-if="step === 2">
                <div class="phone-code__resend" ng-click="reSendCode()">Отправить код заново</div>
                <div class="phone-code__reenter" ng-click="reEnterEmail(form)">Ввести другой e-mail</div>
            </div>
        </form>
    </div>
</section>
