﻿<div class="card-assignment">
    <h2 class="center">Введите номер карты</h2>
    <notifications area="registration"></notifications>
    <form novalidate name="assignCardForm" ng-show="isVirtualCardEmissionAllowed !== undefined" ng-submit="assignCardForm.$valid && assignCard()">
        <form-group>
            <div class="input-field">
                <input
                    type="text"
                    ng-model="cardModel.cardNumber"
                    ng-disabled="stepInProgress"
                    id="cardNumber" name="cardNumber"
                    required
                    autofocus
                >
                <label for="cardNumber">Номер карты</label>
            </div>
        </form-group>
        <div class="hint">
            <p ng-if="!isVirtualCardEmissionAllowed">Завершить регистрацию возможно только при наличии на руках карты</p>
        </div>
        <div class="btn-container">
            <div ng-hide="stepInProgress">
                <button ng-if="!isVirtualCardEmissionAllowed" type="button" ng-click="cancel()" class="btn btn-cancel waves-effect">
                    {{:: 'cancel' | translate}}
                </button>
                <button
                    ng-if="isVirtualCardEmissionAllowed"
                    type="button"
                    ng-click="emitVirtualCard()"
                    class="btn btn-cancel waves-effect"
                    id="registration-assignCard__doNotHave"
                >
                    {{:: 'cards.noCard' | translate}}
                </button>
                <button type="submit" class="btn waves-effect waves-light" id="registration-assignCard__submit">{{:: 'complete' | translate}}</button>
            </div>
            <inline-loader line>stepInProgress</inline-loader>
        </div>
    </form>
</div>
