<div class="margin-bottom center">
    <h2>Регистрация успешно завершена</h2>
    <p>Добро пожаловать в программу лояльности!</p>
    <button type="button" ng-click="continue()" class="btn waves-effect waves-light">Войти в Личный кабинет</button>
</div>
