﻿<div class="registration-start">
    <h2 class="center">Регистрация</h2>
    <notifications area="registration"></notifications>
    <div loader="acceptTenderOfferByCheck && (isOfferAndAgreementLoaded === undefined)">
        <form
            novalidate
            name="registrationForm"
            ng-submit="registrationForm.$valid && registration(registrationForm)"
            id="registrationForm"
            ng-hide="acceptTenderOfferByCheck && (isOfferAndAgreementLoaded === undefined)"
        >
            <form-group ng-class=":: {'required': referralRegistration}" ng-if="!tokenForSocialRegistration">
                <div class="input-field phone-field">
                    <span class="country-code"></span>
                    <input
                        type="text"
                        ng-model="registrationData.login"
                        ng-disabled="inProgress || authInProgress || actionsInProgress"
                        id="login" name="login"
                        mask="(999) 999-9999"
                        clean="true"
                        validate="false"
                        placeholder="(999) 999-9999"
                        restrict="reject"
                        required
                        autofocus
                    >
                    <label for="login" class="active">Номер телефона</label>
                </div>
            </form-group>
            <div class="hint phone-hint" ng-if="!tokenForSocialRegistration">
                <p>На&nbsp;данный номер будет выслано SMS с&nbsp;кодом подтверждения</p>
            </div>
            <form-group ng-if="passwordRequired">
                <div class="input-field">
                    <input
                        type="password"
                        ng-model="registrationData.password"
                        id="password" name="password"
                        ng-disabled="authInProgress || actionsInProgress"
                        required
                    >
                    <label for="password">Пароль</label>
                </div>
            </form-group>
            <form-group ng-if=":: referralRegistration">
                <div class="input-field">
                    <input
                        type="text"
                        ng-model="referrerCardNumber.value"
                        ng-disabled="authInProgress || actionsInProgress"
                        name="referrerCardNumber"
                        id="referrerCardNumber"
                    >
                    <label for="referrerCardNumber">Номер карты друга</label>
                </div>
            </form-group>
            <form-group ng-if="acceptTenderOfferByCheck">
                <input
                    type="checkbox"
                    class="filled-in"
                    id="userAgreesWithOfferByCheck"
                    name="userAgreesWithOfferByCheck"
                    ng-model="offer"
                    ng-disabled="!isOfferAndAgreementLoaded || authInProgress || actionsInProgress"
                    required
                >
                <label for="userAgreesWithOfferByCheck">
                    Я принимаю <a target="_blank" href="{{apiHost}}api/Files/{{::offerPdfFileId}}">условия оферты</a>
                </label>
            </form-group>
            <form-group ng-if="acceptTenderOfferByCheck">
                <input
                    type="checkbox"
                    class="filled-in"
                    id="userAgreesWithPDPByCheck"
                    name="userAgreesWithPDPByCheck"
                    ng-model="agreement"
                    ng-disabled="!isOfferAndAgreementLoaded || authInProgress || actionsInProgress"
                    required
                >
                <label for="userAgreesWithPDPByCheck">
                    Я подтверждаю своё согласие на
                    <a target="_blank" href="{{apiHost}}api/Files/{{::opdAgreementFileId}}">обработку персональных данных</a>
                </label>
            </form-group>
            <div class="btn-container">
                <button
                    type="submit"
                    ng-hide="authInProgress || actionsInProgress"
                    ng-disabled="acceptTenderOfferByCheck && !isOfferAndAgreementLoaded"
                    class="btn waves-effect waves-light"
                    id="registration-phone__submit"
                >
                    Зарегистрироваться
                </button>
                <inline-loader line>authInProgress || actionsInProgress</inline-loader>
            </div>
            <lmx-social ng-hide="authInProgress || actionsInProgress" class="center"></lmx-social>
        </form>
    </div>
</div>
