<div class="container registration">
    <div class="registration card z-depth-1-half" ng-class="currentStep">
        <!-- INITIAL-FORM -->
        <div ng-if="!isRegistrationStarted" class="registration-form">
            <registration-start></registration-start>
        </div>
        <!-- // INITIAL-FORM -->

        <!-- STEPS -->
        <div ng-if="isRegistrationStarted && !registrationCompleted" class="registration-steps" ng-switch="currentStep" loader="currentStep == undefined || inProgress">
            <div ng-hide="inProgress">
                <tender-offer ng-switch-when="AcceptTenderOffer"></tender-offer>
                <user-phone
                        ng-switch-when="ChangePhone"
                        registration="true"
                ></user-phone>
                <user-email
                        ng-switch-when="ChangeEmail"
                        registration="true"
                        email-skippable="emailSkippable"
                ></user-email>
                <user-password ng-switch-when="PasswordRequired" registration="true"></user-password>
                <questionnaire ng-switch-when="Questions" registration="true" edit-mode only-required></questionnaire>
                <card-assignment ng-switch-when="AssignCard"></card-assignment>
            </div>
        </div>
        <!-- // STEPS -->

        <!-- COMPLETE-MESSAGE -->
        <div ng-if="registrationCompleted" class="registration-finish" loader="inProgress">
            <registration-finish></registration-finish>
        </div>
        <!-- // COMPLETE-MESSAGE -->
    </div>
</div>
