﻿<div class="tenter-offer">
    <h2 class="center">Оферта</h2>
    <notifications area="registration"></notifications>
    <form novalidate
          name="acceptTenderOfferForm"
          ng-submit="acceptTenderOfferForm.$valid && isOfferAndAgreementLoaded && acceptTenderOffer()"
          loader="inProgress || (isOfferAndAgreementLoaded === undefined)">
        <div class="scroller-wrapper margin-bottom">
            <div class="scroller">
                <div class="tender-offer" ng-bind-html="tenderOfferFile"></div>
            </div>
            <div class="scroller-track">
                <div class="scroller-bar"></div>
            </div>
        </div>

        <form-group>
            <input
                type="checkbox"
                class="filled-in"
                id="userAgreesWithOffer"
                name="userAgreesWithOffer"
                ng-model="offer"
                ng-disabled="stepInProgress"
                required
            >
            <label for="userAgreesWithOffer" ng-if="isOfferAndAgreementLoaded">
                Вы принимаете условия оферты.
            </label>
        </form-group>

        <form-group>
            <input
                type="checkbox"
                class="filled-in"
                id="userAgreesWithPDP"
                name="userAgreesWithPDP"
                ng-model="agreement"
                ng-disabled="stepInProgress"
                required
            >
            <label for="userAgreesWithPDP" ng-if="isOfferAndAgreementLoaded">
                Вы подтверждаете своё согласие на
                <a target="_blank" href="{{apiHost}}api/Files/{{::opdAgreementFileId}}">обработку Ваших персональных данных</a>.
            </label>
        </form-group>

        <div class="btn-container" ng-hide="inProgress || (isOfferAndAgreementLoaded === undefined)">
            <div ng-hide="stepInProgress">
                <button type="button" class="btn btn-cancel waves-effect" ng-click="cancel()" id="registration-offer__cancel">
                    {{::'cancel' | translate}}
                </button>
                <button type="submit" ng-disabled="!isOfferAndAgreementLoaded" class="btn waves-effect waves-light" id="registration-offer__submit">
                    {{:: 'accept' | translate}}
                </button>
            </div>
            <inline-loader line>stepInProgress</inline-loader>
        </div>
    </form>
</div>
