<div class="container personal-goods">
    <h2>Персональные товары</h2>

    <div loader="inProgress">
        <div ng-show="!inProgress">
            <section class="my-goods margin-bottom" ng-if="approvedPersonalOffers.length">
                <h3>Мои товары:</h3>
                <personal-goods-offer-info
                    ng-repeat="offer in approvedPersonalOffers track by offer.id"
                    offer="offer"
                    goods-preview
                ></personal-goods-offer-info>
            </section>

            <section class="current-goods margin-bottom">
                <h3>Действующие акции:</h3>
                <div ng-if="activePersonalOffers.length">
                    <personal-goods-offer-info
                        ng-repeat="offer in activePersonalOffers track by offer.id"
                        offer="offer"
                    ></personal-goods-offer-info>
                </div>
                <div ng-if="!activePersonalOffers.length">Нет действующих акций</div>
            </section>

            <section class="future-goods margin-bottom" ng-if="futurePersonalOffers.length">
                <h3>Будущие акции:</h3>
                <personal-goods-offer-info
                    ng-repeat="offer in futurePersonalOffers track by offer.id"
                    offer="offer"
                ></personal-goods-offer-info>
            </section>
        </div>
    </div>
</div>
