﻿<div class="user-email">
    <div ng-if=":: registration">
        <h2 class="center">
            {{step === 1 ? 'Введите адрес электронной почты' : 'Введите код подтверждения' }}
        </h2>
        <notifications area="registration"></notifications>
    </div>
    <div loader="isChangeProcessStarted === undefined">
        <div ng-if="isChangeProcessStarted === false" class="settings-line">
            <h3 class="label">Email</h3>
            <notifications area="userEmail"></notifications>
            <div class="current-value">{{:: currentEmail}}</div>
            <a ng-click="openForm()" class="right-control" id="changeEmail-openForm">{{::'change'|translate}}</a>
        </div>
        <div ng-if="isChangeProcessStarted" class="user-email-changing">
            <div ng-if=":: !registration">
                <h3>Email</h3>
                <notifications area="userEmail"></notifications>
            </div>
            <form novalidate name="form" ng-submit="form.$valid && next(form)">

                <div ng-if="step === 1">
                    <div ng-if=":: !registration" class="hint">
                        <p>Введите <strong>новый</strong> электронный адрес. На&nbsp;этот адрес Вы&nbsp;получите письмо с&nbsp;дальнейшей инструкцией</p>
                    </div>

                    <form-group>
                        <div class="input-field">
                            <input type="email"
                                   ng-model="model.newEmail"
                                   name="email"
                                   id="newEmail"
                                   ng-disabled="loader.inProgress"
                                   required
                                   autofocus>
                            <label for="newEmail">{{:: 'personal.changeEmail.newEmail' | translate}}</label>
                        </div>
                    </form-group>

                    <div ng-if="emailSkippable" class="margin-bottom center">
                        <a ng-click="skipStep()">Пропустить шаг ввода электронной почты</a>
                    </div>
                </div>

                <div ng-if="step === 2">
                    <div class="hint" ng-switch=":: !!registration">
                        <p ng-switch-when="true">На Вашу электронную почту был отправлен код подтверждения, введите его ниже</p>
                        <p ng-switch-when="false">Введите код подтверждения, который был отправлен на&nbsp;почту <strong>{{newEmail}}</strong></p>
                    </div>

                    <form-group>
                        <div class="input-field">
                            <input type="text"
                                   ng-model="model.confirmationCode"
                                   name="confirmcode"
                                   id="confirmationCode"
                                   integer
                                   ng-disabled="loader.inProgress"
                                   required
                                   autofocus>
                            <label for="confirmationCode">{{:: 'personal.confirmationCode' | translate}}</label>
                        </div>
                    </form-group>

                    <div ng-if="emailSkippable" class="margin-bottom center">
                        <a ng-click="skipStep()">Пропустить шаг ввода кода подтверждения</a>
                    </div>

                    <div class="margin-bottom center" ng-hide="loader.inProgress">
                        <a ng-click="reSendCode()" id="changeEmail-resend">{{:: 'personal.sendConfirmCode' | translate}}</a><br>
                        <a ng-click="reEnterEmail(form)" id="changeEmail-reenter">{{:: 'personal.changeEmail.reSetEmail' | translate}}</a>
                    </div>
                </div>
                <div class="btn-container">
                    <inline-loader line>loader.inProgress</inline-loader>
                    <div ng-hide="loader.inProgress">
                        <button type="button" ng-click="closeForm()" class="btn btn-cancel waves-effect" id="changeEmail-cancel">
                            {{:: 'cancel' | translate}}
                        </button>
                        <button type="submit" class="btn waves-effect waves-light" id="changeEmail-continue">
                            {{:: 'next' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
