<div class="notifications">
    <span class="modal-closer" ng-click="clearNotifications()" ng-if="!notificationsAreEmpty()"></span>
    <div ng-repeat="(text, type) in notifications.value">
        <div class="alert" ng-class=":: {'alert-info': type == notificationTypes.message, 'alert-warning': type == notificationTypes.error, 'alert-danger': type == notificationTypes.critical}">
            {{:: text}}
        </div>
    </div>
</div>