<section class="password" ng-class="{'_change': isChangeProcessStarted, '_registration': registration, '_changeStarted': isChangeProcessStarted}">
    <div ng-if="!isChangeProcessStarted && !registration">
        <div ng-click="openForm()" class="password-change__trigger">{{'change'|translate}}</div>
        <h2 class="password-title" ng-if="!registration">Пароль</h2>
    </div>

    <div ng-if="registration">
        <form class="form registration-form" novalidate name="setPasswordForm" ng-submit="setPasswordForm.$valid && setPassword()" loader="inProgress">
            <h1 class="registration-title">Введите пароль</h1>
            <form-group>
                <label for="password">Придумайте пароль для входа в личный кабинет</label>
                <input
                    type="password"
                    ng-model="model.currentPassword"
                    id="password"
                    name="password"
                    ng-disabled="inProgress"
                    required
                />
            </form-group>
            <form-group>
                <label for="passwordConfirm">Повторите придуманный пароль</label>
                    <input
                        type="password"
                        ng-model="model.repeatPassword"
                        id="passwordConfirm"
                        name="passwordConfirm"
                        ng-disabled="inProgress"
                        is-equal-passwords="model.currentPassword"
                        required
                    />
            </form-group>
            <notifications area="registration"></notifications>
            <div class="clearfix">
                <button type="button" ng-click="$root.logout()">{{:: 'cancel' | translate}}</button>
                <button type="submit">{{:: 'approve' | translate}}</button>
            </div>
        </form>
    </div>

    <div ng-if="isChangeProcessStarted">
        <form class="form password-change" novalidate name="form" ng-submit="form.$valid && save()" loader="loader.inProgress">
            <form-group label-grid-part="5">
                <label for="currentPassword">Текущий пароль</label>
                <input
                    type="password"
                    ng-model="model.currentPassword"
                    name="currentpassword"
                    id="currentPassword"
                    autofocus
                    required
                >
            </form-group>

            <form-group label-grid-part="5">
                <label for="newPassword">{{:: 'personal.changePassword.newPassword' | translate}}</label>
                <input
                     type="password"
                     ng-model="model.newPassword"
                     name="newpassword"
                     id="newPassword"
                     required
                 />
            </form-group>

            <form-group label-grid-part="5">
                <label for="repeatPassword">{{:: 'personal.changePassword.repeatPassword' | translate}}</label>
                <input
                    type="password"
                    ng-model="model.repeatPassword"
                    name="repeatPassword"
                    id="repeatPassword"
                    is-equal-passwords="model.newPassword"
                    required
                />
            </form-group>

            <div class="row">
                <notifications area="userPassword"></notifications>
            </div>

            <div class="password-change__control">
                <div class="password-change__cancel" ng-click="closeForm()">{{:: 'cancel' | translate}}</div>
                <button type="submit">Подтвердить</button>
            </div>
        </form>
    </div>
</section>
