<div class="user-alert__message" ng-bind-html="message"></div>
<div class="user-alert__footer">
    <button type="button" class="btn btn-default" ng-click="ok()" autofocus>{{:: confirmButtonText}}</button>
    <button type="button" class="btn btn-negative" ng-click="cancel()">{{:: 'no' | translate}}</button>
</div>