<section class="phone" ng-class="{'_change': isChangeProcessStarted, '_registration': registration}">
    <h2 class="phone-title" ng-if="!isChangeProcessStarted && !registration">Номер телефона</h2>

    <div class="phone-view" ng-if="!isChangeProcessStarted && !registration">
        <div ng-click="openForm()" class="phone-change__trigger">{{:: 'change' | translate}}</div>
        <div class="phone-current">{{currentPhoneNumber}}</div>
    </div>

    <div ng-if="isChangeProcessStarted">
        <form class="form phone-change" novalidate name="form" ng-submit="form.$valid && next(form)" loader="loader.inProgress">
            <div ng-if="step === 1">
                <h1 class="registration-title" ng-if="registration">Введите номер телефона</h1>
                <h3 class="phone-subtitle">Номер телефона</h3>
                <p ng-if="!registration">Введите <b>новый</b> номер мобильного телефона</p>
                <div class="phone-countryCode">+7</div>
                <form-group class="phone-new" ng-attr-vertical="registration">
                    <input
                        ng-model="model.newPhone"
                        name="newPhone"
                        id="newPhone"
                        mask="(999) 999-9999"
                        clean="true"
                        validate="false"
                        restrict="reject"
                        required
                    />
                </form-group>
            </div>

            <div ng-if="step === 2">
                <h1 class="registration-title" ng-if="registration">Введите код подтверждения</h1>
                <h3 class="phone-subtitle">Код подтверждения</h3>
                <p>Код подтверждения отправлен Вам по&nbsp;sms на&nbsp;номер <b>{{::newPhone}}</b></p>
                <form-group class="phone-code">
                    <input
                        type="text"
                        ng-model="model.confirmationCode"
                        name="confirmationCode"
                        ng-disabled="inProgress"
                        id="confirmationCode"
                        autofocus
                        required
                    >
                </form-group>
            </div>

            <notifications area="registration"></notifications>
            <notifications area="userPhone"></notifications>

            <div class="phone-change__control clearfix">
                <button ng-if="registration" ng-click="$root.logout()" type="button">{{:: 'cancel' | translate}}</button>
                <div ng-if="!registration" ng-click="closeForm()" class="phone-change__cancel">
                    {{:: 'cancel' | translate}}
                </div>
                <button type="submit">{{ registration ? 'Далее' : 'Подтвердить' }}</button>
            </div>

            <div class="clearfix" ng-show="step === 2">
                <div class="phone-code__resend" ng-click="reSendCode()">Выслать код повторно</div>
                <div class="phone-code__reenter" ng-click="reEnterPhone(form)">Ввести другой номер телефона</div>
            </div>
        </form>
    </div>
</section>
