﻿<div class="container anonymous-feedback">
    <section>
        <h2>Задать вопрос:</h2>
        <div class="hint">
            <p>Отправка письма будет выполнена через почтовый клиент, установленный на&nbsp;Вашем устройстве</p>
        </div>
        <form novalidate name="anonFeedbackForm" ng-submit="anonFeedbackForm.$valid && sendMail(anonFeedbackForm)">
            <form-group>
                <div class="input-field">
                    <input
                        type="text"
                        id="subject"
                        ng-model="messageModel.subject"
                        name="subject"
                        required
                    >
                    <label for="subject">Тема письма</label>
                </div>
            </form-group>
            <form-group>
                <div class="input-field">
                    <textarea
                        id="msg-textarea"
                        ng-model="messageModel.message"
                        class="materialize-textarea"
                        name="msg-textarea"
                        required
                    >
                    </textarea>
                    <label for="msg-textarea">Ваше сообщение</label>
                </div>
            </form-group>
            <div class="btn-container">
                <button type="submit" class="btn waves-effect waves-light right">
                    Отправить <span class="glyphicon glyphicon-send" style="margin-left: 5px;"></span>
                </button>
            </div>
        </form>
    </section>
</div>
