﻿<div class="container offers">
    <section>
        <h2>Акции</h2>
        <div loader="inProgress">
            <div ng-if="!inProgress">
                <div class="margin-bottom">
                    <a class="waves-effect waves-light btn-large" ng-class="{'teal accent-3': offerState === states.active}"
                       ng-click="filterByOfferState(states.active)">
                        Текущие акции
                    </a>
                    <a class="waves-effect waves-teal btn-large" ng-class="{'teal accent-3': offerState === states.comingSoon}"
                       ng-click="filterByOfferState(states.comingSoon)">
                        Скоро начнутся
                    </a>
                </div>
                <div class="offers-list">
                    <div ng-repeat="offer in offers track by offer.id" ng-click="openCommunicationOfferModal(offer)" class="offer card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img ng-src="{{::offer.imgUrl}}"
                                 fallback-image
                                 fallback-title="Изображение отсутствует"
                                 alt="">
                        </div>
                        <div class="content">
                            <div class="reward-thumbnail" ng-if=":: offer.rewardThumbnail" ng-switch="rewardThumbnailTypes[offer.rewardThumbnail.$type]">
                                <div class="two-line-text" ng-switch-when="twoLineText">
                                    <div title="{{::offer.rewardThumbnail.firstLine}}">{{::offer.rewardThumbnail.firstLine}}</div>
                                    <div title="{{::offer.rewardThumbnail.secondLine}}">{{::offer.rewardThumbnail.secondLine}}</div>
                                </div>
                                <div class="image-with-text" ng-switch-when="imageWithText">
                                    <div title="{{::offer.rewardThumbnail.header}}">{{::offer.rewardThumbnail.header}}</div>
                                    <div class="reward-image">
                                        <img ng-src="{{::offer.rewardThumbnail.imgUrl}}"
                                             fallback-image
                                             fallback-title="Изображение отсутствует"
                                         alt="">
                                    </div>
                                    <div title="{{::offer.rewardThumbnail.footer}}">{{::offer.rewardThumbnail.footer}}</div>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title" title="{{::offer.title}}">{{::offer.title}}</div>
                                <div class="description">{{::offer.description}}</div>
                            </div>
                        </div>
                    </div>
                    <div ng-if=":: !offers.length">{{offerState === states.active ? 'Действующие' : 'Будущие'}} акции отсутствуют</div>
                </div>
            </div>
        </div>
    </section>
</div>
