<div>
    <div ng-repeat="node in block.children">
        <questionnaire-item ng-if="::!isBlockHeader(node)"
                            question="node"
                            type="{{::getQuestionType(node)}}"
                            edit-mode="editMode">
        </questionnaire-item>
        <questionnaire-block ng-if="::isBlockHeader(node)" block="node" edit-mode="editMode"></questionnaire-block>
    </div>
</div>
