<div
        class="questionnaire clearfix"
        loader="loader.inProgress"
        ng-class="{'questionnaire-edit' : !registration}"
>
    <h1 class="registration-title" ng-if="registration">Введите свои данные</h1>
    <h2 class="title" ng-if="!registration">Личные данные</h2>

    <notifications ng-if="registration" class="questionnaire-notification _reg" area="questionnaire"></notifications>

    <div class="questionnaire-column" ng-repeat="block in questionnaire">
        <questionnaire-block block="block" edit-mode="editMode"></questionnaire-block>
    </div>
    <div ng-if="registration" class="annotation">Поля отмеченные <span class="accent">*</span> обязательны для заполнения</div>
    <notifications ng-if="!registration" class="questionnaire-notification" area="questionnaire"></notifications>
    <div class="questionnaire-submit btn-container clearfix" ng-show="editMode">
        <button type="button" class="btn-negative" ng-if="registration" ng-click="$root.logout()">{{:: 'cancel' | translate}}</button>
        <div class="questionnaire-cancel" ng-show="!registration && isEnabled" ng-click="isEnabled = !isEnabled; cancelForm()">
            <span>{{:: 'cancel' | translate}}</span>
        </div>
        <button type="submit" class="btn" ng-click="saveQuestionnaire()">{{::'save'|translate}}</button>
    </div>
</div>