﻿<div>
    <div ng-if=":: registration">
        <h2 class="center">Введите свои данные</h2>
    </div>
    <div class="questionnaire" loader="loader.templatesInProgress" ng-class="::{'questionnaire-edit' : !registration}">
        <div class="questionnaire-column" ng-hide="loader.templatesInProgress" ng-repeat="block in questionnaire">
            <questionnaire-block block="block" edit-mode="editMode"></questionnaire-block>
        </div>
        <notifications ng-if=":: registration" area="registration"></notifications>
        <notifications area="questionnaire"></notifications>
        <div ng-if="editMode && !loader.templatesInProgress">
            <div class="btn-container">
                <div ng-hide="loader.saveInProgress">
                    <button type="button" ng-if=":: registration" class="btn btn-cancel waves-effect" ng-click="cancelForm()" id="registration-questionnaire__cancel">
                        {{:: 'cancel' | translate}}
                    </button>
                    <button type="button" class="btn waves-light waves-effect" ng-click="saveQuestionnaire()" id="registration-questionnaire__submit">
                        {{:: (registration ? 'next' : 'save') |translate}}
                    </button>
                </div>
                <inline-loader>loader.saveInProgress</inline-loader>
            </div>
        </div>
    </div>
</div>
