<div class="personal-offers _details" loader="!allViewsRendered">
    <div class="heading">
        <h2 class="title">Персональные предложения</h2>
        <a href="#/personalOffers" class="link _back">Назад к списку</a>
    </div>
    <personal-offer-content></personal-offer-content>
    <div class="offer-details-item">
        <div class="offer-details-wrap" ng-repeat="offerDetail in offerDetails">
            <div class="accordion">{{::offerDetail.title}}</div>
            <div class="panel">
                <dl class="offer-details">
                    <dt class="offer-details__title">Предложение</dt>
                    <dd class="offer-details__description">{{::offerDetail.description}}</dd>
                    <dt class="offer-details__title">Детали</dt>
                    <dd class="offer-details__values">
                        <personal-offer-discount-view
                                ng-if="offerDetail.discount"
                                value="offerDetail.discount.$type === discountTypes.percent ?
                                    offerDetail.discount.value * 100 : offerDetail.discount.value"
                                type="offerDetail.discount.$type"
                                measure-amount="offerDetail.discount.measureAmount"
                                discount-type="offerDetail.discount.discountType"
                        ></personal-offer-discount-view>
                        <p>{{::offerDetail.annotation}}</p>
                    </dd>
                    <dt
                            class="offer-details__title _interval"
                            ng-if="offerDetail.detailBeginLocalDate || offerDetail.detailEndLocalDate"
                    >
                        Срок действия предложения по позиции:
                    </dt>
                    <dd
                            class="offer-details__dates"
                            ng-if="offerDetail.detailBeginLocalDate || offerDetail.detailEndLocalDate"
                    >
                        <p>
                                <span ng-if="offerDetail.detailBeginLocalDate && !offerDetail.detailEndLocalDate">
                                    с {{::offerDetail.detailBeginLocalDate | shortDate}} до конца акции
                                </span>
                            <span ng-if="!offerDetail.detailBeginLocalDate && offerDetail.detailEndLocalDate">
                                    с начала акции до {{::offerDetail.detailEndLocalDate | shortDate}}
                                </span>
                            <span ng-if="offerDetail.detailBeginLocalDate && offerDetail.detailEndLocalDate">
                                    с {{::offerDetail.detailBeginLocalDate | shortDate}} до {{::offerDetail.detailEndLocalDate | shortDate}}
                                </span>
                        </p>
                    </dd>
                    <dt class="offer-details__title">
                        Код товара
                    </dt>
                    <dd class="offer-details__codes">
                        <p><span ng-repeat="code in offerDetail.codes">{{::code.value}}</span></p>

                    </dd>
                    <dd class="show-on-map__btn" ng-show="offerDetail.hasMerchants">
                        <a
                            ng-href="#/personalOffers/map/{{personalOffer.id+ '/' + offerDetail.id}}"
                            class="btn btn-lg">Посмотреть на карте
                        </a>
                    </dd>
                </dl>
            </div>
        </div>
        <script ng-if="allViewsRendered">
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight){
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            }
        </script>
    </div>
</div>