﻿@import 'common/reset.less';
@import 'common/variables.less';
@import 'common/baron.less';
@import 'common/button.less';
@import 'common/custom-select.less';
@import 'common/error.less';
@import 'common/form-input-textarea.less';
@import 'common/form-radio-checkbox.less';
@import 'common/nav.less';
@import 'common/header.less';
@import 'common/footer.less';
@import 'common/modal.less';

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: url('assets/fonts/roboto/Roboto-Thin.woff2') format('woff2'), url('assets/fonts/roboto/Roboto-Thin.woff') format('woff');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/roboto/Roboto-Light.woff2') format('woff2'), url('assets/fonts/roboto/Roboto-Light.woff') format('woff');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'), url('assets/fonts/roboto/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/roboto/Roboto-Medium.woff2') format('woff2'), url('assets/fonts/roboto/Roboto-Medium.woff') format('woff');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'), url('../fonts/roboto/Roboto-Bold.woff') format('woff');
}

html,
body {
    line-height: 25px;
    height: 100%;
}

body {
    color: @site-color;
    font-size: @site-font-size;
    overflow-y: scroll;

    &.modal-open {
        overflow-y: hidden;
    }
    *:not(.material-icons):not(.glyphicon) {
        font-family: @site-font-family !important;
    }
}

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*
.lmx-loader-container {
    min-height: @loader-height;
}
.lmx-body-loader,
.lmx-loader {
    background: @loader-background;
}
.lmx-loader {
    background-color: transparent;
}
.lmx-inline-loader {
    &:extend(.lmx-loader);
    background-size: contain;
}
*/

a {
    color: @site-link-color;
}

.main-wrapper {
    min-width: @site-main-content-width;
    min-height: 100%;
    position: relative;
}

.main {
    min-height: 100%;
}

.hFooter {
    height: @footer-height;
}

.footer {
    position: absolute;
    height: @footer-height;
    left: 0;
    bottom: 0;
    width: 100%;
}

.lmx-container {
    width: 100%;

    .lmx-row {
        margin-left: auto;
        margin-right: auto;
    }
}

.menu > .menu-item {
    display: block;
    text-align: center;
    font-size: @menu-item-font-size;
    font-weight: @menu-item-weight;
    height: @menu-item-height;
    line-height: @menu-item-height;
    border: @menu-item-border-width solid @menu-item-border-color;
    border-radius: @menu-item-border-radius;
    background-color: @menu-item-background;
    color: @menu-item-color;
    overflow: hidden;
    cursor: pointer;
    padding: 0 5px;

    &:hover {
        background-color: @menu-item-background-hover;
        border: @menu-item-border-width-hover solid @menu-item-border-color-hover;
        color: @menu-item-color-hover;
    }
    &.active {
        background-color: @menu-item-background-active;
        border: @menu-item-border-width-hover solid @menu-item-border-color-active;
        color: @menu-item-color-active;
        font-weight: @menu-item-weight-active;
    }
}

.content {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.content-column__left,
.content-column__right {
    display: table-cell;
    vertical-align: top;
}

.content-column__left {
    width: 300px;
    min-width: 300px;
    padding-right: 30px;

    .config-button {
        float: right;
        width: 35px;
        height: 35px;
        background: url('assets/images/config.png') no-repeat center center transparent;
        background-size: contain;
        cursor: pointer;
        margin-left: 10px;

        &:hover {
            transition: transform cubic-bezier(0.55, 0.08, 0.06, 0.97) 0.5s;
            transform: rotate(360deg);
        }
    }
    .user-name {
        font-size: 20px;
        font-weight: bold;
        line-height: 120%;
        margin-bottom: 20px;
    }
    .user-balance {
        .user-balance__key {
            clear: left;
        }
        .user-balance__key,
        .user-balance__value {
            float: left;

            &:not(:first-of-type) {
                margin-top: 5px;
            }
        }
    }
    .menu {
        margin-top: 30px;
        height: auto;

        .menu-item:not(:last-child) {
            border-bottom: none;
        }
    }
}

h1 {
    font-size: 36px;
    padding: 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5,
h6 {
    font-size: 18px;
}

.content-column__right {
    width: 100%;

    h1, h2, h3, h4, h5 { /* stylelint-disable-line selector-list-comma-newline-after */
        margin-top: 0;
    }
    .lmx-questionnaire-edit {
        width: 100%;

        .lmx-questionnaire-block {
            width: 350px;
            max-width: 350px;
            float: left;
            margin-right: calc(50% ~'-' 350px);
        }
    }
}

.maxwidth {
    max-width: @site-main-content-width;
    min-width: @site-main-content-width;
    width: @site-main-content-width;
}

.lmx-notifications {
    clear: both;
}

.history-preview {
    .date,
    .pagination,
    .lmx-heading h2 span {
        display: none;
    }
}
