<div class="container history">
    <section>
        <h2 ng-if=":: !isPreview">История операций</h2>
        <div class="history-table" loader="history === undefined">
            <div ng-show=":: history">
                <div ng-show=":: !isPreview" class="history-filters date clearfix margin-bottom">
                    <div class="date-filters">
                        <span class="pretext">В период с </span>
                        <date-picker
                                ng-model="fromDate"
                                ng-change="reloadHistory()">
                        </date-picker>
                        <span class="pretext"> по </span>
                        <date-picker
                                ng-model="toDate"
                                ng-change="reloadHistory()">
                        </date-picker>
                    </div>
                    <div class="card-filter">
                        <inline-loader line>cardsInProgress</inline-loader>
                        <div ng-hide="cardsInProgress">
                            <select ng-model="selectedCard"
                                    ng-change="reloadHistory()"
                                    id="cardFilter" name="cardFilter"
                                    class="browser-default"
                            >
                                <option ng-value="0">Все карты</option>
                                <option ng-repeat="card in cards" ng-value="card.id">{{:: card.number | charsDivide: 4}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="reset-filters">
                        <a ng-click="resetFilters()" class="pseudolink">Сбросить фильтры</a>
                    </div>
                </div>
                <div class="block-table-history" id="operation-container">
                    <div class="operation-list margin-bottom" loader="inProgress && (isPaginated || isReload)">
                        <div ng-class="{'loading': inProgress}" ng-hide="inProgress && isReload">
                            <table ng-if="history.rows.length" class="bordered highlight" width="800">
                                <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Номер карты</th>
                                    <th>Описание</th>
                                    <th>Операция</th>
                                    <th>Сумма</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="item in history.rows track by item.id" class-toggle-click="cheque-opened" ng-class=":: {'empty-cheque': !item.data.chequeItems.length}">
                                <tr>
                                    <td class="date-time">{{:: item.dateTime | toUTC | shortDateTime}}</td>
                                    <td class="identity"><span ng-if="::item.identity">**** <b>{{:: item.identity | lastCount: 4 }}</b></span></td>
                                    <td class="description">{{:: item.description}}</td>
                                    <td class="withdraws text">
                                        <div ng-if=":: item.data.withdraws.length">
                                            {{:: 'enum.gift' + (item.data.isRefund ? 'Refund' : '' ) + '.withdraw' | translate}}
                                        </div>
                                        <div ng-if=":: item.data.rewards.length" ng-repeat="(key, value) in item.rewardsResult">
                                            {{:: 'enum.gift' + (item.data.isRefund ? 'Refund.' : '.') + (key | lowerCamelCase) | translate}}
                                        </div>
                                        <div ng-if=":: item.type == 'RewardData' || item.type == 'WithdrawData'">
                                            {{:: 'enum.gift' + (item.data.isRefund ? 'Refund.' : '.') + (item.type | lowerCamelCase) | translate}}
                                        </div>
                                    </td>
                                    <td class="withdraws amount">
                                        <div ng-if=":: item.data.withdraws.length" ng-repeat="wdrw in item.data.withdraws">
                                            {{:: (item.data.isRefund ? wdrw.amount.amount * -1 : wdrw.amount.amount) | number: 2}}
                                            {{:: 'currency.' + wdrw.amount.currency | translate }}
                                        </div>
                                        <div ng-if=":: item.data.rewards.length" ng-repeat="(key, value) in item.rewardsResult">
                                            {{:: (item.data.isRefund ? value * -1 : value) | number: 2}}
                                            {{:: 'currency.' + item.rewardsType[key] | translate }}
                                        </div>
                                        <div ng-if=":: item.type == 'RewardData' || item.type == 'WithdrawData'">
                                            {{:: (item.data.isRefund ? item.data.amount.amount * -1 : item.data.amount.amount) | number: 2}}
                                            {{:: 'currency.' + item.data.amount.currency | translate }}
                                        </div>
                                    </td>
                                    <td class="cheque-expander"></td>
                                </tr>
                                <tr class="cheque-info" ng-if="item.data.chequeItems.length">
                                    <td colspan="6">
                                        <div class="cheque-content">
                                            <div class="cheque-line" ng-repeat="chequeItem in item.data.chequeItems">
                                                <span class="cheque-item">{{::chequeItem.description | nbspSpaces}}</span>
                                                <span class="cheque-count">{{::chequeItem.count}}</span>
                                            </div>
                                            <div class="cheque-total">
                                                {{::item.data.amount.amount | number: 2}} {{:: 'currency.RUB' | translate }}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="center not-found" ng-if="!inProgress && history.allCount === 0">Нет результатов</div>
                    <div ng-show=":: !isPreview" ng-switch=":: !!isPaginated">
                        <uib-pagination
                                ng-switch-when="true"
                                ng-show="!isReload && history.allCount > onPage"
                                total-items="history.allCount"
                                ng-model="$parent.currentPage"
                                max-size="4"
                                items-per-page="{{:: onPage}}"
                                class="pagination"
                                boundary-links="true"
                                boundary-link-numbers="true"
                                direction-links="false"
                                force-ellipses="true"
                                first-text="<<"
                                last-text=">>"
                                ng-change="paginationChange()"
                        ></uib-pagination>
                        <div ng-switch-when="false">
                            <a class="right" id="history-increase" ng-if="!inProgress && (from + onPage < history.allCount)" ng-click="increaseFrom()">Показать ещё</a>
                            <inline-loader line>inProgress && !isReload</inline-loader>
                        </div>
                    </div>
                    <a ng-if=":: isPreview" href="#history">Перейти к полной истории операций</a>
                </div>
            </div>
        </div>
    </section>
</div>


