<div class="card hoverable" style="width: 400px; height: 400px;">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator"
             ng-src="{{::coupon.imageUri || 'undefined'}}"
             fallback-image
             fallback-title="Изображение купона отсутствует"
             alt=""
             style="height: 250px; padding: 10px">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{coupon.name}}</span>
        <span><b>Стоимость купона:</b> {{coupon.price}} RUB</span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><span class="glyphicon glyphicon-remove"></span>{{coupon.name}}</span>
        <p>
            <span><b>Описание акции:</b>{{:: couponInfo.description || 'Описание акции отсутствует' }}</span>
        </p>
        <button ng-if=":: loggedIn" type="button" class="btn waves-effect waves-light" ng-click="openBuyCouponModal(coupon)">
            <div>
                Купить за
                <span class="price">{{ coupon.price | zeroFill: 2 }}</span>
            </div>
        </button>
        <button ng-if=":: !loggedIn" type="button" class="btn waves-effect waves-light" ng-click="goToLogin()">
            <div>Войти, чтобы купить</div>
        </button>
    </div>
</div>
