<span class="date-picker-wrap" outside-click="toggleCalendar($event, false)">
    <div class="toggler calendar glyphicon glyphicon-calendar" ng-click="toggleCalendar($event)"></div>

    <input type="text"
           ng-class="inputClass"
           datetime-picker="{{dateTimeFormat}}"
           ng-model="model"
           ng-keyup="checkModel($event)"
           ng-model-options="modelOptions"
           button-bar="{
                show: true,
                date: {
                    show: true,
                    text: 'Дата'
                },
                time: {
                    show: true,
                    text: 'Время'
                },
                now: {show: false},
                today: {show: false},
                clear: {show: false},
                close: {show: false}
           }"
           initial-picker="date"
           re-open-default="date"
           datepicker-options="{showWeeks:false}"
           timepicker-options="timepickerOptions"
           is-open="isOpen"/>

</span>