﻿<div loader="inProgress">
    <div ng-if="!inProgress">
        <div class="modal-header">
            <h2>{{:: offer.title}}</h2>
        </div>

        <div class="content offer">
            <div class="image">
                <img ng-src="{{::offer.imgUrl}}"
                     fallback-image
                     fallback-title="Изображение отсутствует"
                    alt="">

                <div class="reward-thumbnail" ng-if=":: offer.rewardThumbnail" ng-switch="rewardThumbnailTypes[offer.rewardThumbnail.$type]">
                    <div class="thumbnail two-line-text" ng-switch-when="twoLineText">
                        <div title="{{::offer.rewardThumbnail.firstLine}}">{{::offer.rewardThumbnail.firstLine}}</div>
                        <div title="{{::offer.rewardThumbnail.secondLine}}">{{::offer.rewardThumbnail.secondLine}}</div>
                    </div>
                    <div class="thumbnail image-with-text" ng-switch-when="imageWithText">
                        <div title="{{::offer.rewardThumbnail.header}}">{{::offer.rewardThumbnail.header}}</div>
                        <div class="reward-image">
                            <img ng-src="{{::offer.rewardThumbnail.imgUrl || 'undefined'}}"
                                 fallback-image
                                 fallback-title="Изображение отсутствует"
                                 alt="">
                        </div>
                        <div title="{{::offer.rewardThumbnail.footer}}">{{::offer.rewardThumbnail.footer}}</div>
                    </div>
                </div>
            </div>
            <div class="details">
                <div>
                    <span class="offer-title">Дата проведения акции:</span> {{:: offer.begin | dateRange: offer.end}}
                </div>

                <section ng-if=":: offer.description">
                    <div class="offer-title">Описание:</div>
                    <div>{{:: offer.description}}</div>
                </section>

                <section ng-if=":: offer.instructions.length">
                    <div class="offer-title">Инструкции:</div>
                    <ol>
                        <li ng-repeat="item in offer.instructions track by $index">{{::item }}</li>
                    </ol>
                </section>

                <section ng-if=":: offer.merchants.length" ng-init="merchantsLimit = (offer.merchants.length === 4 ? 4 : 3)">
                    <div class="offer-title">Магазины:</div>
                    <ul>
                        <li ng-repeat="merchant in offer.merchants | limitTo: merchantsLimit track by merchant.id">
                            {{:: merchant.title}}, {{:: merchant.location.description}}
                        </li>
                    </ul>
                    <div
                        class="pseudolink"
                        ng-if="merchantsLimit !== offer.merchants.length && offer.merchants.length > 4"
                        ng-click="$parent.merchantsLimit = offer.merchants.length"
                    >
                        Показать все <span ng-bind-html="offer.merchants.length  | translatePlural: {plural: 'merchantPlurals.merchant'}"></span>
                    </div>
                    <div
                        class="pseudolink"
                        ng-if="merchantsLimit === offer.merchants.length && offer.merchants.length > 4"
                        ng-click="$parent.merchantsLimit = 3"
                    >
                        Скрыть магазины
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
