<section class="forgot">
    <h1 class="forgot-title">Восстановление пароля</h1>
    <notifications area="resetPassword"></notifications>
    <form
        novalidate
        class="form forgot-form"
        ng-if="steps.start"
        name="forms.resetPasswordStart"
        ng-submit="forms.resetPasswordStart.$valid && start()"
        loader="inProgress"
    >
        <form-group label-text="Телефон или e-mail">
            <input
                type="text"
                ng-model="model.identity"
                id="startIdentity"
                name="startIdentity"
                required
                autofocus
            >
        </form-group>
        <div class="right">
            <button type="submit">Далее</button>
        </div>
    </form>

    <form
        novalidate
        class="form forgot-form"
        ng-if="steps.confirm"
        name="forms.resetPasswordConfirm"
        ng-submit="forms.resetPasswordConfirm.$valid && confirm()"
        loader="inProgress"
    >
            <form-group
                label-text="Код подтверждения"
                ng-hide="isResetPasswordConfirmationCodeHidden()"
            >
                <input
                        class="form-control"
                        ng-model="model.confirmCode"
                        id="confirmCode"
                        name="confirmcode"
                        type="text"
                        required
                    >
            </form-group>
            <a
                class="forgot-repeatCode link"
                ng-click="start()"
                ng-if="!resetPasswordConfirmationData">
                Выслать код повторно
            </a>
        <form-group label-text="Новый пароль">
            <input
                type="password"
                ng-model="model.newPassword"
                id="newPassword"
                name="newpassword"
                required
            >
        </form-group>
        <form-group label-text="Подтверждение нового пароля">
            <input
                type="password"
                ng-model="model.repeatPassword"
                id="newPasswordConfirm"
                name="newPasswordConfirm"
                is-equal-passwords="model.newPassword"
                required
            >
        </form-group>
        <div class="clearfix btn-container">
            <button type="button" class="btn-negative" ng-click="logout(true); changeLocation('');">Отменить</button>
            <button type="submit">Далее</button>
        </div>
    </form>
</section>