﻿<div class="container cards">
    <section>
        <h2>Мои карты</h2>
        <div loader="inProgress">
            <div ng-if="!inProgress">
                <p>Для того, чтобы заменить карту на&nbsp;новую, её&nbsp;необходимо предварительно <strong>заблокировать</strong></p>
                <div class="card-item" ng-repeat="card in cards track by card.id">
                    <div class="card-item__image" ng-class="{'blocked': card.block}">
                        <img ng-src="{{ card.imageUrl}}"
                             fallback-image
                             fallback-title="Изображение отсутствует"
                             alt="">
                    </div>
                    <div class="card-item__info">
                        <div class="card-number">{{:: card.number | charsDivide: 4}}</div>
                        <div class="card-category">{{:: card.cardCategory.title}}</div>
                        <dl class="card-owner" ng-if="::card.cardOwnerInfo.firstName || card.cardOwnerInfo.lastName || card.patronymicName">
                            <dt>{{:: 'cards.info.owner' | translate}}: </dt>
                            <dd>{{:: card.cardOwnerInfo.lastName}} {{:: card.cardOwnerInfo.firstName}} {{:: card.cardOwnerInfo.patronymicName}}</dd>
                        </dl>
                        <dl class="card-paid">
                            <dt>{{:: 'cards.info.paid' | translate}}: </dt>
                            <dd>{{:: card.paid.amount | number: 2}} {{:: 'currency.' + card.paid.currency | translate}}</dd>
                        </dl>
                        <div class="card-actions">
                            <button
                                ng-class="card.block ? 'card-action__unblock' : 'card-action__block'"
                                class="btn block-btn waves-effect waves-light"
                                ng-if="card.cardActionAccessInfo.canBlock"
                                ng-click="blockStateChange(card)"
                                type="button"
                            >
                                {{card.block ? 'cards.actions.unblock' : 'cards.actions.block' | translate}}
                            </button>
                            <button
                                ng-if="card.cardActionAccessInfo.canReplace"
                                ng-click="replaceCard(card)"
                                type="button"
                                class="btn replace-btn waves-effect waves-light"
                            >
                                {{:: 'cards.actions.replace' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn attach-btn waves-effect waves-light" ng-click="attachCard()">{{:: 'cards.attachCard' | translate}}</button>
            </div>
        </div>
    </section>
</div>
