<div ng-if="clients.length !== 0" ng-class="{'social-auth': currentLocation === 'login' || currentLocation === ''}">
    <div ng-if="currentLocation === 'login' || currentLocation === ''">Или войдите через соцсети:</div>
    <h2 ng-if="currentLocation === 'settings'" class="social-settings__title">Привязка соцсетей</h2>
    <ul class="social" loader="isProgress.getSocialInfo">
        <li class="social-item" ng-repeat="client in clients">
            <img
                    class="social-logo"
                    alt=""
                    ng-click="authHandler(client)"
                    ng-src="wp-content/themes/bonusme/assets/img/social/{{:: client.providerType.toLowerCase()}}-logo.png"
            />
            <div ng-if=":: isBinding" class="social-action" ng-click="toggleBind(client)">
                {{isBinded(client) ? 'Отвязать' : 'Привязать'}}
            </div>
        </li>
    </ul>
</div>
