<div class="personal-goods-offer__info">
    <div class="main-info clearfix">
        <div ng-if=":: goodsPreview" class="goods-preview">
            <div style="margin-bottom: 10px;"><b>Выбрано товаров: {{:: offer.approvedGoodsCount}} из {{:: offer.attribute.maxGoodsCount}}</b></div>
            <div class="goods-list">
                <div ng-repeat="goods in offer.approvedGoods track by goods.id" class="goods">
                    <img ng-src="{{:: goods.imgUrl}}" alt="" title="{{:: goods.title}}" onerror="this.src='/wp-content/themes/bin/assets/img/image_not_found.png'">
                </div>
            </div>
        </div>

        <brands-names brands="offer.brands"></brands-names>
        <div class="offer-info">
            <h4 class="subtitle">{{:: offer.title}}</h4>
            <div>{{:: offer.description}}</div>
            <div style="margin-top: 10px;">
                <div class="subtitle"><b>Срок действия акции:</b></div>
                <div>{{:: offer.begin | dateRange: offer.end}}</div>
            </div>
            <div style="margin-top: 10px;">
                <div class="subtitle"><b>Редактирование списка товаров возможно в период:</b></div>
                <div>{{:: offer.attribute.startFillDate | dateRange: offer.attribute.endFillDate}}</div>
            </div>
        </div>
    </div>
    <div class="details">
        <a ng-href="/#personalGoods/{{:: offer.id}}" class="btn btn-lg">Посмотреть подробнее</a>
    </div>
</div>