<section class="email" ng-class="{'_change': isChangeProcessStarted}">
    <notifications area="userEmail"></notifications>
    <notifications area="registration"></notifications>

    <div ng-if="!isChangeProcessStarted" class="email-view" ng-class="{'_noEmail': !currentEmail}">
        <div class="email-current">Ваша эл. почта <span class="_address">{{:: currentEmail}}</span></div>
        <button type="button" ng-click="openForm()" class="email-change__trigger" ng-class="{'_noEmail': !currentEmail}">{{'change'|translate}}</button>
    </div>

    <div ng-if="isChangeProcessStarted" class="user-email">
        <form class="form email-change" novalidate name="form" ng-submit="form.$valid && next(form)" loader="loader.inProgress">
            <div ng-if="step === 1">
                <h3 class="email-subtitle">
                    Введите <b>новый</b> электронный адрес. На&nbsp;этот адрес вы&nbsp;получите письмо с&nbsp;дальнейшей инструкцией
                </h3>
                <form-group class="email-new" label-grid-part="5" ng-attr-vertical="registration">
                    <input
                        type="email"
                        ng-model="model.newEmail"
                        name="email"
                        id="newEmail"
                        placeholder="Электронная почта"
                        required
                        autofocus
                    >
                </form-group>
            </div>

            <div ng-if="step === 2">
                <h3 class="email-subtitle">
                    Введите код подтверждения, который был отправлен на&nbsp;почту <b>{{::newEmail}}</b>
                </h3>
                <form-group class="email-code" label-grid-part="5" ng-attr-vertical="registration">
                    <input
                        type="text"
                        ng-model="model.confirmationCode"
                        name="confirmcode"
                        id="confirmationCode"
                        integer
                        required
                    />
                </form-group>
            </div>

            <div class="clearfix action-links" ng-if="step === 2">
                <div class="phone-code__resend link" ng-click="reSendCode()">Отправить код заново</div>
                <div class="phone-code__reenter link" ng-click="reEnterEmail(form)">Ввести другой e-mail</div>
            </div>
            <div class="email-change__control btn-container">
                <inline-loader line>loader.inProgress</inline-loader>
                <button type="button" ng-click="closeForm()" class="btn-negative">{{:: 'cancel' | translate}}</button>
                <button type="submit">{{ registration ? 'Далее' : 'Изменить' }}</button>
            </div>
        </form>
    </div>
</section>
