<section class="card" loader="inProgress">
    <h1 class="card-title">Бонусный счет</h1>

    <div class="card-item clearfix" ng-class="{'_blocked': card.block}" ng-repeat="card in cards track by card.id">
        <!--<div class="card-image">
            <img ng-src="{{::(!card.block ? card.imageUrl : 'wp-content/themes/bonusme/assets/img/card/blocked-card.svg')}}" alt="">
            <p>{{:: card.number}}</p>
        </div>-->
        <div class="card-action" ng-class="{'_canReplace': card.block && card.cardActionAccessInfo.canReplace}">
            <!--<div ng-if="card.cardActionAccessInfo.canBlock" ng-click="blockStateChange(card)">{{card.block ? 'Разблокировать' : 'Заблокировать'}}</div>-->
            <!--<div ng-if="card.cardActionAccessInfo.canReplace" ng-click="replaceCard(card)">Заменить</div>-->
        </div>
        <div class="card-action _blocked" ng-if="!card.cardActionAccessInfo.canBlock && card.block">Заблокирован</div>
        <div class="card-info__wrapper">
            <dl class="card-info clearfix">
                <dt class="card-info__key">Владелец</dt>
                <dd class="card-info__value">
                    {{:: card.cardOwnerInfo.lastName}} {{:: card.cardOwnerInfo.firstName}} {{:: card.cardOwnerInfo.patronymicName}}
                </dd>
            </dl>
            <dl class="card-info clearfix">
                <dt class="card-info__key">Потрачено</dt>
                <dd
                    class="card-info__value"
                    ng-class="{'_zero': card.paid.amount === 0}"
                    ng-bind-html="card.paid.amount | translatePlural: {plural: 'bonusPlurals.bonus'}"
                ></dd>
            </dl>
        </div>
    </div>

    <!--<div ng-if="false" class="card-add" ng-click="attachCard()">Прикрепить карту</div>-->
</section>
