<div>
    <div ng-if="!formOpened">
        <div class="subtitle">{{::question.displayName}}: </div>
        <div>
            <div ng-repeat="item in selectedQuestions = (question.children | filter:{selected:true})"
                 ng-init="elementId = question.logicalName+'_'+item.id">
                <div class="checkbox-div">
                    <input type="checkbox"
                           id="{{::elementId}}" name="{{::elementId}}"
                           ng-checked="::item.selected"
                           class="disabled"
                           disabled
                           ng-class="{'required': question.required}"
                    >
					<label for="{{::elementId}}" class="hidden"></label>
                </div>
                <div>{{::item.displayName}}</div>
            </div>
            <div ng-if="::!selectedQuestions.length">
                <div>{{::'notFilled'|translate}}</div>
            </div>
        </div>
        <question-edit ng-if="::!editMode"></question-edit>
    </div>

    <div ng-if="formOpened">
        <form class="panel-line" novalidate name="questionnaireForm" ng-submit="questionnaireForm.$valid && save()">
            <form-group class="panel-line"
                        label-text="{{::question.displayName}}"
                        label-grid-part="5"
                        ng-init="registerForm(questionnaireForm)">
                <div class="checkbox-questions">
                    <div ng-repeat="item in question.children"
                         ng-init="elementId = branch.logicalName+'_'+item.id">
                        <div class="checkbox-div input-wrapper">
                            <input
                                    type="checkbox"
                                    id="{{::elementId}}" name="{{::elementId}}"
                                    ng-model="item.selected"
                                    ng-disabled="::item.readOnly"
                            >
                            <label class="pointer checkbox-label" ng-click="item.selected = !item.selected">{{::item.displayName}}</label>
                        </div>
                    </div>
                </div>
                <question-errors></question-errors>
                <question-cancel ng-if="::!editMode"></question-cancel>
            </form-group>
            <question-save ng-if="::!editMode"></question-save>
        </form>
    </div>
</div>
