<div>
    <div ng-if="!formOpened">
        <div class="subtitle">{{::question.displayName}}: </div>
        <div>{{::question.value || ('notFilled'|translate)}}</div>
        <question-edit ng-if="::!editMode && !question.readOnly"></question-edit>
    </div>

    <div ng-if="formOpened">
        <form class="panel-line" novalidate name="questionnaireForm" ng-submit="questionnaireForm.$valid && save()">
            <form-group class="panel-line"
                        label-grid-part="5"
                        ng-init="registerForm(questionnaireForm)"
                        ng-class="{'required': question.required}"
            >
                <label for="{{::question.groupID}}_{{::question.id}}">{{::question.displayName}}</label>
                <input type="number"
                       ng-model="question.value"
                       name="{{::question.groupID}}_{{::question.id}}"
                       id="{{::question.groupID}}_{{::question.id}}"
                       ng-disabled="::question.readOnly"
                       ng-required="::question.required"/>
                <question-errors></question-errors>
                <question-cancel ng-if="::!editMode"></question-cancel>
            </form-group>
            <question-save ng-if="::!editMode"></question-save>
        </form>
    </div>

</div>