<div>
    <div class="flex-container" ng-if="!formOpened">
        <div class="subtitle">{{::question.displayName}}: </div>
        <div>{{::question.displayValue || ('notFilled'|translate)}}</div>
        <question-edit ng-if="::!editMode && !question.readOnly"></question-edit>
    </div>

    <div class="radio-container" ng-if="formOpened">
        <form class="panel-line" novalidate name="questionnaireForm" ng-submit="questionnaireForm.$valid && save()">
            <form-group
                class="panel-line"
                label-text="{{::question.displayName}}"
                label-grid-part="5"
                ng-init="registerForm(questionnaireForm)"
                ng-class="{'required': question.required}"
            >
                    <input
                        type="hidden"
                        ng-model="question.id"
                        id="{{::question.logicalName}}"
                        name="{{::question.logicalName}}"
                        ng-required="::question.required"
                    >
                <div class="radio-item"
                     ng-repeat="item in question.children"
                     ng-init="elementId = question.logicalName+'_'+item.id"
                >
                    <input
                        type="radio"
                        ng-model="question.id"
                        ng-value="::item.id"
                        ng-disabled="::item.readOnly"
                        id="id_{{::question.logicalName+'_'+item.id}}"
                    >
                    <label
                        for="id_{{::question.logicalName+'_'+item.id}}"
                        class="pointer"
                        ng-click="question.id = item.id">{{::item.displayName}}
                    </label>
                    <input
                        ng-if="item.fieldType === radioButtonStringType"
                        type="text"
                        ng-model="item.value"
                        class="form-control"
                        ng-click="question.id = item.id"
                        ng-required="question.id === item.id"
                    >
                </div>
                <question-errors></question-errors>
                <question-cancel ng-if="::!editMode"></question-cancel>
            </form-group>
            <question-save ng-if="::!editMode"></question-save>
        </form>
    </div>

</div>
