<div>
    <div ng-if="!formOpened">
        <div>{{::question.displayName}}: </div>
        <div>{{::question.value || ('notFilled' | translate)}}</div>
        <question-edit ng-if="::!editMode && !question.readOnly"></question-edit>
    </div>

    <div ng-if="formOpened">
        <form class="panel-line" novalidate name="questionnaireForm" ng-submit="questionnaireForm.$valid && save()" ng-attr-autocomplete="{{::browserAutocomplete}}">
            <form-group ng-init="registerForm(questionnaireForm)">
                <label for="{{::question.groupID}}_{{::question.id}}" ng-class=":: {'_required': question.required}">{{::question.displayName}}</label>
                <input
                    type="text"
                    ng-model="question.value"
                    name="{{::question.groupID}}_{{::question.id}}"
                    id="{{::question.groupID}}_{{::question.id}}"
                    uib-typeahead="value for value in getAutocompleteValues($viewValue)"
                    typeahead-on-select="commitValue()"
                    typeahead-min-length="0"
                    ng-attr-autocomplete="{{::browserAutocomplete}}"
                    ng-disabled="::question.readOnly"
                    ng-required="::question.required"
                />
                <question-errors></question-errors>
                <question-cancel ng-if="::!editMode"></question-cancel>
            </form-group>
            <question-save ng-if="::!editMode"></question-save>
        </form>
    </div>

</div>