<div class="feedback">
    <h1 class="feedback-title">Обратная связь</h1>

    <form novalidate class="form feedback-form clearfix" name="feedbackForm" ng-submit="feedbackForm.$valid && send(feedbackForm)" loader="sendInProgress">
        <form-group>
            <label for="msg-textarea">Сообщение...</label>
            <textarea
                ng-disabled="sendInProgress"
                id="msg-textarea"
                ng-model="messageModel.text"
                class="materialize-textarea"
                name="msg-textarea"
                required
            ></textarea>
        </form-group>

        <button type="submit">Отправить</button>

        <form-group ng-if="!messageModel.attachment">
            <div class="form-file__add">
                Прикрепить файл
                <input type="file" ng-model="messageModel.attachment" name="attachment" onfocus="this.blur()" base-sixty-four-input>
            </div>
        </form-group>

        <div class="form-file__attached" ng-if="messageModel.attachment">
            {{messageModel.attachment.filename}}
            <img
                class="form-file__remove"
                src="wp-content/themes/bonusme/assets/img/icon/icon-close.svg"
                alt="Удалить файл"
                title="Удалить файл"
                ng-click="messageModel.attachment = null"
            />
        </div>
    </form>

    <div class="scroller-wrapper feedback-chat__outer" loader="inProgress">
        <div class="scroller">
            <div class="feedback-chat">
                <div
                    class="feedback-chat__wrapper clearfix"
                    ng-class="item.isUserMessage ? '_me' : '_support'"
                    ng-repeat="item in messages | orderBy:'-'"
                >
                    <div class="feedback-chat__item" ng-if="item.isUserMessage">
                        <div class="feedback-chat__from">Я</div>
                        <div class="feedback-chat__content">
                            {{::item.message.fileName ? 'Файл:' : ''}}
                            {{::(item.message.fileName || item.message.message)}}
                            <div class="feedback-chat__date">{{::item.message.dateTime | toUTC | shortDateTime}}</div>
                        </div>
                    </div>

                    <div class="feedback-chat__item" ng-if="!item.isUserMessage">
                        <div class="feedback-chat__content">
                            {{::item.message.fileName ? 'Файл:' : ''}}
                            {{::(item.message.fileName || item.message.message)}}
                            <div class="feedback-chat__date">{{::item.message.dateTime | toUTC | shortDateTime}}</div>
                        </div><!--
                        --><div class="feedback-chat__from">
                            <img src="wp-content/themes/bonusme/assets/img/feedback/support.svg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroller-track">
            <div class="scroller-bar"></div>
        </div>
    </div>
</div>