﻿<div class="container personal-goods-offer" loader="inProgress">
    <div class="margin-bottom" ng-show="!inProgress">
        <div class="margin-bottom">
            <a href="#personal-goods" class="go-back-link">&larr; Вернуться к списку</a>
        </div>

        <personal-goods-offer-info offer="offer" class="margin-bottom"></personal-goods-offer-info>

        <div class="personal-goods-offer__goods-list card" ng-class="{'unselectable': !selectableGoodsCount, 'readonly': !offer.canSelectGoods}" loader="offerDetailsInProgress">
            <div class="approve card-action clearfix">
                <button type="button"
                        ng-if="availableGoodsCount"
                        ng-click="approveSelectedGoods()"
                        ng-disabled="!selectedGoods.length"
                        class="btn waves-effect waves-light right">Подтвердить</button>
                <div class="left">
                    {{selectableGoodsCount
                    ? ('Ещё можно выбрать товаров: ' + (selectableGoodsCount || 0) + ' из ' + offer.attribute.maxGoodsCount)
                    : 'Выбрано максимально допустимое количество товаров'}}
                </div>
            </div>
            <div class="card-content">
                <div ng-repeat="goods in offerGoods track by goods.id"
                     ng-click="changeSelectedGoods(goods)"
                     ng-class="{'approved': goods.selected, 'selected': selectedGoods.contains(goods)}"
                     class="goods"
                >
                    <div class="img-wrapper">
                        <img ng-src="{{:: goods.imgUrl}}"
                             fallback-image
                             fallback-title="Изображение отсутствует"
                             alt="">
                    </div>
                    <div class="goods__title" title="{{:: goods.title}}">{{:: goods.title}}</div>
                </div>
            </div>
            <div ng-if="availableGoodsCount" class="approve card-action clearfix">
                <button type="button"
                        ng-show="offerGoods.length > 9"
                        ng-click="approveSelectedGoods()"
                        ng-disabled="!selectedGoods.length"
                        class="btn waves-effect waves-light right">Подтвердить</button>
            </div>
            <div class="goods-list-overlayer">
                <p>
                    Редактирование списка товаров возможно только в&nbsp;период: {{:: (offer.attribute.startFillDate | dateRange: offer.attribute.endFillDate) | nbspSpaces}}
                </p>
            </div>
        </div>
    </div>
</div>
