@import (reference) "variables.less";

.scroller {
    &-wrapper {
        max-height: @baron-max-height;
    }
    &-track {
        right: @baron-track-right;
        top: @baron-track-top;
        bottom: @baron-track-bottom;
        width: @baron-track-width;
    }
    &-bar {
        border-radius: @baron-bar-radius;
        background: @baron-bar-background;
    }
}
