@import (reference) "variables.less";

.lmx-btn {
    height: @button-height;
    line-height: @button-height;
}

[class*='lmx-btn']:not(.lmx-btn-container) {
    border-radius: @button-border-radius;
    font-size: @button-font-size;
    font-weight: @button-weight;
    padding: @button-padding;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;

    button& {
        &[type='button'] {
            background: @button-background;
            border: @button-border-width solid @button-border-color;
            color: @button-color;

            &:hover {
                background: @button-background-hover;
                border: @button-border-width-hover solid @button-border-color-hover;
                color: @button-color-hover;
            }
        }
        &[type='submit'] {
            background: @form-submit-background;
            border: @form-submit-border-width solid @form-submit-border-color;
            color: @form-submit-color;

            &:hover {
                background: @form-submit-background-hover;
                border: @form-submit-border-width-hover solid @form-submit-border-color-hover;
                color: @form-submit-color-hover;
            }
        }
        &.lmx-btn-cancel {
            background: @cancel-button-background;
            border: @cancel-button-border-width solid @cancel-button-border-color;
            color: @cancel-button-color;

            &:hover {
                background: @cancel-button-background-hover;
                border: @cancel-button-border-width-hover solid @cancel-button-border-color-hover;
                color: @cancel-button-color-hover;
            }
        }
    }
    a& {
        background: @link-button-background;
        border: @link-button-border-width solid @link-button-border-color;
        color: @link-button-color;

        &:hover {
            background: @link-button-background-hover;
            border: @link-button-border-width-hover solid @link-button-border-color-hover;
            color: @link-button-color-hover;
        }
    }
}
