@import (reference) "variables.less";

.customSelect {
    &-item {
        height: @custom-select-item-height;
        line-height: @custom-select-item-line-height;

        &._disabled {
            color: @custom-select-item-color-disabled;
        }
        &:not(._disabled):hover {
            background-color: @custom-select-item-color-hover;
        }
    }
    &-scroller {
        &__wrapper {
            height: @custom-select-height;
            border: 1px solid @custom-select-border-color;
            border-radius: @custom-select-border-radius;
        }
        &__track {
            right: @baron-track-right;
            top: @baron-track-top;
            bottom: @baron-track-bottom;
            width: @baron-track-width;
        }
        &__bar {
            border-radius: @baron-bar-radius;
            background: @baron-bar-background;
        }
    }
}
