@import (reference) "variables.less";

footer#footer {
    max-height: @footer-height;
    min-height: @footer-height;
    height: @footer-height;
    background-color: @footer-background-color;
    color: @footer-color;

    a,
    a:hover {
        color: @footer-color;
    }
    #copy,
    #callcenter {
        text-align: left;
    }
    #links,
    #developer {
        text-align: right;
    }
    #links {
        li {
            a {
                width: 40px;
                height: 40px;
                display: inline-block;
                background-size: contain;
                vertical-align: top;
                font-size: 0;
            }

            &:nth-last-child(n+2) {
                margin-right: 15px;
            }
            &.odnoklassniki a {
                background-image: url('assets/images/social/odnoklassniki-logo.svg');
            }
            &.vkontakte a {
                background-image: url('assets/images/social/vkontakte-logo.svg');
            }
            &.facebook a {
                background-image: url('assets/images/social/facebook-logo.svg');
            }
            &.instagram a {
                background-image: url('assets/images/social/instagram-logo.svg');
            }
            &.googleplus a {
                background-image: url('assets/images/social/googleplus-logo.svg');
            }
            &.myworld a {
                background-image: url('assets/images/social/myworld-logo.svg');
            }
            &.twitter a {
                background-image: url('assets/images/social/twitter-logo.svg');
            }
        }
    }
    #developer {
        display: inline-block;
        width: 100%;
        margin-top: 10px;
    }
}
