@import (reference) "variables.less";

form .lmx-form-group {
    input[type='text'],
    input[type='password'],
    input[type='email'],
    textarea {
        font-size: @form-input-font-size;
        color: @form-input-color;
        border-bottom: @form-input-border-width solid @form-input-border-color;
        padding: 0 @form-input-padding-left-right;
        box-sizing: border-box;

        &::placeholder {
            color: @form-input-placeholder-color;
        }

        &:focus:not([readonly]) {
            border-bottom: @form-input-border-width solid @form-input-border-color-focus;
        }
    }

    input {
        &[type='text'],
        &[type='password'],
        &[type='email'] {
            height: @form-input-height;
            background-color: @form-input-background-color;
        }
    }

    textarea {
        resize: none;
        padding-top: @form-textarea-padding-top;
        padding-bottom: @form-textarea-padding-bottom;
    }

    &.lmx-has-error {
        input[type='text'],
        input[type='password'],
        input[type='email'] {
            border-bottom: @form-input-error-border-width solid @form-input-error-border-color;
            background-color: @form-input-error-background;
            color: @form-input-error-color;

            + label,
            + .dropdown-menu + label {
                color: @form-input-error-label-color;
            }
        }
        input[type='checkbox']:not(:checked) + label,
        input[type='radio']:not(:checked) + label,
        label.lmx-form-group-label {
            color: @form-input-error-label-color !important;
            transition: none;
        }
    }
}

.lmx-phone-field .lmx-country-code {
    line-height: @form-input-height;

    &::after {
        font-size: @form-input-font-size;
        top: 0;
    }
}
