@import (reference) "variables.less";

form input[type='radio']:checked + label::after {
    background-color: @form-radio-color-checked;
    border-color: @form-radio-color-checked;
}

form input[type='radio']:not(:checked) + label::before {
    border-color: @form-radio-color-not-checked;
}

form input[type='checkbox']:checked + label::after {
    background-color: @form-checkbox-color-checked !important;
    border-color: @form-checkbox-color-checked !important;
}

form input[type='checkbox']:not(:checked) + label::after {
    border-color: @form-checkbox-color-not-checked !important;
}
