@import (reference) "variables.less";

header#header {
    max-height: @header-height;
    min-height: @header-height;
    height: @header-height;

    .topnav,
    .top-menu {
        height: 100%;
    }
    .top-menu {
        background-color: @header-background-color;
        border-radius: 0;

        #logo {
            float: left;
            position: relative;

            &:hover {
                opacity: 1;
            }
            & > img {
                height: 66px;
                width: auto;
                margin-right: 20px;
            }
        }
        .panel {
            padding: 20px 0;
            overflow: hidden;

            ul > li > a,
            ul > li > span {
                font-size: 16px;
                display: inline-block;
                color: @header-nav-item-color;
                background: none;
                padding: 0 10px;

                &:hover {
                    color: @header-nav-item-color-hover;
                    background: none;
                    text-decoration: none;
                }
            }
            ul.navigation > li,
            ul.user-portal-actions > li {
                display: inline-block;
            }
            ul.navigation, ul.wp-navigation {
                float: left;
                width: auto;
            }
            ul.user-portal-actions {
                float: right;
            }
        }
    }
}
