@import (reference) "variables.less";

.lmx-modal {
    background-color: @modal-background;

    .modal-dialog .modal-content {
        border-radius: @modal-dialog-border-radius;
        box-shadow: @modal-dialog-box-shadow;
        width: @modal-dialog-width;
        margin-left: -calc(@modal-dialog-width/2);
        padding: @modal-dialog-padding;
    }
    .userAlert-modal.lmx-centered-modal .modal-content {
        width: 430px;
    }
}

.lmx-modal-closer {
    display: none;
}
