//region Site
@site-color: #4a565d;
@site-font-family: Roboto, Verdana, 'Geneva CY', 'DejaVu Sans', sans-serif;
@site-font-size: 15px;
@site-link-color: #039be5;
@site-main-content-width: 1200px;
@loader-background: url('assets/images/loader.gif') no-repeat center center rgba(255, 255, 255, 0.9);
@loader-height: 60px;
//endregion Site


//region Header
@header-height: 100px;
@header-background-color: #ffffff;
@header-nav-item-color: #4a565d;
@header-nav-item-color-hover: #4a565d;
//endregion Header


//region Footer
@footer-height: 100px;
@footer-background-color: #f5f5f5;
@footer-color: #4a565d;
//endregion Footer


//region Menu
@menu-item-height: 40px;
@menu-item-border-radius: 0;
@menu-item-font-size: 16px;
@menu-item-weight: normal;
@menu-item-weight-active: normal;
@menu-item-background: white;
@menu-item-background-hover: #f5f5f5;
@menu-item-background-active: #f5f5f5;
@menu-item-border-width: 1px;
@menu-item-border-width-hover: 1px;
@menu-item-border-width-active: 1px;
@menu-item-border-color: #d9d9d9;
@menu-item-border-color-hover: #d9d9d9;
@menu-item-border-color-active: #d9d9d9;
@menu-item-color: #4a565d;
@menu-item-color-hover: #4a565d;
@menu-item-color-active: #4a565d;
//endregion Menu


//region Baron
@baron-max-height: 350px;
@baron-track-width: 6px;
@baron-track-top: 4px;
@baron-track-right: 4px;
@baron-track-bottom: 4px;
@baron-bar-radius: 3px;
@baron-bar-background: #1de9b6;
//endregion Baron


//region Custom select
@custom-select-item-height: 30px;
@custom-select-item-line-height: 30px;
@custom-select-item-color-disabled: #e0e0e0;
@custom-select-item-color-hover: #e0e0e0;
@custom-select-height: 200px;
@custom-select-border-color: #d9d9d9;
@custom-select-border-radius: 0 0 5px 5px;
//endregion Custom select


//region Error
@error-color: #f44336;
@error-help-block-font-size: 12px;
@error-help-block-top-raise: 12px;
//endregion Error


//region Form
//region Form Input
@form-input-height: 3rem;
@form-input-background-color: transparent;
@form-input-font-size: 14px;
@form-input-color: #4a565d;
@form-input-border-width: 1px;
@form-input-border-color: #9e9e9e;
@form-input-border-color-focus: #26a69a;
@form-input-padding-left-right: 0;
@form-input-placeholder-color: #d1d5de;
@form-input-error-color: #4a565d;
@form-input-error-background: transparent;
@form-input-error-border-width: 1px;
@form-input-error-border-color: #e9351c;
@form-input-error-label-color: #e9351c;
//endregion Form Input

//region Form Textarea
@form-textarea-height: 140px;
@form-textarea-padding-top: 12px;
@form-textarea-padding-bottom: 24px;
//endregion Form Textarea

//region Form Label
@form-label-font-size: 15px;
@form-label-color-required: #e9351c;
@form-label-error-color: #f04c23;
//endregion Form Label

//region Form File
@form-file-add-color: #1b1b1b;
@form-file-attached-color: #1b1b1b;
//endregion Form File

//region Form Radio
@form-radio-color-checked: #26a69a;
@form-radio-color-not-checked: #5a5a5a;
//endregion Form Radio

//region Form Checkbox
@form-checkbox-color-checked: #26a69a;
@form-checkbox-color-not-checked: #5a5a5a;
//endregion Form Checkbox
//endregion Form


//region Button
@button-height: 40px;
@button-border-radius: 0;
@button-font-size: 15px;
@button-weight: normal;
@button-padding: 0 30px;
@button-background: #26a69a;
@button-background-hover: #2bbbad;
@button-border-width: 0;
@button-border-width-hover: 0;
@button-border-color: #26a69a;
@button-border-color-hover: #2bbbad;
@button-color: #ffffff;
@button-color-hover: #ffffff;

//region Submit Button
@form-submit-background: #26a69a;
@form-submit-background-hover: #2bbbad;
@form-submit-border-width: 0;
@form-submit-border-width-hover: 0;
@form-submit-border-color: #26a69a;
@form-submit-border-color-hover: #2bbbad;
@form-submit-color: #ffffff;
@form-submit-color-hover: #ffffff;
//endregion Submit Button

//region Link Button
@link-button-background: #26a69a;
@link-button-background-hover: #2bbbad;
@link-button-border-width: 0;
@link-button-border-width-hover: 0;
@link-button-border-color: #26a69a;
@link-button-border-color-hover: #2bbbad;
@link-button-color: #ffffff;
@link-button-color-hover: #ffffff;
//endregion Link Button

//region Cancel Button
@cancel-button-background: #757575;
@cancel-button-background-hover: #757575;
@cancel-button-border-width: 0;
@cancel-button-border-width-hover: 0;
@cancel-button-border-color: #757575;
@cancel-button-border-color-hover: #757575;
@cancel-button-color: #ffffff;
@cancel-button-color-hover: #ffffff;
//endregion Submit Button
//endregion Button


//region Modal
@modal-background: rgba(27, 27, 27, 0.5);
@modal-dialog-width: 700px;
@modal-dialog-padding: 24px;
@modal-dialog-border-radius: 0;
@modal-dialog-box-shadow: none;
//endregion Modal
