<div class="alert-message" ng-bind-html="message"></div>
<div class="footer">
    <button type="button" class="btn waves-effect waves-light" ng-click="ok()" autofocus>{{:: confirmButtonText}}</button>
    <button type="button" class="btn btn-cancel waves-effect" ng-click="cancel()">{{:: 'no' | translate}}</button>
</div>