<div class="footer col-sm-7 col-sm-offset-5">
    <span class="inline-loader line ng-hide" ng-show="inProgress"></span>
    <button type="submit" class="btn btn-primary btn-accept" ng-hide="inProgress">{{::'save'|translate}}</button>
</div>