<div
    class="form clearfix"
    loader="loader.inProgress"
    ng-class="{'questionnaire-edit' : !registration, 'registration-form': registration, '_disabled': isDisabled && !registration}"
>
    <h1 class="registration-title" ng-if="registration">Введите свои данные</h1>

    <div class="questionnaire-modify" ng-show="!registration && isDisabled" ng-click="changeEdit()">
        <span>Редактировать</span>
    </div>

    <div class="questionnaire-column" ng-repeat="block in questionnaire">
        <questionnaire-block block="block" edit-mode="editMode"></questionnaire-block>
    </div>

    <notifications class="questionnaire-notification" area="questionnaire"></notifications>

    <div class="questionnaire-submit clearfix" ng-show="editMode">
        <button type="button" ng-if="registration" ng-click="$root.logout()">{{:: 'cancel' | translate}}</button>
        <div class="questionnaire-cancel" ng-show="!registration && !isDisabled" ng-click="changeEdit(); cancelForm()">
            <span>{{:: 'cancel' | translate}}</span>
        </div>
        <button type="submit" class="btn" ng-click="saveQuestionnaire()">{{::'save'|translate}}</button>
    </div>
</div>