﻿<div class="container brands">
    <section>
        <h2>Бренды</h2>
        <div loader="inProgress">
            <!-- TODO width: 400px; height: 400px; -->
            <div class="card hoverable" style="width: 400px; height: 400px;"
                 ng-repeat="brand in brands track by brand.id" ng-click="changeLocation('brands/' + brand.id)">
                <div class="card-image waves-effect waves-block waves-light">
                    <img ng-src="{{:: brand.imgUrl}}"
                         fallback-image
                         fallback-title="Изображение отсутствует"
                         alt=""
                         style="height: 250px; padding: 10px">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">{{:: brand.name}}</span>
                    <div class="description">{{::brand.description}}</div>
                </div>
            </div>
        </div>
    </section>
</div>
