﻿<div class="container brand">
    <section>
        <h2>{{::brand.name}}</h2>
        <p>{{::brand.description}}</p>
        <div class="content">
            <div class="image">
                <img ng-src="{{:: brand.imgUrl}}"
                     fallback-image
                     fallback-title="Изображение отсутствует"
                     alt="">
            </div>
            <a ng-href="{{::brand.url}}">Перейти на сайт бренда</a>
            <div ng-if="merchants.length">
                <p>Адреса:</p>
                <div ng-repeat="merchant in merchants track by merchant.id">
                    <span>{{::merchant.location.description}}</span>
                </div>
                <lmx-map class="map"
                         data="merchants"
                         options="{
                                    markerImg: brand.markerUrl,
                                    markerSize: [29, 32]
                                   }">
                </lmx-map>
            </div>
        </div>
    </section>
</div>
