﻿<div class="container personal-offer" loader="inProgress">
    <div ng-if="!inProgress">
        <div class="margin-bottom">
            <a href="#personal-offers" class="go-back-link">&larr; Вернуться к списку</a>
        </div>

        <personal-offer-content class="margin-bottom" personal-offer="personalOffer"></personal-offer-content>

        <div class="offer-details-container margin-bottom">
            <inline-loader line>!allViewsRendered</inline-loader>
            <ul class="collapsible" data-collapsible="expandable" ng-if="allViewsRendered">
                <li ng-repeat="offerDetail in offerDetails">
                    <div class="collapsible-header">
                        <div class="offer-details__header">
                            <span>{{::offerDetail.title}}</span>
                        </div>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </div>
                    <div class="collapsible-body">
                        <dl class="offer-details">
                            <dt class="offer-details__title">Предложение:</dt>
                            <dd class="offer-details__description">{{::offerDetail.description}}</dd>

                            <dt class="offer-details__title">Детали:</dt>
                            <dd class="offer-details__values">
                                <personal-offer-discount-view
                                    ng-if="offerDetail.discount"
                                    value="offerDetail.discount.$type === discountTypes.percent ?
                                        offerDetail.discount.value * 100 : offerDetail.discount.value"
                                    type="offerDetail.discount.$type"
                                    measure-amount="offerDetail.discount.measureAmount"
                                    discount-type="offerDetail.discount.discountType"
                                ></personal-offer-discount-view>
                                <p>{{::offerDetail.annotation}}</p>
                            </dd>

                            <dt
                                class="offer-details__title _interval"
                                ng-if="offerDetail.detailBeginLocalDate || offerDetail.detailEndLocalDate"
                            >
                                Срок действия предложения по позиции:
                            </dt>
                            <dd
                                class="offer-details__dates"
                                ng-if="offerDetail.detailBeginLocalDate || offerDetail.detailEndLocalDate"
                            >
                                <p>
                                    <span ng-if="offerDetail.detailBeginLocalDate && !offerDetail.detailEndLocalDate">
                                        с {{::offerDetail.detailBeginLocalDate | shortDate}} до конца акции
                                    </span>
                                    <span ng-if="!offerDetail.detailBeginLocalDate && offerDetail.detailEndLocalDate">
                                        с начала акции до {{::offerDetail.detailEndLocalDate | shortDate}}
                                    </span>
                                    <span ng-if="offerDetail.detailBeginLocalDate && offerDetail.detailEndLocalDate">
                                        с {{::offerDetail.detailBeginLocalDate | shortDate}} до {{::offerDetail.detailEndLocalDate | shortDate}}
                                    </span>
                                </p>
                            </dd>

                            <dt class="offer-details__title">
                                Код товара:
                            </dt>
                            <dd class="offer-details__codes">
                                <p><span ng-repeat="code in offerDetail.codes">{{::code.value}}</span></p>
                            </dd>
                        </dl>
                        <div class="center show-on-map__btn">
                            <a
                                ng-show="offerDetail.hasMerchants"
                                ng-click="openPersonalOfferMapModal(offerDetail.id)"
                                class="btn waves-effect waves-light"
                            >
                                Посмотреть на карте
                            </a>
                        </div>
                    </div>
                </li>
                <script>
                    $('.collapsible').collapsible();
                </script>
            </ul>
        </div>
    </div>
</div>
