﻿<div class="container announcements">
    <section>
        <h2>Реклама</h2>
        <div loader="isProgress">
            <div>
                <article ng-repeat="announcement in announcements track by announcement.id"
                         ng-click="changeLocation(getAnnouncementPath(announcement.id))"
                         class="announcement-card card hoverable"
                >
                    <div class="card-image">
                        <img ng-src="{{:: getAnnouncementImagePath(announcement.attributes.OfferImage.value)}}"
                             fallback-image
                             fallback-title="Изображение отсутствует"
                             alt="">
                    </div>
                    <div class="card-content">
                        <div class="title" title="{{:: announcement.attributes.OfferTitle.value}}">{{:: announcement.attributes.OfferTitle.value}}</div>
                        <div class="description">{{:: announcement.attributes.OfferDescription.value}}</div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>
