﻿<div class="container announcement">
    <section loader="isProgress">
        <article ng-if="!isProgress">
            <div class="margin-bottom">
                <a ng-href="#{{:: announcementsPath}}" class="go-back-link">&larr; Вернуться к списку рекламы</a>
            </div>
            <h2 class="center">{{:: announcement.attributes.OfferTitle.value}}</h2>
            <img ng-src="{{:: getAnnouncementImagePath(announcement.attributes.OfferImage.value)}}"
                 fallback-image
                 fallback-title="Изображение отсутствует"
                 alt="">
            <div class="description">{{:: announcement.attributes.OfferDescription.value}}</div>
        </article>
    </section>
</div>
