<div class="container showcase">
    <h2>Витрина</h2>

    <div class="btn-group margin-bottom">
        <a class="waves-effect waves-light btn-large" ng-class="{'teal accent-3': !categoriesType}"
           ng-click="changeType(false)">
            Основные
        </a>
        <a class="waves-effect waves-teal btn-large" ng-class="{'teal accent-3': categoriesType}"
           ng-click="changeType(true)">
            Категории
        </a>
    </div>

    <div loader="inProgress">
        <div ng-if="!categoriesType && !inProgress" class="main-coupon">
            <!--ITEM STARTS-->
            <coupon ng-repeat="coupon in coupons | orderBy: 'id'"></coupon>
            <!--ITEM ENDS-->
        </div>

        <div ng-if="categoriesType" class="category-coupons" ng-if="!inProgress">
            <div class="btn-group left">
                <a
                    ng-if="!inProgress"
                    class="waves-effect waves-light btn"
                    ng-repeat="(logicalName, categoryObject) in couponsByCategories"
                    ng-click="showCategory(logicalName)"
                >
                    {{:: categoryObject.name }}
                </a>
            </div>
            <div ng-repeat="(logicalName, categoryObject) in couponsByCategories">
                <div class="category-wrapper" ng-if="!selectedCategory || logicalName == selectedCategory">
                    <div>
                        <h5>
                            <a ng-click="showCategory(logicalName)">{{:: categoryObject.name }} ({{:: categoryObject.coupons.length }})</a>
                        </h5>
                    </div>
                    <coupon ng-repeat="coupon in categoryObject.coupons | limitTo: selectedCategory? null : 2"></coupon>
                </div>
            </div>
        </div>
    </div>
</div>
