﻿<div class="container my-coupons">
    <section>
        <h2>Купоны</h2>
        <div loader="inProgress">
            <div ng-if="!inProgress">
                <div class="coupon card hoverable"
                     ng-repeat="coupon in coupons track by coupon.couponId"
                     ng-click="openCouponViewModal(coupon)">
                    <div class="card-image">
                        <img ng-src="{{::coupon.imageUri || 'undefined'}}"
                             fallback-image
                             fallback-title="Изображение купона отсутствует"
                             alt=""
                             style="height: 250px; padding: 10px">
                    </div>
                    <div class="card-content">
                        <div class="coupon-details">
                            <div class="coupon-number">
                                {{:: coupon.number}}
                            </div>
                            <div class="coupon-content" ng-switch="coupon.content.contentType.toLowerCase()">
                                <!--QRCODE-->
                                <div ng-switch-when="qrcode">
                                    <qrcode data="{{:: coupon.content.data}}"
                                            href="{{:: coupon.content.data}}"
                                            size="200"></qrcode>
                                </div>
                                <!--BARCODE-->
                                <div ng-switch-when="barcode">
                                    <barcode string="{{:: coupon.content.data}}" render="img" type="code128b"
                                             options="barcodeOptions"></barcode>
                                </div>
                                <!--URL-->
                                <div ng-switch-when="uri">
                                    <a ng-href="{{:: coupon.content.data}}" target="_blank">Перейти к купону на сайте</a>
                                </div>
                            </div>
                            <div class="coupon-dates">
                                Дата покупки: {{:: coupon.recievedDate | shortDateTime}}
                            </div>
                            <div ng-if="coupon.expireDate" class="rating-container">
                                Истекает: {{:: coupon.expireDate | shortDateTime}}
                            </div>
                        </div>
                        <div class="coupon-actions">
                            <span class="card-title grey-text text-darken-4">{{:: coupon.text}}</span>
                            <a ng-if="isRefundable(coupon)" ng-click="refundCoupon(coupon.couponId)">Вернуть купон</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
