﻿<div class="container personal-offers">
    <h2>Персональные предложения</h2>
    <div loader="inProgress">
        <div class="margin-bottom" ng-if="!inProgress">
            <div ng-repeat="personalOffer in personalOffers track by personalOffer.id">
                <div class="card">
                    <personal-offer-content personal-offer="personalOffer"></personal-offer-content>
                    <div class="card-action">
                        <a ng-href="#personal-offers/{{::personalOffer.id}}">Посмотреть подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
