/*
Theme Name: БИН
Author: Loymax Solutions
Description: Тема для ЛК БИН
Version: 1.0
*/

@font-face {
    font-family: 'AG_Futura Bold';
    font-style: normal;
    font-weight: 700;
    src:
        local('AG_Futura Bold'), local('AG_Futura-Bold'),
        url('assets/fonts/ag_futura-bold.woff') format('woff'),
        url('assets/fonts/ag_futura-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'rouble';
    src:
        url('assets/fonts/rouble-webfont.woff2') format('woff2'),
        url('assets/fonts/rouble-webfont.woff') format('woff'),
        url('assets/fonts/rouble-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Roboto";
    src:
        local(Roboto Thin),
        url("assets/fonts/Roboto-Thin.woff2") format("woff2"),
        url("assets/fonts/Roboto-Thin.woff") format("woff");
    font-weight: 100
}

@font-face {
    font-family:"Roboto";
    src:
        local(Roboto Light),
        url("assets/fonts/Roboto-Light.woff2") format("woff2"),
        url("assets/fonts/Roboto-Light.woff") format("woff");
    font-weight: 300
}

@font-face {
    font-family:"Roboto";
    src:
        local(Roboto Regular),
        url("assets/fonts/Roboto-Regular.woff2") format("woff2"),
        url("assets/fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400
}

@font-face {
    font-family:"Roboto";
    src:
        local(Roboto Medium),
        url("assets/fonts/Roboto-Medium.woff2") format("woff2"),
        url("assets/fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500
}

@font-face {
    font-family:"Roboto";
    src:
        local(Roboto Bold),
        url("assets/fonts/Roboto-Bold.woff2") format("woff2"),
        url("assets/fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700
}

/*! reselize.css v1.0.0 | MIT License | github.com/HawkeyePierce89/reselize.css
Based on github.com/necolas/normalize.css */

/* Reset
   ========================================================================== */

* {
    margin: 0; /* обнуляем внешние отступы */
    padding: 0; /* обнуляем внутренние отступы */
    border: 0; /* убираем бордюры */
    font-size: 100%; /* задаем базовый размер шрифта, значение по умолчанию = 16px */
    vertical-align: baseline; /* устанавливаем базовое вертикальное выравнивание */
    background: transparent; /* устанавливаем фон прозрачным */
}
body {
    line-height: 1; /* устанавливаем базовую высоту */
}
ol, ul {
    list-style: none; /* убираем маркеры для нумерованных и обычных списков */
}
blockquote, q {
    quotes: none; /* убираем кавычки для цитат */
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: ''; /* убираем */
    content: none; /* и скрываем генерируемое содержимое */
}
ins {
    text-decoration: none; /* убираем подчеркивание для вставленного текста */
}
del {
    text-decoration: line-through; /* убираем перечеркивание для удаленного текста */
}
table {
    border-collapse: collapse; /* убираем рамки двойной толщины */
    border-spacing: 0; /* убираем расстояние между ячейками */
}


/* Document
   ========================================================================== */

/**
 * Prevent adjustments of font size after orientation changes in
 * IE on Windows Phone and in iOS.
 */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Sections
   ========================================================================== */

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the bottom border in Chrome 57- and Firefox 39-.
 */

abbr[title] {
    border-bottom: none; /* 1 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
    font-style: italic;
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
    overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE.
 */

template {
    display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
    display: none;
}

html,body { height: 100%; }
body { font-family: Roboto, sans-serif; min-width: 1000px; color: #4a565d; overflow-y: scroll }
body.modal-open { overflow-y: hidden; }
.clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }
.main { min-height: 100%;   margin-bottom: -90px; }
.main > .notifications._main { position: absolute; top: 0; width: 100%; z-index: 10; }
[href] { text-decoration: none; color: #6cb700; }
[href]:hover { text-decoration: underline; }

.lmx-relative {
    position: relative;
}
.lmx-loader-container {
    min-height: 70px;
}

h2.title,
h3.title {
    font-family: 'AG_Futura Bold', sans-serif;
    text-transform: uppercase;
    color: #056839;
}
h2.title {
    font-size: 30px;
    margin-bottom: 30px;
}
h3.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.main:after {
    content: "";
    display: block;
}

.header {
    background-color: #6cb700;
    position: relative;
    z-index: 1;
}

.card-image {
    position: relative;
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    z-index: 3;
}

.logo {
    position: relative;
    float: left;
    margin: 10px 100px 0 40px;
}

.header-wrapper {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    height: 200px;
}

.slider-container {
    position: relative;
    height: auto;
    min-height: 250px;
}

.theme-default .nivo-controlNav {
    position: relative;
    margin-top: -62px;
}

.head-action {
    background-color: rgba(255, 255, 255, .8);
    position: absolute;
    top: 0;
    width: 100%;
}

.head-action-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    min-height: 150px;
    max-height: 250px;
    padding-bottom: 25px;
}

.head-action-wrapper .authentication,
.head-action-wrapper .registration-container {
    width: inherit;
    padding-top: 56px;
    padding-left: 25px;
    max-width: 850px;
}

.head-action-wrapper .authentication .notifications {
    padding-left: 20px;
}

.header .hotline {
    float: right;
    margin-top: 90px;
    margin-right: 40px;
    position: relative;
}

.hotline {
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.header-menu {
    overflow: hidden;
    padding-top: 90px;
    padding-right: 50px;
}

.top-menu li {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 10px;
}

.top-menu li a {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 300;
}

.center {
    text-align: center;
}

.registration-form.assign-card {
    width: 350px;
}

.top-menu li a:hover {
    color: #056839;
    text-decoration: none;
}

.top-menu li.current_page_item a,
.top-menu li.current_page_ancestor a {
    color: #056839;
}

.hotline a {
    color: inherit;
    text-decoration: none !important;
}

.footer, .main:after {
    height: 90px;
}

.footer {
    max-width: 1280px;
    margin: 0 auto;
}

.footer-info {
    float: left;
    font-size: 14px;
    color: white;
    margin-top: 28px;
}

.footer-info a {
    color: white;
}

.footer .hotline {
    display: table;
    margin: 0 auto;
    position: relative;
    top: 32px;
    left: 40px;
}

.footer-wrapper  {
    background: #6cb700;
}

.footer-logo {
    float: right;
    font-size: 0;
    margin-top: 26px;
}

.footer-logo img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

.metaslider {
    margin: 0 auto 30px;
    position: relative;
    top: -82px;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

button,
.btn {
    height: 40px;
    min-width: 110px;
    font-size: 18px;
    font-weight: 300;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
}

button[type="button"],
button[type="submit"],
.btn {
    color: white;
    background: #6cb700;
}

button[type="button"]:hover,
button[type="submit"]:hover,
.btn:hover {
    background: #61a500;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #056839;
    padding: 8px 20px;
    color: #393939;
    font-size: 18px;
    font-weight: 300;
    background-color: #FFFFFF;
}

select {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #056839;
    padding: 7px 10px;
    color: #393939;
    font-size: 18px;
    font-weight: 300;
    background-color: #FFFFFF;
}

input::placeholder,
textarea::placeholder {
    color: #707070;
}

input:focus,
select:focus {
    border-color: #6cb700;
    box-shadow: inset 0 1px 1px #6cb700, 0 1px 1px #6cb700;
}

input:disabled {
    background: #dddddd;
}

label {
    font-size: 14px;
    color: #808080;
    display: block;
    margin-bottom: 12px;
}

.form-container {
    margin-bottom: 12px;
}

.auth-form form-group {
    width: 218px;
    margin-left: 20px;
}

.auth-form button {
    margin-left: 20px;
}

.auth-form form-group,
.auth-form button {
    display: inline-block;
    vertical-align: bottom;
}

.hotline:before {
    position: absolute;
    content: '';
    left: -40px;
    top: -4px;
    width: 30px;
    height: 30px;
    background: url("assets/img/icon/icon-hotline.svg") no-repeat;
    background-size: 30px;
}

.has-error input {
    border: 1px solid #ff0000;
    color: #ff0000;
}

.has-error .checkbox-label,
.has-error .checkbox-label * {
    color: #ff0000;
}

.auth-form .help-block {
    position: absolute;
}

.help-block > * {
    color: #ff0000;
    font-size: 12px;
    margin-top: 10px;
}

.alert {
    color: #f04c23;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

main {
    max-width: 1280px;
}

#modal-wrapper.block {
    display: flex !important;
}

#modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(108, 183, 0, 0.75);
    z-index: 100;
    display: none;
    overflow-y: scroll;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
}

.modal-content #modal-wrapper {
    display: block;
}

#modal-wrapper #modal {
    min-width: 350px;
    background: #fff;
    z-index: 100;
    padding: 40px;
    display: table;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

#modal-wrapper #modal #modal-close-ico {
    position: absolute;
    color: #959595;
    right: 15px;
    top: 5px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
}
.no-scroll {
    overflow: hidden;
}

#modal h1 {
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    color: #056839;
    position: relative;
    text-align: center;
    height: 40px;
    margin: -10px 0 20px;
}

#modal .tender-offer {
    height: 550px;
    overflow: auto;
    padding: 25px 10px;
    border: 1px solid rgba(99,99,99,.15);
}

#modal .opd-agreement {
    font-size: 14px;
    padding: 13px 10px;
}

#modal .opd-agreement a {
    line-height: 20px;
}

.head-action .links li {
    display: inline-block;
}

.link {
    font-size: 14px;
    font-weight: 500;
    color: #6cb700;
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    color: #006d37;
}

.head-action .links li + li {
    margin-left: 28px;
}

.head-action .links {
    text-align: left;
    margin-top: 20px;
    margin-left: 450px;
}

.sign-in-btn img,
.sign-out-btn img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    left: -6px;
}

.sign-in-btn,
.sign-out-btn {
    padding-bottom: 3px;
}

.sign-in-btn {
    margin-bottom: 12px;
}

.user-info {
    margin-top: 80px;
    margin-left: 40px;
}

.left-user-info,
.user-info .initials {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}

.initials {
    display: inline-block;
    font-size: 24px;
    color: #056839;
    font-weight: 500;
    max-width: 400px;
    margin-right: 40px;
    min-width: 95px;
}

.body-loader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white center center no-repeat;
    z-index: 10003;
}

.lmx-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    min-height: 70px;
    z-index: 10001;
    background: rgba(255,255,255,.8) url("assets/img/loader.svg") center center/auto 70px no-repeat;
}

.pseudo-link {
    position: absolute;
    top: 153px;
    right: 40px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
}

.go-to-cabinet {
    display: block;
    margin-left: 40px;
    margin-top: -4px;
}

img.loader {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.auth-form img.loader {
    margin-bottom: 10px;
    margin-left: 60px;
}

.scroller-wrapper {
    max-height: 350px;
    overflow: hidden;
    position: relative;
}

.scroller {
    overflow-y: scroll;
    max-height: inherit;
    -webkit-overflow-scrolling: touch;
}

.scroller::-webkit-scrollbar {
    width: 0;
}

.scroller-track {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    width: 6px;
    visibility: hidden;
    pointer-events: none;
}

._scrollbar .scroller-track {
    visibility: visible;
    pointer-events: auto;
}

.modal-title {
    color: #056839;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
    margin-top: -15px;
}

.btn-lg {
    min-width: 140px;
    padding: 8px 16px;
}

button.btn-negative {
    background-color: #808080;
}

button.btn-negative:hover {
    background-color: #606060;
}

.scroller-bar {
    background-color: #6cb700;
    position: absolute;
    z-index: 1;
    width: inherit;
    border-radius: 3px;
    pointer-events: auto;
}

.registration-form.activate {
    width: 350px;
}

.registration-form.activate button {
    margin-top: 10px;
}

.registration-offer__text {
    padding-right: 20px;
}

.registration._offer {
    width: 500px;
}

.registration._offer .help-block {
    text-align: left;
}

.form p {
    font-size: 16px;
    margin-top: 15px;
    color: #949494;
}

.registration-form .form-group {
    margin-top: 20px;
}

.phone-change__control {
    margin-top: 20px;
}

.btn-container {
    text-align: center;
}

.btn-container button:last-child {
    margin-top: 10px;
    margin-left: 10px;
}

.phone-code__reenter {
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-container table {
    width: 100%;
}

.password-repeat .form-group {
    margin-top: -5px;
}

.phone-countryCode {
    float: left;
    font-size: 18px;
    font-weight: 300;
    height: 40px;
    line-height: 42px;
    margin-right: 5px;
    margin-top: 13px;
}

.phone-new {
    display: block;
    overflow: hidden;
}

.phone-new input {
    padding: 10px;
}

#acceptTenderOffer {
    width: auto;
}

.questionnaire input {
    width: 352px;
}

.questionnaire input:nth-child(2) {
    margin-right: 50px;
}

.questionnaire input[type="radio"] {
    width: 15px;
    height: 15px;
}

.questionnaire input[type="radio"]:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.questionnaire .radio-item {
    margin-left: 140px;
    margin-top: -24px;
}

.questionnaire-edit {
    margin-bottom: 50px;
}

.questionnaire-edit .radio-item {
    margin-left: 215px;
}

.questionnaire .radio-item + .radio-item {
    margin-top: 10px;
}

.questionnaire label {
    float: left;
    text-align: right;
    width: 120px;
    margin-top: 10px;
    margin-right: 20px;
}

.questionnaire .help-block {
    margin-left: 140px;
}

.questionnaire-edit .help-block {
    margin-left: 214px;
}

.customSelect {
    position: relative;
}

.customSelect select {
    display: block !important;
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.customSelect-list {
    width: 100%;
    background: white;
    margin: 0;
}

.customSelect-item {
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.customSelect-item._disabled {
    cursor: default;
    color: #e0e0e0;
}

.customSelect-item:not(._disabled):hover {
    background-color: #e0e0e0;
}

.customSelect-scroller {
    overflow-y: scroll;
    height: inherit;
    -webkit-overflow-scrolling: touch;
}

.customSelect-scroller::-webkit-scrollbar {
    width: 0;
}

.customSelect-scroller__wrapper {
    height: 200px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    border: 1px solid #d9d9d9;
    border-top: 0;
    z-index: 1;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    max-height: none;
}

.customSelect-scroller__wrapper._hide {
    left: -9999px;
    top: -9999px;
}

.customSelect-scroller__track {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    width: 6px;
}

.customSelect-scroller__bar {
    position: absolute;
    z-index: 1;
    width: inherit;
    border-radius: 3px;
    background: #6cb700;
    pointer-events: auto;
}

.customSelect-selected._disabled {
    background: #dddddd;
}

.customSelect-selected._disabled:focus {
    border: 1px solid #056839;
    box-shadow: none;
}

.sb-date-select-wrapper {
    width: 115px;
    display: inline-block;
}

.sb-date-select-wrapper input {
    width: 100%;
    text-align: center;
}

.birthday-picker label {
    position: absolute;
    float: left;
    text-align: right;
}

.sb-date-select {
    margin-left: 140px;
}

label.pointer {
    float: none;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 0;
    width: 40px;
    display: inline-block;
}

label._required::after {
    content: ' *';
    color: #e9351c;
}

.annotation {
    font-size: 14px;
    color: #949494;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.registration-title {
    font-size: 18px;
    color: #4c4c4c;
}

.dropdown-menu:not(.datetime-picker-dropdown) {
    position: absolute;
    width: 352px;
    border: 1px solid #d9d9d9;
    margin-top: -2px;
    background: white;
    z-index: 1;
    max-height: 211px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
}

.dropdown-menu:not(.datetime-picker-dropdown) li a {
    text-decoration: none !important;
    display: block;
    height: inherit;
    line-height: inherit;
}

.dropdown-menu:not(.datetime-picker-dropdown) li {
    height: 29px;
    line-height: 29px;
    border-bottom: 1px solid #efefef;
    color: #b8b8b8;
    font-size: 15px;
    cursor: pointer;
    padding: 0 10px;
}

.dropdown-menu:not(.datetime-picker-dropdown) li:hover, .customSelect-item:not(._disabled):hover {
    background-color: #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    color: #4a565d;
}

.registration-form._complete {
    text-align: center;
    width: 350px;
}

.registration-form._complete .registration-title {
    margin-bottom: 30px !important;
}

.registration-form._complete p {
    font-size: 14px;
    color: #808080;
    margin-bottom: 20px;
}

.registration-form._complete .registration-title {
    color: #056839;
    font-size: 24px;
    font-weight: 400;
}

.right {
    text-align: right;
}

.forgot-repeatCode {
    display: block;
    margin-bottom: 15px;
}

.questionnaire.registration-form .help-block {
    margin-left: 140px;
}

.questionnaire.registration-form .questionnaire-notification {
    text-align: center;
}

.no-scroll {
    overflow: hidden;
}

input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.checkbox-label {
    padding-left: 24px;
    user-select: none;
    margin: 0;
}

.checkbox-label::before,
.checkbox-label::after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkbox-label::before {
    left: 0;
    border: 1px solid #056839;
}

.checkbox-label::after {
    top: 4px;
    left: 3px;
    background: url("assets/img/icon/checbox-check.svg") no-repeat center center;
    display: none;
    background-size: 30px;
}

input[type=checkbox]:checked + label::before {
    border: 1px solid #056839;
    border-radius: 0;
    box-shadow: none;
}

input[type=checkbox]:checked + label::after {
    display: block;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.phone._registration._change {
    width: 350px;
}

.sideBar {
    float:left;
    width: 100px;
    background: aqua;
    overflow:hidden;
}

.cabinet {
    width: 1280px;
    margin: 60px auto 50px;
    overflow: hidden;
}

.cabinet .left-bar {
    float: left;
    width: 280px;
    margin-right: 148px;
    margin-left: 40px;
}

.cabinet .content {
    float: left;
    width: 810px;
    position: relative;
}

.cabinet .initials {
    font-size: 24px;
    font-weight: 300;
    color: #4c4c4c;
}

.cabinet .card-info {
    font-size: 18px;
    font-weight: 300;
    color: #4c4c4c;
    margin-top: 10px;
}

.user {
    margin-top: 70px;
    font-size: 17px;
    font-weight: 500;
    color: #056839;
    line-height: 1.4;
}

.user dd,
.user dt {
    display: inline-block;
}

.user .user-balance__value > :first-child {
    font-size: 22px;
}

.user .user-accumulated__key,
.user .user-accumulated__value,
.user .user-paid__key,
.user .user-paid__value {
    font-weight: 300;
}

.side-menu {
    background-color: #6cb700;
    margin-top: 40px;
}

.side-menu li {
    list-style-type: none;
}

.side-menu a {
    border: 1px solid transparent;
    position: relative;
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.side-menu a.active,
.side-menu li.current_page_item a {
    background-color: #056839;
    color: #fff;
}

.side-menu a:hover {
    border-color: #056839;
    color: #056839;
}

.side-menu a.active:hover {
    color: #fff;
}

table.history-items {
    width: 100%;
    border-spacing: 0;
    border-width: 0;
}

table.history-items td {
    padding: 28px 10px;
    vertical-align: middle;
}

table.history-items .description {
    text-align: left;
    max-width: 350px;
    white-space: normal;
    word-break: break-all;
}

table.history-items th {
    font-size: 18px;
    font-weight: 500;
}

table.history-items td {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    white-space: nowrap;
    color: #4c4c4c;
}

table.history-items th {
    color: #4c4c4c;
    height: 16px;
    padding: 8px;
    text-align: left;
}

table.history-items td > div {
    padding: 2px 5px;
}

table.history-items .messages .no-result {
    text-align: left;
}

table.history-items .messages .no-result p {
    margin-bottom: 3px;
    font-style: italic;
}

td.go-to-history {
    text-align: left;
}

td.go-to-history a {
    color: #4c4c4c;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.last-operations .go-to-history {
    text-align: left;
    display: table-cell;
    color: #4c4c4c;
    padding: 15px 10px;
}

.last-operations .button-column {
    white-space: nowrap;
    text-align: left;
}

table.history-items .cheque-info {
    display: none;
}

table.history-items .lmx-cheque-opened .cheque-info {
    display: table-row;
}

.cheque-content {
    position: relative;
    padding: 5px 250px 5px 5px;
}

table.history-items tr.cheque-info td {
    background: #056839;
    text-align: left;
    padding: 0;
}

table.history-items tbody tr:hover {
    background-color: #efefef;
}

.cheque-info .cheque-content .cheque-line {
    margin-bottom: 2px;
    position: relative;
}

.cheque-info .cheque-content .cheque-line .cheque-item {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    width: 425px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cheque-info .cheque-content .cheque-line .cheque-count {
    position: absolute;
    right: 245px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.cheque-info .cheque-total {
    background-color: #fff;
    color: #056839;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cheque-info .cheque-total .count {
    font-size: 22px;
}

.cheque-info .cheque-content .close-check {
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    cursor: pointer;
}

#operation-list {
    padding-right: 30px;
}

.operation-filter-container {
    padding: 8px;
    position: relative;
    margin-bottom: 50px;
}

.operation-filter-container .date-filters {
    width: 380px;
    display: inline-block;
}

.operation-filter-container .date-filters .date-filter__title {
    font-size: 18px;
    font-weight: 300;
}

.operation-filter-container .date-filters .date-filter__title,
.operation-filter-container .date-filters input {
    margin-right: 15px;
}

.operation-filter-container .date-filters input[type="text"] {
    width: 130px;
    display: inline-block;
    margin-bottom: 10px;
}

table.history-items .button-column {
    width: 60px;
}

.history-table {
    margin-bottom: 40px;
}

.button-column a img{
    width: 20px;
}

table.history-items .cheque-info td > .cheque-content {
    padding: 20px;
    background: #056839;
}

.uib-datepicker {
    border-radius: 3px;
    overflow: hidden;
    width: 235px;
    outline: 0 !important;
}

.uib-datepicker th {
    text-align: center;
    vertical-align: middle;
}

.uib-datepicker thead tr:nth-child(1) th {
    height: 41px;
    font-size: 18px;
    background: #6cb700;
    border-bottom: 1px solid #6cb700;
    border-top: 1px solid #6cb700;
}

.uib-datepicker thead tr:nth-child(1) th:first-child {
    border-left: 1px solid #642424;
}

.uib-datepicker thead tr:nth-child(1) th:last-child {
    border-right: 1px solid #642424;
}

.uib-datepicker thead tr:nth-child(1) th:nth-child(1) button {
    background: url("assets/img/calendar/left-arrow.png") center center/auto 20px no-repeat;
    height: 30px;
}

.uib-datepicker thead tr:nth-child(1) th:nth-child(2) button {
    color: white;
}

.uib-datepicker thead tr:nth-child(1) th:nth-child(3) button {
    background: url("assets/img/calendar/right-arrow.png") center center/auto 20px no-repeat;
    height: 30px;
}

.uib-datepicker thead tr:nth-child(2) th {
    height: 25px;
    background: #f6f6f6;
    color: #056839;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #c9c7c7;
    border-top: 1px solid #d5d1d1;
}

.uib-datepicker thead tr:nth-child(2) th:first-child {
    border-left: 1px solid #c9c7c7;
}

.uib-datepicker thead tr:nth-child(2) th:last-child {
    border-right: 1px solid #c9c7c7;
}

.uib-datepicker tbody {
    border: 1px solid #c9c7c7;
    border-top: 0;
    background: white;
}

.uib-datepicker td {
    height: 30px;
    vertical-align: middle;
}

.uib-datepicker td button {
    position: relative;
    cursor: pointer;
}

.uib-datepicker td button span {
    position: relative;
}

.uib-datepicker td button span::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -12px;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.uib-datepicker td button:not(.active):hover span::before {
    bottom: -2px;
    border-bottom: 1px solid #056839;
}

.uib-datepicker td button.active::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -2px;
    border-bottom: 1px solid #056839;
}

.uib-daypicker,
.uib-monthpicker {
    width: inherit;
    outline: 0;
}

.uib-yearpicker {
    width: 100%;
}

.uib-datepicker button {
    background: transparent;
    height: auto;
    min-width: 100%;
    font-size: inherit;
    color: #4c4c4c;
}

.uib-datepicker button:hover {
    background-color: transparent;
}

.datetime-picker-dropdown {
    position: absolute;
}

.pagination {
    text-align: center;
    margin-top: 40px;
}

.pagination li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
}

.pagination li a {
    display: block;
    color: #056839;
    font-size: 20px;
    font-weight: 300;
}

.pagination li.active a {
    font-weight: 700;
}

.pagination li.disabled a {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}

.pagination-prev a,
.pagination-next a {
    width: 30px;
    height: 19px;
    background: url("assets/img/icon/icon-arrow.svg") center center/18px 13px no-repeat;
    background-size: 30px;
}

.pagination-prev a {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.history-table {
    table-layout: fixed;
}

.questionnaire-edit label.pointer {
    text-align: left;
    width: 200px;
}

.questionnaire-edit .radio-item {
    width: 300px;
}

.questionnaire-edit label {
    width: 192px;
}

.questionnaire-edit .sb-date-select {
    margin-left: 212px;
}


.questionnaire-edit .questionnaire-column {
    margin-left: -106px;
}

.cards .advice {
    width: 350px;
    color: #808080;
}

.side-menu a:hover {
    text-decoration: none;
}

.cards-container {
    width: 800px;
    margin-bottom: 50px;
}

.cards-container .card-item:nth-child(odd) {
    margin-left: 25px;
}

.cards-container .card-item {
    display: inline-block;
    width: 375px;
    vertical-align: top;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards-container .card-item dd,
.cards-container .card-item dt {
    display: inline-block;
    width: inherit;
}

.card-number,
.card-owner,
.card-accumulated,
.card-paid {
    font-size: 18px;
    font-weight: 300;
    color: #4c4c4c;
    padding-top: 2px;
    padding-bottom: 2px;
}

.card-accumulated__value,
.card-paid__value {
    color: #6cb700;
    font-weight: bold;
    font-size: 18px;
}

.card-owner {
    margin-bottom: 10px;
    line-height: 1.4;
    width: inherit;
}

.card-img {
    margin-bottom: 15px;
}

.card-img img {
    width: 250px;
    height: 160px;
}

.attach-card {
    display: inline-block;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    background: rgba(108, 183, 0, 0.75);
    justify-content: flex-start;
}
.modal-open .modal {
    display: flex !important;
}
.modal-dialog {
    background: white;
    margin: auto;
    width: 400px;
    padding: 40px 40px 20px;
    box-sizing: border-box;
    border-radius: 0px;
    position: relative;
}
.modal-close {
    position: absolute;
    font-size: 25px;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.modal .alert {
    margin-bottom: 10px;
}

.hint {
    color: #808080;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.action-links {
    margin-top: 20px;
}

.action-links a {
    display: block;
}

.action-links .link + a {
    margin-top: 10px;
}

.lmx-cheque-opened tr {
    background-color: #efefef;
}

.phone-current,
.email-current {
    color: #808080;
    font-size: 14px;
    font-weight: 300;
}

.phone-current ._number,
.email-current ._address {
    color: #4c4c4c;
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
}

.phone-change__trigger,
.email-change__trigger {
    margin-top: 8px;
}

.settings-title {
    font-size: 18px;
    font-weight: 500;
    color: #4c4c4c;
    margin-top: 50px;
    margin-bottom: 15px;
}

.settings-title.password {
    margin-bottom: 15px;
}

.phone._change,
.email._change,
.password._change {
    width: 300px;
}

.phone._change .phone-change__control {
    margin-top: 10px;
}

.email-subtitle {
    font-size: 16px;
    margin-top: 15px;
    color: #949494;
    font-weight: normal;
}

.settings {
    margin-bottom: 50px;
}

.user-alert__message,
.user-alert__footer {
    text-align: center;
}

.user-alert__message {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.lmx-userAlert-modal .modal-dialog {
    width: 360px;
    min-height: 140px;
}

.email._change .action-links {
    margin-bottom: 10px;
}

label.pointer.checkbox-label {
    text-align: left;
}

.checkbox-div {
    margin-left: 215px;
    margin-bottom: 16px;
}

.checkbox-questions {
    margin-top: -25px;
}

.radio-container {
    margin-bottom: 20px;
}

.questionnaire-edit .lmx-loader {
    left: -109px;
}

.questionnaire-edit .questionnaire-submit.btn-container {
    text-align: left;
    margin-left: 100px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

p.phone-enter-reference {
    margin-top: 5px;
}

.lmx-hidden {
    display: none;
}

.attach-card {
    display: block;
}

.card-block-opacity .card-img,
.card-block-opacity .card-number,
.card-block-opacity .card-owner,
.card-block-opacity .card-accumulated,
.card-block-opacity .card-paid {
    opacity: 0.5;
}

.re-buttons {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.news {
    width: 780px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.news._inDetail {
    margin-top: 80px;
}

.news .viewAll {
    position: absolute;
    bottom: 0px;
    right: 0;
}

.news .title {
    margin-bottom: 80px;
}

.news-item {
    margin-bottom: 80px;
}

.news-item img {
    width: 780px;
    height: 460px;
}

.news-item p {
    text-align: left;
    margin-top: 40px;
    color: #4c4c4c;
    font-size: 16px;
    font-weight: 300;
}

.news a {
    font-size: 14px;
    font-weight: 500;
    color: #6cb700;
    text-decoration: underline;
    cursor: pointer;
}

.news._inDetail h4 {
    text-align: left;
}

.more {
    text-align: left;
    padding-top: 40px;
}

.news-item__beginDate {
    font-size: 14px;
    font-weight: 300;
    color: #808080;
}

.news h4 {
    font-size: 24px;
    font-weight: 400;
    color: #056839;
    margin-top: 20px;
    margin-bottom: 40px;
}

.slider-container._news-page,
.slider-container.page {
    height: 195px;
    min-height: auto;
    background: url('assets/img/header/page-header-bg.jpg') no-repeat center;
}

.page-content {
    max-width: 780px;
    margin: 80px auto 0;
}

.page-content h2 {
    font-family: 'AG_Futura Bold', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 80px;
    color: #056839;
}

.page-content h4 {
    font-size: 24px;
    font-weight: 400;
    color: #056839;
    margin-top: 20px;
    margin-bottom: 40px;
}

.page-content ul {
    list-style: disc;
    padding-left: 18px;
}

.page-content p,
.page-content ul {
    margin-top: 25px;
    color: #4c4c4c;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
}

.card-filter,
.apply-btn {
    display: inline-block;
}

.card-filter + button {
    margin-left: 20px;
}

.reset-filter {
    text-align: right;
    padding-top: 20px;
    padding-right: 30px;
    margin-bottom: -30px;
}

.forgot {
    width: 350px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid transparent;
}

.alert-warning,
.alert-danger {
    color: #f24841;
    background-color: #f2dede;
    border-color: #ff0000;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #2f669e;
}

.questionnaire-notification._reg .alert {
    width: 410px;
    margin: 0 auto;
}

.questionnaire-edit .questionnaire-notification {
    max-width: 350px;
}

.authentication .alert {
    width: 560px;
}

form-group.required label.control-label:after {
    content: ' *';
    font-weight: 700;
    color: #e9351c;
}

.accent {
    color: #e9351c;
}

.form-container td {
    vertical-align: top;
}

.personal-offers {
    width: 625px;
}

.personal-offer__dates {
    margin-top: 15px;
}

.personal-offer__dates img {
    width: 24px;
    height: 24px;
}

.personal-offer__dates ._date {
    font-size: 18px;
    font-weight: 300;
    color: #4c4c4c;
    padding-left: 43px;
    margin-top: -24px;
}

.personal-offer__item {
    margin-top: 54px;
    margin-bottom: 22px;
}

.personal-offer__item:last-child {
    margin-bottom: 80px;
}

.personal-offer__item .action-btn {
    margin-top: 30px;
}

.personal-offer__title {
    font-size: 18px;
    font-weight: 500;
    color: #4c4c4c;
}

.personal-offer-content .brand-img {
    float: right;
    position: relative;
    top: -30px;
    width: 120px;
}

.personal-offer__title span {
    font-size: 16px;
    font-weight: 400;
}

.personal-offer__description {
    font-size: 14px;
    font-weight: 300;
    color: #808080;
    margin-top: 24px;
}

.personal-offer-brands {
    margin-top: 15px;
}

.accordion {
    font-size: 18px;
    font-weight: 300;
    color: #4c4c4c;
    cursor: pointer;
    padding: 10px 30px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
}

.accordion::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 7px;
    top: 16px;
    left: 5px;
    background: url("assets/img/icon/arrow.svg") no-repeat;
    background-size: 13px;
}

.accordion.active::before {
    transform: rotate(180deg);
}

.accordion:hover {
    color: #056839;
}

.panel {
    padding: 0;
    background-color: #efefef;
    max-height: 0;
    overflow: hidden;
    position: relative;
    left: -20px;
    transition: max-height 0.2s ease-out;
}

.offer-details-wrap {
    padding-left: 10px;
}

.offer-details-item {
    margin-top: 25px;
}

.offer-details {
    padding: 20px 30px 25px 50px;
    line-height: 1.4;
}

.offer-details__title {
    font-weight: bold;
}

.offer-details__title,
.offer-details__description,
.offer-details__dates,
.offer-details__codes,
.offer-details__values,
.discount-view .title {
    color: #4c4c4c;
    font-size: 14px;
}

.discount-view .tooltip .title {
    border-bottom: 1px dashed;
}

.offer-details__title:not(:first-child) {
    margin-top: 10px;
}

.tooltip i {
    font-size: 18px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip .tooltip-text {
    visibility: hidden;
    min-width: 350px;
    background-color: #555555;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 3px;
    top: -7px;
    position: absolute;
    z-index: 1500;
    left: 130%;
    min-height: 34px;
    margin-left: -39px;
    opacity: 0;
    font-size: 14px;
    transition: opacity .3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.personal-offers._details .heading .title {
    margin-bottom: 0;
}

.personal-offers._details .heading .link._back {
    display: block;
    margin: 20px 0;
}

.personal-offer-map .map {
    width: 700px;
    height: 400px;
}

.show-on-map__btn {
    margin-top: 20px;
}

a.btn:hover {
    text-decoration: none;
}

.discount-view + p {
    margin-top: 3px;
}

.personal-offers .no-results {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
}

.brands-names {
    margin-bottom: 10px;
    width: 420px;
    padding-left: 12px;
}
.personal-goods .btn,
.personal-goods .btn:hover,
.personal-goods-offer .btn,
.personal-goods-offer .btn:hover {
    display: inline-block;
    text-align: center;
    line-height: 24px;
    background-color: #056839;
}
.personal-goods-offer .btn:disabled {
    background-color: #808080;
}
.personal-goods-offer .btn:disabled:hover {
    cursor: default;
}
.personal-goods .personal-goods-offer__info {
    margin: 50px 0;
    position: relative;
}
.personal-goods .personal-goods-offer__info .goods-preview {
    float: right;
    width: 45%;
    margin-bottom: 45px;
}
.personal-goods .personal-goods-offer__info .goods-preview .goods-list {
    margin: 0 -15px;
}
.personal-goods .personal-goods-offer__info .goods-preview .goods {
    min-width: 50px;
    max-width: 50%;
    height: 100px;
    display: inline-block;
    padding: 0 15px;
    width: 33.33%;
    margin-left: auto;
    margin-bottom: 10px;
    left: auto;
    right: auto;
    box-sizing: border-box;
}
.personal-goods .personal-goods-offer__info .goods-preview .goods img {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}
.personal-goods-offer__info .main-info {
    line-height: 18px;
}
.personal-goods-offer__info .main-info .subtitle {
    margin-bottom: 10px;
}
.personal-goods .personal-goods-offer__info .offer-info {
    box-sizing: border-box;
    width: 420px;
    padding: 12px;
}
.personal-goods-offer__info .details,
.personal-goods-offer__info .brands-names {
    display: none;
}
.personal-goods .personal-goods-offer__info .brands-names {
    display: block;
}
.personal-goods .personal-goods-offer__info .details {
    display: block;
    position: absolute;
    width: 45%;
    right: 0;
    bottom: 0;
}
.personal-goods .personal-goods-offer__info .details .btn {
    width: 100%;
    background: url('assets/img/icon/details_icon_white.svg') right 16px center/18px no-repeat #056839;
}
.personal-goods .active-offers .personal-goods-offer__info .brands-names,
.personal-goods .future-offers .personal-goods-offer__info .brands-names {
    float: right;
    width: 45%;
    margin-bottom: 45px;
    word-wrap: break-word;
}
.personal-goods .active-offers .personal-goods-offer__info .offer-info {
    background-color: #8cc640;
    color: #ffffff;
}
.personal-goods .future-offers .personal-goods-offer__info .offer-info {
    border: 1px solid #8cc640;
}
.personal-goods-offer .offer-header {
    position: relative;
    margin-top: 20px;
}
.personal-goods-offer .offer-header .personal-goods-offer__info {
    width: 500px;
}
.personal-goods-offer .offer-header .approve {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 500px;
}
.personal-goods-offer .offer-header .approve button {
    margin-top: 20px;
}
.personal-goods-offer .btn {
    width: 310px;
}
.personal-goods-offer .offer-footer {
    height: 40px;
    line-height: 24px;
    text-align: right;
}
.personal-goods-offer__goods-list {
    position: relative;
    min-height: 250px;
    margin-top: 50px;
}
.personal-goods-offer__goods-list .goods {
    position: relative;
    box-sizing: border-box;
    width: 220px;
    height: 190px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin-bottom: 30px;
    margin-right: 75px;
    border: 1px solid #dddddd;
    cursor: pointer;
    transition: border-color 0.1s ease, box-shadow 0.1s ease;
}
.personal-goods-offer__goods-list .goods:nth-child(3n) {
    margin-right: 0;
}
.personal-goods-offer__goods-list .goods.selected::after,
.personal-goods-offer__goods-list .goods.approved::after {
    content: '';
    position: absolute;
    height: 21px;
    width: 19px;
    top: 15px;
    right: 15px;
    background: center no-repeat transparent;
}
.personal-goods-offer__goods-list .goods.selected {
    border-color: #8cc640;
    box-shadow: inset 0 0 0 3px #8cc640;
}
.personal-goods-offer__goods-list .goods.selected::after {
    border-color: #8cc640;
    background-image: url('assets/img/icon/select_icon_light.svg');
}
.personal-goods-offer__goods-list .goods.approved {
    border-color: #056839;
    box-shadow: inset 0 0 0 3px #056839;
}
.personal-goods-offer__goods-list .goods.approved::after {
    border-color: #056839;
    background-image: url('assets/img/icon/select_icon.svg');
}
.personal-goods-offer__goods-list .goods .img-wrapper {
    height: 135px;
    position: relative;
}
.personal-goods-offer__goods-list .goods .img-wrapper img {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}
.personal-goods-offer__goods-list .goods .img-wrapper img[src='undefined'] {
    position: static;
}
.personal-goods-offer__goods-list .goods .img-wrapper img[src='undefined']::before {
    height: 150px;
}
.personal-goods-offer__goods-list .goods .goods__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 15px;
    text-align: center;
}
.personal-goods-offer__goods-list .goods-list-overlayer {
    display: none;
}
.personal-goods-offer__goods-list .approve {
    border-top: none;
    line-height: 36px;
}
.personal-goods-offer__goods-list.readonly .goods-list-overlayer {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(55, 134, 97, 0.8);
    text-align: center;
    font-size: 1.3em;
    padding-top: 100px;
    color: #ffffff;
}
.personal-goods-offer__goods-list.readonly .approve {
    display: none;
}
.personal-goods-offer__goods-list.unselectable .goods:not(.selected):not(.approved) {
    opacity: 0.3;
}