<section>
    <div class="row">
        <div class="heading">
            <h2 class="title" ng-if="currentLocation !== 'history'">Последние операции</h2>
            <h2 class="title" ng-if="currentLocation === 'history'">История операций</h2>
        </div>
    </div>
    <div loader="inProgress">
        <div class="operation-filter-container" ng-show="currentLocation === 'history'">
            <div class="date-filters">
                <span class="date-filter__title">Период:</span>
                <date-picker class="date-filter__input" ng-model="fromDate"></date-picker>
                <date-picker class="date-filter__input" ng-model="toDate"></date-picker>
            </div>
            <div class="card-filter" loader="cardsInProgress">
                <div ng-show="!cardsInProgress">
                    <select ng-model="selectedCard"
                            ng-change="firstPage()"
                            id="cardFilter"
                            name="cardFilter">
                        <option ng-value="0">Все карты</option>
                        <option ng-repeat="card in cards" ng-value="card.id">{{card.number | charsDivide: 4}}</option>
                    </select>
                </div>
            </div>
            <button
                type="button"
                ng-click="firstPage()"
                class="apply-btn btn-lg">
                Применить
            </button>
            <div class="reset-filter">
                <a class="link" ng-click="resetFilters()">Сбросить фильтры</a>
            </div>
        </div>
        <div class="history-table">
            <div class="block-table-history" id="operation-container">
                <div id="operation-list">
                    <div ng-class="{'loading': inProgress}">
                        <table class="history-items" width="800" ng-init="currencies = { rub: 'pуб.', bns: 'б.' }">
                            <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Описание</th>
                                <th>Карта</th>
                                <th>Операция</th>
                                <th>Сумма</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="item in history.rows" class-toggle-click="cheque-opened">
                            <tr style="cursor: pointer;">
                                <td>{{:: item.dateTime | toUTC | shortDateTime}}</td>
                                <td class="description">{{:: item.description}}</td>
                                <td>**** <b>{{:: item.identity | lastCount: 4}}</b></td>
                                <td>
                                    <div ng-if="item.data.withdraws.length">
                                        {{:: 'enum.gift' + (item.data.isRefund ? 'Refund' : '' ) + '.withdraw' | translate}}
                                    </div>
                                    <div ng-if="item.data.rewards.length" ng-repeat="(key, value) in item.rewardsResult">
                                        {{:: 'enum.gift' + (item.data.isRefund ? 'Refund.' : '.') + (key | lowerCamelCase) | translate}}
                                    </div>
                                    <div ng-if="item.type == 'RewardData' || item.type == 'WithdrawData'">
                                        {{:: 'enum.gift' + (item.data.isRefund ? 'Refund.' : '.') + (item.type | lowerCamelCase) | translate}}
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="item.data.withdraws.length" ng-repeat="wdrw in item.data.withdraws">
                                        {{:: (item.data.isRefund ? wdrw.amount.amount * -1 : wdrw.amount.amount) | zeroFill: 2}}&nbsp;{{:: currencies[(wdrw.amount.currency | lowercase)]}}
                                    </div>
                                    <div ng-if="item.data.rewards.length" ng-repeat="(key, value) in item.rewardsResult">
                                        {{:: (item.data.isRefund ? value * -1 : value) | zeroFill: 2}}&nbsp;{{:: currencies[(item.rewardsType[key] | lowercase)]}}
                                    </div>
                                    <div ng-if="item.type == 'RewardData' || item.type == 'WithdrawData'">
                                        {{:: (item.data.isRefund ? item.data.amount.amount * -1 : item.data.amount.amount) | zeroFill: 2}}&nbsp;{{:: currencies[(item.data.amount.currency | lowercase)]}}
                                    </div>
                                </td>
                                <td class="button-column">
                                    <a class="cheque" title="Чек"><img src="wp-content/themes/bin/assets/img/icon/details_icon.svg" alt="Чек"></a>
                                </td>
                            </tr>
                            <tr class="cheque-info" ng-if="item.data.chequeItems.length">
                                <td colspan="6">
                                    <div class="cheque-content">
                                        <div class="cheque-line" ng-repeat="chequeItem in item.data.chequeItems">
                                            <span class="cheque-item">{{::chequeItem.description | nbspSpaces}}</span>
                                            <span class="cheque-count">{{::chequeItem.count}}</span>
                                        </div>
                                        <span class="close-check">&times;</span>
                                    </div>
                                    <div class="cheque-total">
                                        Итого: <span class="count">{{::item.data.amount.amount | zeroFill:2}}</span>&nbsp;{{:: currencies.rub}}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tr class="messages">
                                <td colspan="6" class="go-to-history" ng-if="history.allCount && currentLocation === 'cabinet'">
                                    <a href="#history">полная история операций...</a>
                                </td>
                                <td colspan="6" class="no-result" ng-if="!history.allCount">
                                    <p>Нет результатов.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <uib-pagination
                    ng-show="history.allCount > onPage && currentLocation === 'history'"
                    total-items="history.allCount"
                    ng-model="currentPage"
                    max-size="5"
                    items-per-page="{{:: onPage}}"
                    force-ellipses="true"
                    next-text=" "
                    previous-text=" "
                    ng-change="paginationChange()"
            ></uib-pagination>
        </div>
    </div>
</section>