<section class="news">
    <h2 class="center title">Новости и акции</h2>

    <div loader="isProgress" ng-init="newsLimit = 2">
        <article class="news-item" ng-repeat="announcement in announcements | limitTo: newsLimit">
            <div class="news-item__beginDate">{{:: announcement.beginDate | shortDate}}</div>
            <h4 class="news-item__title">{{:: announcement.attributes.NewsTitle.value}}</h4>
            <img
                ng-src="{{:: getAnnouncementImagePath(announcement.attributes.NewsImage.value)}}"
                onerror="this.src='/wp-content/themes/bin/assets/img/image_not_found_lg.png'"
                alt=""
            >
            <p>{{:: announcement.attributes.NewsDescription.value}}</p>
            <div class="more">
                <a ng-click="changeLocation('news/' + announcement.id)">Подробнее</a>
            </div>
        </article>
    </div>
    <a
        ng-show="newsLimit !== announcements.length && announcements.length > 2"
        class="viewAll"
        ng-click="newsLimit = announcements.length">
        Посмотреть все
    </a>
</section>