<section class="news _inDetail">
    <div loader="isProgress">
        <article class="news-item" ng-if="!isProgress">
            <h4>{{:: announcement.attributes.NewsTitle.value}}</h4>
            <img
                ng-src="{{:: getAnnouncementImagePath(announcement.attributes.NewsImage.value)}}"
                onerror="this.src='/wp-content/themes/bin/assets/img/image_not_found_lg.png'"
                alt=""
            >
            <div ng-bind-html="getTrustedHtmlContent(announcement.attributes.HtmlContent.value)"></div>
        </article>
    </div>
</section>