﻿<div class="form-group clearfix" ng-class="{ 'has-error': form.$submitted && model.$invalid }">
    <div class="form-container label-container">
        <label ng-if="labelText !== undefined" class="form-group-label {{:: labelAlign+'align'}}" for="{{itemId}}">{{labelText}}</label>
    </div>
    <div class="form-container input-container">
        <table><tr>
            <td><ng-transclude ng-show="!viewMode"></ng-transclude></td>
            <td ng-if=":: hint != undefined" class="hint-container">
                <span class="hinter" ng-if=":: hint" uib-tooltip="{{::hint}}" tooltip-trigger="mouseenter" tooltip-class="description-tooltip">i</span>
            </td>
        </tr></table>
        <span ng-if="viewMode" class="view-mode-value">{{viewModeValue || model.$viewValue}}</span>
        <div class="help-block" ng-if="form.$submitted">
            <div class="help-block__error" ng-if="model.$error.validationErrors" ng-repeat="error in model.$error.validationErrors">
                <div>{{error}}</div>
            </div>
            <div class="help-block__error" ng-if="!model.$error.validationErrors" ng-repeat="(error, value) in model.$error">
                <div>{{errorMessage(error, model.$viewValue)}}</div>
            </div>
        </div>
    </div>
</div>
