﻿<div class="personal-goods-offer__info" ng-class=":: {'card': isPreview}">
    <div class="card-content main-info clearfix">
        <div ng-if=":: goodsPreview" class="goods-preview">
            <div class="selected-count">Выбрано товаров: {{:: offer.approvedGoodsCount}} из {{:: offer.attribute.maxGoodsCount}}</div>
            <div ng-repeat="goods in offer.approvedGoods track by goods.id" class="goods">
                <img ng-src="{{:: goods.imgUrl}}"
                     fallback-image
                     alt=""
                     title="{{:: goods.title}}">
            </div>
        </div>

        <brands-names brands="offer.brands"></brands-names>

        <div ng-switch=":: isPreview">
            <h2 ng-switch-when="false" class="title">{{:: offer.title}}</h2>
            <h4 ng-switch-when="true" class="title">{{:: offer.title}}</h4>
        </div>


        <div class="description">{{:: offer.description}}</div>
        <div class="duration">
            <b>Срок действия акции:</b>
            <div>{{:: offer.begin | dateRange: offer.end}}</div>
        </div>
        <div class="edit-duration">
            <b>Редактирование списка товаров возможно в период:</b>
            <div>{{:: offer.attribute.startFillDate | dateRange: offer.attribute.endFillDate}}</div>
        </div>
    </div>
    <div class="card-action details">
        <a ng-href="#personal-goods/{{:: offer.id}}">Посмотреть подробнее</a>
    </div>
</div>
