<section class="registration clearfix" ng-class="{'_offer': currentStep === 'AcceptTenderOffer'}">
    <div ng-if="!isRegistrationStarted">
        <form
            class="form registration-form activate"
            novalidate
            name="registrationForm"
            ng-submit="registrationForm.$valid && registration(registrationForm)"
            loader="authInProgress"
        >
            <h1 class="registration-title">Активация карты</h1>
            <notifications area="registration"></notifications>
            <form-group label-text="Введите номер карты">
                <div class="registration-card__number">
                    <input
                        type="text"
                        ng-model="registrationData.login"
                        ng-disabled="inProgress"
                        id="login"
                        name="login"
                        mask="9999-9999-9999-9999"
                        clean="true"
                        validate="false"
                        placeholder="0000-0000-0000-0000"
                        restrict="reject"
                        required
                        autofocus
                    >
                </div>
            </form-group>
            <form-group ng-if="passwordRequired" class="password-field">
                <label for="password">Пароль</label>
                <input
                    type="password"
                    ng-model="registrationData.password"
                    id="password"
                    name="password"
                    class="form-control"
                    required
                >
            </form-group>
            <div class="right">
                <button type="submit" class="btn-lg">Активировать</button>
            </div>
        </form>
    </div>

    <div ng-if="isRegistrationStarted" ng-switch="currentStep" loader="stepInProgress">
        <form
            novalidate
            class="form registration-form"
            name="acceptTenderOfferForm"
            ng-submit="acceptTenderOfferForm.$valid && isOfferAndAgreementLoaded && acceptTenderOffer()"
            ng-switch-when="AcceptTenderOffer"
            loader="inProgress"
        >
            <notifications area="registration"></notifications>
            <div class="scroller-wrapper">
                <div class="scroller">
                    <div class="registration-offer__text" ng-bind-html="tenderOfferFile"></div>
                </div>
                <div class="scroller-track">
                    <div class="scroller-bar"></div>
                </div>
            </div>
            <form-group>
                <div class="input-wrapper">
                    <input
                        type="checkbox"
                        id="userAgreesWithOffer"
                        name="userAgreesWithOffer"
                        ng-model="offer"
                        required
                    />
                    <label class="checkbox-label" for="userAgreesWithOffer" ng-if="isOfferAndAgreementLoaded">
                        Я принимаю условия оферты.
                    </label>
                </div>
            </form-group>
            <form-group>
                <div class="input-wrapper">
                    <input
                        type="checkbox"
                        id="userAgreesWithPDP"
                        name="userAgreesWithPDP"
                        ng-model="agreement"
                        required
                    />
                    <label class="checkbox-label" for="userAgreesWithPDP" ng-if="isOfferAndAgreementLoaded">
                        Я согласен с <a ng-href="{{apiHost}}api/Files/{{::opdAgreementFileId}}" target="_blank">правилами обработки персональных данных</a>.
                    </label>
                </div>
            </form-group>
            <div class="registration-buttons btn-container clearfix">
                <button type="button" class="btn-negative" ng-click="$root.logout(true); $parent.parent.cancel();">{{::'cancel' | translate}}</button>
                <button type="submit" ng-hide="!isOfferAndAgreementLoaded">Принять</button>
            </div>
        </form>

        <form class="form registration-form assign-card" novalidate name="assignCardForm" ng-switch-when="AssignCard" ng-submit="assignCardForm.$valid && assignCard()">
            <h1 class="registration-title">Номер карты</h1>
            <notifications></notifications>
            <form-group>
                <label for="cardNumber" class="_required">Введите номер карты</label>
                <input
                    type="text"
                    ng-model="cardModel.cardNumber"
                    ng-disabled="stepInProgress"
                    name="cardnumber"
                    id="cardnumber"
                    required
                    autofocus
                >
            </form-group>
            <small class="registration-note"><span class="accent">*</span> Закончить регистрацию возможно только при наличии на&nbsp;руках карты</small>
            <div class="btn-container">
                <button type="button" class="btn-negative" ng-click="cancel()">{{:: 'cancel' | translate}}</button>
                <button type="submit" class="btn-lg">Завершить регистрацию</button>
            </div>
        </form>
        <user-phone ng-switch-when="ChangePhone" registration="true" current="authentication.userInfo.phoneNumber"></user-phone>
        <user-email ng-switch-when="ChangeEmail" registration="true" current="authentication.userInfo.email"></user-email>
        <user-password ng-switch-when="PasswordRequired" registration="true"></user-password>
        <questionnaire ng-switch-when="Questions" registration="true" edit-mode only-required></questionnaire>
    </div>

    <div ng-if="inProgressFinishRegistration" loader="true" style="min-height: 70px;"></div>

    <div class="form registration-form _complete" ng-if="registrationCompleted" loader="inProgress">
        <h1 class="registration-title">Ваша карта успешно активирована!</h1>
        <p>Благодарим вас за участие в программе<br> «Баллуем своих»</p>
        <button type="submit" class="btn-lg" ng-click="continue()">Продолжить</button>
    </div>
</section>