<section class="history">
    <h2 class="history-title" ng-if="currentLocation === 'cabinet'">Последние операции</h2>
    <h2 class="history-title" ng-if="currentLocation === 'history'">История покупок</h2>

    <div loader="inProgress">

        <section class="date clearfix" ng-show="currentLocation === 'history'">
            <h3 class="date-title">Период</h3>

            <div class="date-select">
                <date-picker
                    ng-model="fromDate"
                    ng-change="firstPage()"
                ></date-picker>
            </div>

            <div class="date-select">
                <date-picker
                    ng-model="toDate"
                    ng-change="firstPage()"
                ></date-picker>
            </div>

            <div class="date-reset" ng-click="resetFilters()">Сбросить</div>
        </section>

        <div ng-class="{'loading': inProgress}">
            <table class="history-table" ng-if="history.rows.length" ng-init="currencies = { rub: 'p', bns: 'б' }">
                <tbody ng-repeat-start="item in history.rows track by item.id">
                    <tr>
                        <td>{{:: item.location.description}}</td>
                        <td>{{:: item.dateTime | toUTC | shortDate}}</td>
                        <td>{{:: item.dateTime | toUTC | shortTime}}</td>
                        <td>{{:: item.identity}}</td>
                        <td>
                            <div ng-if="item.data.withdraws.length">
                                {{:: 'enum.gift' + (item.data.isRefund ? 'Refund' : '' ) + '.withdraw' | translate}}
                            </div>
                            <div ng-if="item.data.rewards.length" ng-repeat="(key, value) in item.rewardsResult">
                                {{:: 'enum.gift' + (item.data.isRefund ? 'Refund.' : '.') + (key | lowerCamelCase) | translate}}
                            </div>
                            <div ng-if="item.type == 'RewardData' || item.type == 'WithdrawData'">
                                {{:: 'enum.gift' + (item.data.isRefund ? 'Refund.' : '.') + (item.type | lowerCamelCase) | translate}}
                            </div>
                        </td>
                        <td>
                            <div ng-if="item.data.withdraws.length" ng-repeat="wdrw in item.data.withdraws">
                                {{:: (item.data.isRefund ? wdrw.amount.amount * -1 : wdrw.amount.amount) | zeroFill: 2}}
                                <span class="history-table__currency"
                                      ng-class=":: wdrw.amount.currency === 'RUB' ? 'rouble _400' : ''"
                                >
                                    {{:: currencies[(wdrw.amount.currency | lowercase)]}}
                                </span>
                            </div>
                            <div ng-if="item.data.rewards.length" ng-repeat="(key, value) in item.rewardsResult">
                                {{:: (item.data.isRefund ? value * -1 : value) | zeroFill: 2}}
                                <span class="history-table__currency"
                                      ng-class=":: item.rewardsType[key] === 'RUB' ? 'rouble _400' : ''"
                                >
                                    {{:: currencies[(item.rewardsType[key] | lowercase)]}}
                                </span>
                            </div>
                            <div ng-if="item.type == 'RewardData' || item.type == 'WithdrawData'">
                                {{:: (item.data.isRefund ? item.data.amount.amount * -1 : item.data.amount.amount) | zeroFill: 2}}
                                <span class="history-table__currency"
                                      ng-class=":: item.data.amount.currency === 'RUB' ? 'rouble _400' : ''"
                                >
                                    {{:: currencies[(item.data.amount.currency | lowercase)]}}
                                </span>
                            </div>
                        </td>
                        <td>
                            <span class="history-more" ng-click="item.isShowDetail = !item.isShowDetail" ng-if="item.data.chequeItems.length">
                                {{item.isShowDetail ? 'Скрыть' : 'Подробнее'}}
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-repeat-end class="history-detail" ng-class="{'_show': item.isShowDetail}">
                    <tr ng-if="item.data.chequeItems.length">
                        <td colspan="7">
                            <dl class="history-financial clearfix">
                                <dt class="history-financial__name">Сумма покупки</dt>
                                <dd class="history-financial__value">{{:: item.data.amount.amount}}<span class="rouble">o</span></dd>
                            </dl>
                        </td>
                    </tr>
                    <tr ng-if="item.data.chequeItems.length" ng-repeat="chequeItem in item.data.chequeItems">
                        <td colspan="2">{{::chequeItem.description | nbspSpaces}}</td>
                        <td colspan="2">{{::chequeItem.count}}</td>
                        <td colspan="3">{{::chequeItem.amount}}<span class="rouble">o</span></td>
                    </tr>
                </tbody>
            </table>
            <div class="history-empty" ng-if="!history.rows.length && !inProgress">Нет операций</div>
        </div>

        <a class="history-showAll" ng-if="currentLocation === 'cabinet'" href="#history">Вся история</a>
        <uib-pagination
            ng-show="currentLocation === 'history' && history.allCount > onPage && history.rows.length"
            total-items="history.allCount"
            ng-model="currentPage"
            max-size="5"
            items-per-page="{{:: onPage}}"
            force-ellipses="true"
            next-text=" "
            previous-text=" "
            ng-change="paginationChange()"
        ></uib-pagination>
    </div>
</section>
