﻿<div class="container auth">
    <div class="card z-depth-1-half">
        <h2 class="center">Вход в Личный кабинет</h2>
        <notifications area="login"></notifications>
        <div>
            <form novalidate method="post" name="loginForm" ng-submit="loginForm.$valid && login()" id="loginForm">
                <form-group>
                    <div class="input-field phone-field">
                        <span class="country-code"></span>
                        <input type="text"
                               ng-model="loginData.login"
                               id="login" name="login"
                               mask="(999) 999-9999"
                               clean="true"
                               validate="false"
                               placeholder="(999) 999-9999"
                               restrict="reject"
                               ng-disabled="authInProgress"
                               required
                               autofocus>
                        <label for="login" class="active">Номер телефона</label>
                    </div>
                </form-group>
                <form-group>
                    <div class="input-field">
                        <input type="password"
                               ng-model="loginData.password"
                               id="password"
                               name="password"
                               ng-disabled="authInProgress"
                               required>
                        <label for="password">Пароль</label>
                    </div>
                </form-group>
                <div class="margin-bottom auth-links right-align" ng-class="{'invisible': authInProgress}">
                    <a href="#reset-password">Забыли пароль?</a>
                    <a href="#registration">Зарегистрироваться</a>
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn waves-effect waves-light" ng-hide="authInProgress">Войти</button>
                    <inline-loader line>authInProgress</inline-loader>
                </div>
                <lmx-social ng-hide="authInProgress" class="center"></lmx-social>
            </form>
        </div>
    </div>
</div>
