<div>
    <div ng-if="!formOpened">
        <div>{{::question.displayName}}: </div>
        <div>
            <div ng-repeat="item in selectedQuestions = (question.children | filter:{selected:true})"
                 ng-init="elementId = question.logicalName+'_'+item.id">
                <div class="questionnaire-checkbox">
                    <input type="checkbox"
                           id="{{::elementId}}" name="{{::elementId}}"
                           ng-checked="::item.selected"
                           class="nice-checkbox disabled"
                           disabled>
                </div>
                <div>{{::item.displayName}}</div>
            </div>
            <div ng-if="::!selectedQuestions.length">
                <div>{{::'notFilled'|translate}}</div>
            </div>
        </div>
        <question-edit ng-if="::!editMode"></question-edit>
    </div>

    <div ng-if="formOpened">
        <form class="panel-line" novalidate name="questionnaireForm" ng-submit="questionnaireForm.$valid && save()">
            <form-group label-text="{{::question.displayName}}"
                        label-grid-part="5"
                        ng-init="registerForm(questionnaireForm)">
                <div
                    class="questionnaire-checkbox"
                    ng-class="{'_selected': item.selected}"
                    ng-repeat="item in question.children"
                    ng-init="elementId = branch.logicalName+'_'+item.id"
                >
                    <input
                        type="checkbox"
                        id="{{::elementId}}" name="{{::elementId}}"
                        ng-model="item.selected"
                        ng-disabled="::item.readOnly"
                    />
                    <label for="{{::elementId}}">{{::item.displayName}}</label>
                </div>
                <question-errors></question-errors>
                <question-cancel ng-if="::!editMode"></question-cancel>
            </form-group>
            <question-save ng-if="::!editMode"></question-save>
        </form>
    </div>
</div>