<div>
    <div ng-if="!formOpened">
        <div class="subtitle">{{::question.displayName}}: </div>
        <div>{{::(question.value | shortDate) || ('notFilled' | translate)}}</div>
        <question-edit ng-if="::!editMode && !question.readOnly"></question-edit>
    </div>

    <div class="date birthday-picker" ng-if="formOpened">
        <form class="panel-line" novalidate name="questionnaireForm" ng-submit="questionnaireForm.$valid && save()">
            <form-group label-text="{{::question.displayName}}"
                        label-grid-part="5"
                        ng-init="registerForm(questionnaireForm)">
                <div class="questionnaire-date__preview" ng-show="question.value">{{question.value | date:'dd.MM.yyyy'}}</div>
                <div
                    sb-date-select
                    sb-date-format="toDate"
                    ng-model="question.value"
                    ng-required="::question.required"
                    is-disabled="question.readOnly || disabled"
                    name="dateTime"
                    id="dateTime"
                ></div>
                <script type="text/ng-template" id="sb-date-select.html">
                    <div class="sb-date-select">
                        <div class="sb-date-select-wrapper">
                            <div lmx-custom-select ng-model="date" placeholder="День" repeat="dates" options="d for d in dates track by d" is-disabled="disabled"></div>
                        </div>
                        <div class="sb-date-select-wrapper">
                            <div lmx-custom-select ng-model="month" placeholder="Месяц" repeat="months" options="m.value as m.name for m in months" is-disabled="disabled"></div>
                        </div>
                        <div class="sb-date-select-wrapper">
                            <div lmx-custom-select ng-model="year" placeholder="Год" repeat="years" options="y for y in years" is-disabled="disabled"></div>
                        </div>
                    </div>
                </script>
                <question-errors></question-errors>
                <question-cancel ng-if="::!editMode"></question-cancel>
            </form-group>
            <question-save ng-if="::!editMode"></question-save>
        </form>
    </div>

</div>