<div>
    <div ng-if="!formOpened">
        <div>{{::question.displayName}}: </div>
        <div>{{::question.value || ('notFilled'|translate)}}</div>
        <question-edit ng-if="::!editMode && !question.readOnly"></question-edit>
    </div>

    <div ng-if="formOpened">
        <form class="panel-line" novalidate name="questionnaireForm" ng-submit="questionnaireForm.$valid && save()">
            <form-group label-grid-part="5"
                        ng-init="registerForm(questionnaireForm)">
                <div class="input-field" ng-class="::{'placeholded':editMode}">
                    <label for="{{::question.groupID}}_{{::question.id}}">{{::question.displayName}}</label>
                    <input type="text"
                           ng-model="question.value"
                           name="{{::question.groupID}}_{{::question.id}}"
                           id="{{::question.groupID}}_{{::question.id}}"
                           ng-disabled="::question.readOnly"
                           ng-required="::question.required"
                           mask="d"
                           restrict="reject"
                           limit="false"
                           ng-class="{'_empty': !question.value}"
                           mask-validate="false">
                </div>

                <question-errors></question-errors>
                <question-cancel ng-if="::!editMode"></question-cancel>
            </form-group>
            <question-save ng-if="::!editMode"></question-save>
        </form>
    </div>

</div>