<div>
    <div ng-if="!formOpened">
        <div>{{::question.displayName}}: </div>
        <div>{{::question.displayValue || ('notFilled'|translate)}}</div>
        <question-edit ng-if="::!editMode && !question.readOnly"></question-edit>
    </div>

    <div class="gender-radio" ng-if="formOpened">
        <form class="panel-line" novalidate name="questionnaireForm" ng-submit="questionnaireForm.$valid && save()">
            <form-group class="panel-line"
                        label-text="{{::question.displayName}}"
                        label-grid-part="5"
                        ng-init="registerForm(questionnaireForm)">
                <input type="hidden"
                       ng-model="question.id"
                       id="{{::question.logicalName}}" name="{{::question.logicalName}}"
                       ng-required="::question.required">
                <div
                    class="questionnaire-radio"
                    ng-repeat="item in question.children"
                    ng-init="elementId = question.logicalName+'_'+item.id"
                    ng-class="{'_selected': item.selected}"
                >
                    <input
                        type="radio"
                        ng-model="question.id"
                        ng-value="::item.id"
                        ng-disabled="::item.readOnly"
                        id="id_{{::question.logicalName+'_'+item.id}}"
                        class="nice-radio"
                    />
                    <label
                        for="id_{{::question.logicalName+'_'+item.id}}"
                        class="black-text"
                        ng-click="question.id = item.id; resetRadioButton();"
                        ng-class="{'_hideOnDisabled': item.fieldType === radioButtonStringType && item.value}"
                    >
                        {{::item.displayName}}
                    </label>
                    <input
                        ng-if="item.fieldType === radioButtonStringType"
                        type="text"
                        ng-model="item.value"
                        ng-click="question.id = item.id"
                        ng-required="question.id === item.id"
                    >
                </div>
                <question-errors></question-errors>
                <question-cancel ng-if="::!editMode"></question-cancel>
            </form-group>
            <question-save ng-if="::!editMode"></question-save>
        </form>
    </div>

</div>