﻿<div class="container feedback">
    <section>
        <h2>Чат</h2>
        <notifications area="feedback"></notifications>

        <div loader="inProgress && messages === undefined">
            <div ng-show="!inProgress || messages !== undefined">
                <div class="hint">
                    <p>Задайте свой вопрос оператору:</p>
                </div>

                <form novalidate name="feedbackForm" ng-submit="feedbackForm.$valid && send(feedbackForm)">
                    <form-group>
                        <div class="input-field">
                            <textarea
                                    ng-disabled="sendInProgress"
                                    id="msgTextarea" name="msgTextarea"
                                    ng-model="messageModel.text"
                                    class="materialize-textarea"
                                    placeholder="Введите текст..."
                                    required
                            >
                            </textarea>
                        </div>
                    </form-group>

                    <inline-loader line>sendInProgress</inline-loader>

                    <div class="file-input-and-submitter clearfix margin-bottom" ng-if="!sendInProgress">
                        <form-group class="left">
                            <div class="file-field input-field">
                                <span class="attach-link"><span>Прикрепить файл</span></span>
                                <input type="file" ng-model="messageModel.attachment" name="attachment" onfocus="this.blur()" base-sixty-four-input>
                                <div ng-if="messageModel.attachment" class="attachment right">
                                    <div class="attachment-name" ng-if="messageModel.attachment">
                                        {{messageModel.attachment.filename}}
                                    </div>
                                    <span ng-click="messageModel.attachment = null" style="cursor: pointer" class="glyphicon glyphicon-remove red-text"></span>
                                </div>
                            </div>
                        </form-group>
                        <button type="submit" class="btn waves-effect waves-light right">
                            Отправить <span class="glyphicon glyphicon-send" style="margin-left: 5px;"></span>
                        </button>
                    </div>
                </form>

                <div class="message-history" loader="sendInProgress || inProgress">
                    <div class="scroller-wrapper">
                        <div class="scroller">
                            <div class="chat-message-line clearfix" ng-repeat="item in messages track by item.message.id">
                                <div ng-class="{'outcoming': item.isUserMessage}" class="chat-message">
                                    <div class="from">{{::item.isUserMessage ? 'Вы' : 'Оператор'}}</div>
                                    <div class="text">{{::item.message.message}}</div>
                                    <div class="file-name" ng-if="item.message.fileName">Файл: {{::item.message.fileName}}</div>
                                    <div class="date">{{::item.message.dateTime | toUTC | shortDateTime}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="scroller-track">
                            <div class="scroller-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
