﻿<div class="attach-card-modal">
    <div class="modal-header">
        <h2>Объединение карт</h2>
    </div>

    <notifications area="cardModal"></notifications>
    <div loader="confirmForm === undefined">
        <div ng-hide="confirmForm === undefined" class="hint modal-description margin-bottom">
            <div>Разъединение карт будет невозможно</div>
            <div ng-if="confirmForm">Введите код подтверждения, отправленный владельцу <b>прикрепляемой&nbsp;карты</b></div>
        </div>
        <form novalidate ng-if="confirmForm === false" name="attachCardForm" ng-submit="attachCardForm.$valid && startAttachCard()">
            <div class="content round-2">
                <div class="margin-bottom">
                    <div class="input-field">
                        <form-group>
                            <input type="text"
                                   ng-model="model.cardNumber"
                                   ng-disabled="inProgress"
                                   id="cardnumber" name="cardnumber"
                                   required
                                   autofocus>
                            <label for="cardnumber">Номер прикрепляемой карты</label>
                        </form-group>
                    </div>
                    <div class="input-field">
                        <form-group>
                            <input type="password"
                                       ng-model="model.password"
                                       ng-disabled="inProgress"
                                       id="password" name="password"
                                       autocomplete="off"
                                       required>
                                <label for="password">Пароль от Вашего Личного кабинета</label>
                        </form-group>
                    </div>
                </div>
                <div class="footer">
                    <div ng-hide="inProgress">
                        <button class="btn btn-cancel waves-effect" type="button" ng-click="cancel()">
                            {{:: 'cancel' | translate}}
                        </button>
                        <button class="btn waves-effect waves-light" type="submit">{{:: 'next' | translate}}</button>
                    </div>
                    <inline-loader>inProgress</inline-loader>
                </div>
            </div>
        </form>

        <form novalidate ng-if="confirmForm" name="attachCardConfirmForm"
              ng-submit="attachCardConfirmForm.$valid && confirm()">
            <div class="content round-2">
                <div class="margin-bottom">
                    <div class="input-field">
                        <form-group>
                            <input type="text"
                                   ng-model="model.confirmCode"
                                   ng-disabled="inProgress"
                                   id="confirmCode" name="confirmCode"
                                   required
                                   autofocus>
                            <label for="confirmCode">Код подтверждения</label>
                        </form-group>
                        <div class="center" ng-hide="inProgress">
                            <a ng-click="sendConfirmCode()">Выслать код подтверждения ещё раз</a>
                        </div>
                    </div>
                </div>
                <div class="footer btn-container">
                    <div ng-hide="inProgress">
                        <button class="btn btn-cancel waves-effect" ng-click="cancelAttachCard()" type="button">
                            {{:: 'cancel' | translate}}
                        </button>
                        <button class="btn waves-effect waves-light" type="submit">{{:: 'cards.actions.attach' | translate}}</button>
                    </div>
                    <inline-loader>inProgress</inline-loader>
                </div>
            </div>
        </form>
    </div>
</div>
