﻿<div class="block-state-change-modal">
    <div class="modal-header">
        <h2>{{isBlocked ? 'Разблокировка карты' : 'Блокировка карты'}}</h2>
    </div>
    <notifications area="cardModal"></notifications>
    <form novalidate name="blockCardForm" ng-submit="blockCardForm.$valid && blockStateChange()">
        <div class="content round-2">
            <div class="margin-bottom">
                <div class="input-field">
                    <form-group>
                        <div class="input-field">
                            <input type="password"
                                   ng-model="model.password"
                                   ng-disabled="inProgress"
                                   id="userPassword" name="userPassword"
                                   autocomplete="off"
                                   required
                                   autofocus>
                            <label for="userPassword">Пароль от Вашего Личного кабинета</label>
                        </div>
                    </form-group>
                </div>
            </div>
            <div class="footer btn-container">
                <div ng-hide="inProgress">
                    <button class="btn btn-cancel waves-effect" ng-click="cancel()" type="button">
                        {{:: 'cancel' | translate}}
                    </button>
                    <button class="btn waves-effect waves-light" type="submit">
                        {{:: isBlocked ? 'cards.actions.unblock' : 'cards.actions.block' | translate}}
                    </button>
                </div>
                <inline-loader>inProgress</inline-loader>
            </div>
        </div>
    </form>
</div>
