﻿<div class="replace-card-modal">
    <div class="modal-header">
        <h2>Замена карты</h2>
    </div>
    <notifications area="cardModal"></notifications>
    <form novalidate name="replaceCardForm" ng-submit="replaceCardForm.$valid && replaceCard()">
        <div class="content round-2">
            <div class="margin-bottom">
                <form-group>
                    <div class="input-field">
                        <input type="text"
                               ng-model="model.cardNumber"
                               ng-disabled="inProgress"
                               id="cardNumber" name="cardNumber"
                               required
                               autofocus>
                        <label for="cardNumber">Номер новой карты</label>
                    </div>
                </form-group>
                <form-group>
                    <div class="input-field">
                        <input type="password"
                               ng-model="model.password"
                               ng-disabled="inProgress"
                               id="password" name="password"
                               autocomplete="off"
                               required>
                        <label for="password">Пароль от Вашего Личного кабинета</label>
                    </div>
                </form-group>
            </div>
            <div class="footer btn-container">
                <div ng-hide="inProgress">
                    <button class="btn btn-cancel waves-effect" ng-click="cancel()" type="button">
                        {{:: 'cancel' | translate}}
                    </button>
                    <button class="btn waves-effect waves-light" type="submit">
                        {{:: 'cards.actions.replace' | translate}}
                    </button>
                </div>
                <inline-loader>inProgress</inline-loader>
            </div>
        </div>
    </form>
</div>
