<div class="personal-offers-map">
    <div loader="inProgress">
        <lmx-map
            ng-if="merchants.length"
            class="map"
            data="merchants"
        >
        </lmx-map>
    </div>
    <div class="btn-container">
        <a ng-click="cancel()" class="btn waves-effect waves-light">Закрыть</a>
    </div>
</div>
