<span class="date-picker-wrap" outside-click="toggleCalendar($event, false)">
    <div class="toggler calendar" ng-click="toggleCalendar($event)"><span class="glyphicon glyphicon-calendar"></span></div>

    <input type="text"
           ng-class="inputClass"
           datetime-picker="{{dateFormat}}"
           ng-model="model"
           ng-keyup="validateModel($event)"
           ng-model-options="modelOptions"
           datepicker-options="options"
           button-bar="{show:false}"
           is-open="isOpen"
           enable-time="false"/>
</span>