@import (reference) 'mixins.less';

.announcement {
    img {
        display: block;
        margin: 0 auto 20px;
        max-height: 300px;
        max-width: 100%;
        height: auto;
        width: auto;
    }
    .description {
        width: 60%;
        margin: 0 auto;
    }
}

.announcements .announcement-card {
    .three-column-grid-card();
    &:hover {
        cursor: pointer;
    }
    .card-image {
        .card-image();
    }
    .card-content {
        .card-content();
        height: 90px;

        .title {
            .card-title();
        }
    }
}
