.scroller-wrapper {
    max-height: 350px;
    overflow: hidden;
    position: relative;
}

.scroller {
    overflow-y: scroll;
    max-height: inherit;
    -webkit-overflow-scrolling: touch;
}

.scroller::-webkit-scrollbar {
    width: 0;
}

.scroller-track {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    width: 6px;
    visibility: hidden;
    pointer-events: none;
}

._scrollbar .scroller-track {
    visibility: visible;
    pointer-events: auto;
}

.scroller-bar {
    position: absolute;
    z-index: 1;
    width: inherit;
    border-radius: 3px;
    background: #1de9b6;
    pointer-events: auto;
}
