@import (reference) 'mixins.less';

.brand {
    .map {
        margin-top: 20px;
    }
    .image {
        height: 250px;
        position: relative;
        width: 400px;

        img {
            height: inherit;
            width: inherit;
        }
    }
}

.brands .card .card-content {
    overflow: hidden;

    .card-title {
        .text-overflow-ellipsis();
    }
    .description {
        word-break: break-all;
        height: 60px;
    }
}

.modal.modal-brand .modal-dialog {
    .modal-closer {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 48px;
        height: 48px;
        background: url('../images/modal-close-lg.png') no-repeat;
    }
}

.brands-names .brand-img {
    position: relative;
    min-height: 50px;
    max-height: 100px;
    min-width: 50px;
    max-width: 100%;

    &::before {
        background-position: left;
    }
}
