.card-item {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    .card-item__image {
        width: 220px;
        height: 150px;

        img {
            width: inherit;
            height: inherit;
        }
    }
    .card-item__info {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .card-category {
            text-transform: uppercase;
        }
        .card-actions {
            display: flex;
            flex-direction: row;
            margin-top: 10px;

            button:first-child {
                margin-right: 10px;
            }
        }
        .card-number {
            font-weight: bold;
        }
        dl {
            margin: 0;

            dt,
            dd {
                margin: 0;
                display: inline-flex;
            }
        }
    }
}

.card-item__image.blocked {
    opacity: .3;
}

.attach-btn {
    margin-top: 20px;
    margin-left: 100px;
}

.attach-card-modal .modal-description {
    text-align: center;
}

.group-cards {
    margin-top: 60px;
}

.modal.modal-cards .modal-dialog .modal-content {
    width: 400px;
    margin-left: -200px;
}
