.customSelect {
    position: relative;
}

.customSelect select {
    display: block !important;
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.customSelect-list {
    width: 100%;
    background: white;
    margin: 0;
}

.customSelect-item {
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.customSelect-item._disabled {
    cursor: default;
    color: #e0e0e0;
}

.customSelect-item:not(._disabled):hover {
    background-color: rgba(29, 233, 182, .1);
}

.customSelect-selected._disabled {
    color: #e0e0e0 !important;
}

.customSelect-scroller {
    overflow-y: scroll;
    height: inherit;
    -webkit-overflow-scrolling: touch;
}

.customSelect-scroller::-webkit-scrollbar {
    width: 0;
}

.customSelect-scroller__wrapper {
    height: 200px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 45px;
    border: 1px solid #9e9e9e;
    border-top: 0;
    z-index: 2;
}

.customSelect-scroller__wrapper._hide {
    left: -9999px;
    top: -9999px;
}

.customSelect-scroller__track {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    width: 6px;
}

.customSelect-scroller__bar {
    position: absolute;
    z-index: 1;
    width: inherit;
    border-radius: 3px;
    background: #1de9b6;
    pointer-events: auto;
}
