.date {
    .date-picker-wrap {
        position: relative;
        display: inline-block;
        width: 130px;

        input {
            padding-left: 30px;
            margin-bottom: 0;
        }
        .toggler {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            cursor: pointer;
            transition: color .2s ease;

            &:hover {
                color: #868686;
            }
        }
        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            list-style: none;
            font-size: 14px;
            text-align: left;
            background-color: #ffffff;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            background-clip: padding-box;

            .uib-datepicker .uib-daypicker thead tr:first-of-type button.uib-title,
            .uib-datepicker .uib-monthpicker .uib-months .uib-month button {
                text-transform: capitalize;
            }
        }
        table {
            td,
            th {
                text-align: center;
                padding: 2px 0;
            }
        }
        .btn {
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            white-space: nowrap;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.43;
            border-radius: 4px;
            user-select: none;
            box-shadow: none;
        }
        .btn-default {
            width: 100%;
            border: none;
            color: #333333;
            background-color: #ffffff;

            &.active {
                background-color: #e6e6e6;
                border-color: #adadad;

                &:hover {
                    background-color: #d4d4d4;
                    border-color: #8c8c8c;
                }
                &:focus {
                    background-color: #d4d4d4;
                    border-color: #8c8c8c;
                }
            }
            &:hover {
                background-color: #e6e6e6;
                border-color: #adadad;
            }
            &:active {
                background-color: #e6e6e6;
                border-color: #adadad;

                &:hover {
                    background-color: #d4d4d4;
                    border-color: #8c8c8c;
                }
                &:focus {
                    background-color: #d4d4d4;
                    border-color: #8c8c8c;
                }
            }
        }
    }
}
