@import (reference) 'mixins.less';

.feedback {
    .message-history {
        padding-top: 20px;
        border-top: 1px solid #979797;
    }
    .chat-message-line {
        word-break: break-all;
        padding-right: 30px;

        .chat-message {
            max-width: 75%;
            min-width: 100px;
            display: inline-block;
            background-color: #f2f2f2;
            border-radius: 5px;
            padding: 10px 10px 15px;
            position: relative;

            .date {
                font-size: 10px;
                position: absolute;
                bottom: -15px;
                line-height: 15px;
            }
            &.outcoming {
                float: right;
                text-align: right;

                .date {
                    right: 10px;
                }
            }
            .from {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .text {
                font-size: 16px;
            }
            .file-name {
                font-size: 12px;
            }
        }
    }
    .chat-message-line + .chat-message-line {
        margin-top: 40px;
    }
    .attach-link {
        color: #039be5;
        text-align: left;
        font-size: 14px;

        &:hover {
            cursor: pointer;
        }
        span {
            border-bottom: 1px dashed #039be5;
        }
    }
    .attachment {
        margin-left: 10px;

        .attachment-name {
            .text-overflow-ellipsis();
            max-width: 500px;
            display: inline-block;
        }
        .glyphicon {
            height: 30px;
            vertical-align: middle;
        }
    }
}
