﻿@import (reference) 'mixins.less';
@import (reference) 'variables.less';

input,
textarea {
    padding: 5px 10px;
}

form span.required {
    color: red;
}

form-group {
    .input-field label {
        max-width: 100%;

        &:not(.active) {
            .text-overflow-ellipsis();
        }
    }
    &.required {
        .label-container label,
        .input-field label {
            .label-required();
            padding-right: 10px;
        }
        .label-container label {
            position: relative;
        }
    }
    .form-group {
        input[type='checkbox'] + label:not(.checkbox-item-label) {
            margin-bottom: 10px;
            height: auto;
        }
        &.has-error {
            input[type='text'],
            input[type='password'],
            input[type='email'] {
                border-color: @red;

                + label,
                + .dropdown-menu + label {
                    color: @red;
                }
            }
            input[type='checkbox']:not(:checked) + label,
            input[type='radio']:not(:checked) + label {
                color: @red !important;
                transition: none;
            }
        }
        form[class*='ng-submitted'] & input[type='radio'] + label + input[type='text'][class*='ng-invalid']:not(:focus) {
            border-color: @red;
        }
    }
    td,
    th {
        padding: 0;
    }
}

.btn-container {
    margin: 20px auto;
    text-align: center;
}

.help-block {
    display: block;
    position: relative;
    top: -12px;
    font-size: 12px;
    color: @red;
    line-height: 1.5;
}

.phone-field {
    .input-field,
    .help-block {
        margin-left: 20px;
    }
    .country-code::after {
        content: '+7';
        position: absolute;
        top: 11px;
    }
    input {
        padding-left: 20px !important;
    }
}

.gender-radio .help-block {
    top: 0;
}
