@import (reference) 'mixins.less';
@import (reference) 'variables.less';

.operation-list {
    tr {
        cursor: pointer;
    }
    tbody {
        &.empty-cheque tr {
            cursor: default;
        }
        &:not(.empty-cheque) {
            tr:not(.cheque-info) td.cheque-expander::before {
                // Стилизация осуществляется не через присвоение класса 'glyphicon-*', а через непосредственное задание символа, чтобы избежать множественных watcher-ов на cheque-opened
                font-family: 'Glyphicons Halflings';
                content: '\e114'; // glyphicon-chevron-down
            }
            &.cheque-opened {
                tr {
                    background-color: @cheque-bkg;

                    &.cheque-info {
                        display: table-row;
                        transition: top 1s;

                        .cheque-content {
                            position: relative;
                            padding: 5px 180px 5px 40px;

                            .cheque-line {
                                border: 0;
                                border-bottom: 1px dotted black;
                                position: relative;
                                width: 100%;

                                .cheque-item {
                                    position: relative;
                                    bottom: -4px;
                                    background-color: @cheque-bkg;
                                }
                                .cheque-count {
                                    position: absolute;
                                    bottom: -3px;
                                    right: 0;
                                    background-color: @cheque-bkg;
                                }
                            }
                            .cheque-total {
                                position: absolute;
                                right: 50px;
                                bottom: -12px;
                                font-weight: bold;
                                font-size: 17px;
                            }
                        }
                    }
                    &:not(.cheque-info) td.cheque-expander::before {
                        content: '\e113'; // glyphicon-chevron-up
                    }
                }
            }
            &.empty-cheque.cheque-opened tr:not(:hover) {
                background-color: transparent;
            }
        }
    }
    td,
    th {
        .text-overflow-ellipsis();
        max-width: 160px;
    }
    .cheque-info {
        display: none;
    }
}

.history-table {
    .history-filters {
        text-align: right;

        .date-filters,
        .card-filter,
        .reset-filters {
            display: inline-block;
        }
        .card-filter {
            min-width: 200px;
            margin-left: 40px;
        }
        .reset-filters {
            margin-left: 40px;
        }
        .pretext {
            margin-right: 10px;

            &:last-child {
                margin-left: 10px;
            }
        }
    }
}
