.loymax {
    margin: 0 auto;
    color: #009688;
    display: table;
    transition: color 0.3s linear;

    &-text,
    &-logo {
        display: inline-block;
        vertical-align: top;
    }
    &-text {
        margin-right: 5px;

        & > span {
            text-decoration: underline;
        }
    }
    &-logo {
        width: 100px;
        height: 31px;
        position: relative;

        &-bw,
        &-color {
            height: 31px;
            transition: width 0.3s linear;
            position: absolute;
            top: 0;
            overflow: hidden;
        }
        &-bw {
            right: 0;
            width: 100px;
        }
        &-color {
            left: 0;
            width: 0;
        }
        &-bw > div,
        &-color > div {
            width: 100px;
            height: inherit;
            background: center center/cover no-repeat;
            transition: all 0.3s linear;
        }
        &-bw > div {
            background-image: url('../images/logo/loymax-bw.png');
        }
        &-color > div {
            background-image: url('../images/logo/loymax-color.png');
        }
    }
    &:hover {
        color: #326394;

        .loymax-logo {
            &-bw {
                width: 0;

                & > div {
                    margin-left: -100px;
                }
            }
            &-color {
                width: 100px;
            }
        }
    }
}
