﻿@import (reference) 'mixins.less';
@import (reference) 'variables.less';

*,
*::before,
*::after {
    box-sizing: border-box !important;
}

* {
    outline: 0 !important;
}

h1 {
    font-size: 36px;
    padding: 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5,
h6 {
    font-size: 18px;
}

menu {
    margin: 0;
}

a {
    cursor: pointer;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.43;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.relative {
    position: relative;
}

table {
    width: 100%;
}

.margin-bottom {
    margin-bottom: 20px;
}

nav ul.topbar {
    li {
        padding: 0 15px;
    }
    a,
    li {
        font-size: 12px;
    }
}

.btn.btn-cancel {
    background-color: #757575;
}

.menu-item {
    display: inline-block;

    &.current-menu-item a,
    &:not(.current-menu-item) span {
        display: none !important;
    }
}

.container {
    &.auth,
    &.registration,
    &.reset-password {
        > .card {
            padding: 20px 50px;
            width: 450px;
            height: auto;
            margin: 0 auto;
        }
    }
    &.auth .auth-links a {
        display: block;
    }
}

.modal,
.modal-open {
    overflow: hidden;
}

.modal-closer {
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../images/close.png') no-repeat center center transparent;
    margin: 16px 16px 0 0;
    float: right;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: @modal_bkg;
    text-align: center;
    z-index: 100;
    max-height: none;

    &.wide {
        .modal-content {
            width: 710px;
        }
    }
    .modal-dialog .modal-content {
        left: 50%;
        margin-left: -250px;
        position: absolute;
        width: 500px;
        text-align: left;
        top: 5%;
        background-color: #ffffff;
        overflow-y: auto;
        max-height: 90%;

        .modal-closer {
            margin: 0;
        }
        .modal-header,
        .footer {
            text-align: center;
        }
    }
    &.modal-sm .modal-content {
        margin-left: -150px;
        width: 300px;
    }
    &.modal-lg .modal-content {
        margin-left: -400px;
        width: 800px;
        max-height: 90%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.modal.userAlert-modal.centered-modal .modal-content {
    top: 50%;
    transform: translateY(-50%);
    width: 430px;
}

.alert-message {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

ul.main-menu li.active {
    font-weight: bold;
}

.loader-container {
    min-height: @loader-height;
}

.loading {
    opacity: .2;
    cursor: default !important;
    pointer-events: none !important;
}

.loader {
    background: @loader_bkg url('../images/loader.gif') no-repeat center center;
    z-index: 100;
}

.loader,
.body-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: @loader-height;
}

.body-loader {
    background: #ffffff url('../images/loader.gif') no-repeat center center;
    z-index: 999;
}

.inline-loader {
    background: url('../images/inline-loader.gif') no-repeat center center transparent;
    display: inline-block;
    width: 30px;
    height: 30px;

    &.line {
        width: 100%;
    }
}

.toggle-list-image,
.filter-image {
    border: 1px solid #f2f2f2;
    width: 24px;
    height: 24px;
    background: url('images/list.png') no-repeat center center transparent;
    margin: 8px 3px;
    float: right;
}

.filter-image {
    background-image: url('images/filter_black.png');
    float: left;
    margin-left: 15px;
}

.merchant {
    &-list {
        float: left;
        width: 300px;
        margin-right: 50px;
    }
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

img {
    color: transparent;
}

.pseudolink {
    border-bottom: 1px dashed;
    color: #039be5;
    cursor: pointer;
    display: inline-block;
}

.notifications {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 101;

    .close-btn {
        position: absolute;
        top: 3px;
        right: 5px;
        margin-left: 15px;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: black;
        }
    }
    .alert {
        padding: 20px;
        color: @alert-color;
        margin-bottom: 15px;

        &.alert-info {
            color: @alert-info-color;
            background-color: @alert-info-bkg-color;
            border-color: @alert-info-border-color;
        }
        &.alert-warning {
            background-color: @alert-warning-bkg-color;
        }
        &.alert-danger {
            color: @alert-danger-color;
            background-color: @alert-danger-bkg-color;
            border-color: @alert-danger-border-color;
        }
    }
}

.notifications[area] {
    position: relative;
    top: auto;
    right: auto;
}

.tender-offer {
    padding-right: 20px;
}

.sb-date-select-wrapper {
    width: 32%;
    display: inline-block;
}

.side-nav {
    width: 340px;
}

