.map {
    height: 450px;
    overflow: hidden;

    .balloon {
        background-color: lightgoldenrodyellow;
        width: 250px;
        position: relative;
    }
    .title {
        color: red;
        font-size: 20px;
        margin: 0;
    }
    .close {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 16px;
        height: 16px;
        cursor: pointer;
    }
}
