.message {
    line-height: 1.2;
    margin-left: 30px;
    max-width: 400px;
    word-break: break-all;

    .date {
        float: left;
        margin-top: 16px;
    }
    .remove {
        float: right;
    }
    .title {
        clear: both;
        overflow: hidden;
        user-select: none;

        &.notRead {
            color: red;
        }
        span {
            cursor: pointer;
        }
    }
}
