.clearfix {
    &::before,
    &::after {
        content: ' ';
        display: table;
    }
    &::after {
        clear: both;
    }
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.label-required {
    &::before {
        content: '*';
        position: absolute;
        right: 0;
        bottom: 0;
        color: red;
    }
}

.img-centered() {
    display: block;
    position: relative;
    height: auto;
    width: auto;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.three-column-grid-card(@margin: 30px) {
    height: 360px;
    display: inline-block;
    vertical-align: top;
    width: calc(33.33% ~'-' @margin ~'/' 1.5);
    margin-right: @margin;

    &:nth-child(3n) {
        margin-right: 0;
    }
}

.card-title() {
    .text-overflow-ellipsis();
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    margin: 5px 0;
}

.card-content() {
    padding: 0 5px;
    border-top: 1px solid #dcdbdb;

    .description {
        overflow: hidden;
        font-size: 14px;
        height: 40px;
    }
}

.card-image() {
    padding: 10px;
    height: 270px;

    img {
        .img-centered();
    }
}
