.my-coupons .coupon {
    .card {
        width: 400px;
        height: 400px;
        margin: .5rem .5rem 1rem;

        .card-content {
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 10px;

            .card-title {
                font-size: 16px;
                font-weight: bold;
                line-height: 1.3;
            }
            .coupon-actions {
                margin-left: 5px;
            }
            .coupon-number,
            .coupon-dates {
                color: black;
                font-size: 14px;
            }
        }
    }
    .card-image img {
        width: 300px;
        margin: 0 auto;
        display: block;
    }
}
