﻿@import (reference) 'mixins.less';

.reward-thumbnail() {
    float: left;
    position: relative;
    background-color: #f20d0d;
    width: 30%;
    max-width: 115px;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
    max-height: 115px;
    color: white;

    .two-line-text,
    .image-with-text {
        max-height: 100%;
        overflow: hidden;

        div {
            .text-overflow-ellipsis();
        }
    }
    .image-with-text {
        font-size: 16px;
    }
    .two-line-text {
        line-height: 1.6em;
        padding: 10px 0;

        div {
            &:nth-child(1) {
                font-size: 22px;
            }
            &:nth-child(2) {
                font-size: 16px;
            }
        }
    }
    .reward-image {
        width: 35px;
        height: 35px;
        margin: 2px auto;

        img {
            .img-centered();
        }
    }
}

.modal-offer {
    .modal-dialog {
        .modal-content {
            width: 580px;
        }
        .offer-title {
            font-size: 18px;
            margin: 20px 0 10px;
            font-weight: bold;
        }
    }
    .offer {
        word-break: break-all;

        .image {
            height: 250px;
            position: relative;
            width: 400px;
            margin: 0 auto 20px;

            img {
                .img-centered();
            }
        }
        div:nth-last-child(n+2) {
            margin-bottom: 10px;
        }
        .details {
            margin-top: 70px;
        }
        .reward-thumbnail {
            .reward-thumbnail();
            position: relative;
            margin-top: -60px;
            left: -30px;
            max-width: 115px;
            border-radius: 7px;

            .reward-image {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.offers .offer {
    .three-column-grid-card();
    &:hover {
        cursor: pointer;
    }
    .card-image {
        .card-image();
    }
    .content {
        padding: 0;
        height: 90px;

        .info {
            .card-content();
            height: 100%;

            .title {
                .card-title()
            }
        }
        .reward-thumbnail {
            .reward-thumbnail();
            height: 100%;
        }
    }
}

