.pagination {
    text-align: center;

    li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 3px;

        a {
            display: block;
            color: black;
            font-size: 15px;
            font-weight: 300;
        }
        &.active a {
            font-weight: 700;
            background-color: #009688;
        }
        &.disabled a {
            pointer-events: none;
            opacity: 0.5;
            cursor: default;
        }
        &.pagination-prev,
        &.pagination-next {
            display: none;
        }
    }
}

