@import (reference) 'mixins.less';

.img(@noimageHeight) {
    img {
        display: block;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);

        &[src='undefined'] { // Стилизация noimage
            position: static;

            &::before {
                height: @noimageHeight;
            }
        }
    }
}

.personal-goods-offer {
    &__info {
        .goods-preview {
            float: right;
            width: 40%;

            .selected-count {
                margin-bottom: 10px;
            }
            > .goods {
                min-width: 50px;
                max-width: 50%;
                height: 50px;
                display: inline-block;
                padding: 0 2px 2px;

                .img(50px);
            }
        }
        .main-info {
            > div:nth-last-child(-n+3) {
                margin-top: 15px;
            }
        }
        .details {
            display: none;

            .personal-goods & {
                display: block;
            }
        }
        .brands-names {
            .brand-img {
                float: right;
            }
            .personal-goods & {
                width: 60%;
                word-wrap: break-word;

                .brand-img {
                    float: none;
                }
            }
        }
    }
    &__goods-list {
        position: relative;
        min-height: 250px;

        .goods { /* stylelint-disable-line no-descending-specificity */
            position: relative;
            width: calc(33.33% ~'-' 20px);
            height: 200px;
            display: inline-block;
            vertical-align: middle;
            margin: 10px;
            padding: 10px;
            border: 2px solid #dddddd;
            cursor: pointer;
            transition: border-color 0.1s ease, box-shadow 0.1s ease;

            &.selected,
            &.approved {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    width: 15px;
                    height: 30px;
                    border: 4px solid;
                    transform: rotate(40deg);
                    border-top: none;
                    border-left: none;
                }
            }
            &.selected {
                border-color: #b4d838;
                box-shadow: inset 0 0 0 4px #b4d838;

                &::after {
                    border-color: #b4d838;
                }
            }
            &.approved {
                border-color: #9e9e9e;
                box-shadow: inset 0 0 0 4px #9e9e9e;

                &::after {
                    border-color: #9e9e9e;
                }
            }
            .img-wrapper {
                height: 150px;
                position: relative;

                .img(150px);
            }
            .goods__title {
                .text-overflow-ellipsis();
                margin-top: 5px;
                text-align: center;
            }
        }
        .goods-list-overlayer {
            display: none;
        }
        .approve { /* stylelint-disable-line no-descending-specificity */
            border-top: none;
            line-height: 36px;
        }
        &.readonly {
            .goods-list-overlayer {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(255, 255, 255, 0.85);
                text-align: center;
                font-size: 1.3em;
                padding: 100px 10% 0;
            }
            .approve {
                display: none;
            }
        }
        &.unselectable .goods:not(.selected):not(.approved) {
            opacity: 0.3;
        }
    }
}
