@import (reference) 'mixins.less';

.personal-offer {
    .collapsible-header {
        padding-right: 2rem;
        position: relative;

        .offer-details__header {
            .text-overflow-ellipsis();
        }
        .glyphicon-chevron-down,
        .glyphicon-chevron-up {
            line-height: inherit;
            position: absolute;
            right: 1rem;
        }
        &.active .glyphicon-chevron-down {
            display: none;
        }
        &:not(.active) .glyphicon-chevron-up {
            display: none;
        }
    }
    .collapsible-body {
        position: relative;

        .offer-details {
            margin: 0;

            .discount-view {
                .tooltip {
                    position: relative;
                    display: inline-block;
                    cursor: pointer;

                    .tooltip-text {
                        visibility: hidden;
                        min-width: 550px;
                        background-color: #555555;
                        color: #ffffff;
                        text-align: center;
                        border-radius: 6px;
                        padding: 5px 0;
                        top: -7px;
                        position: absolute;
                        z-index: 1500;
                        left: 125%;
                        min-height: 34px;
                        margin-left: -39px;
                        opacity: 0;
                        transition: opacity .3s;
                    }
                    &:hover .tooltip-text {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            .offer-details__title {
                font-size: 18px;
                font-weight: bold;

                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
            .offer-details__description,
            .offer-details__values,
            .offer-details__dates,
            .offer-details__codes {
                margin-left: 0;

                p {
                    margin: 0;
                }
            }
        }
        .show-on-map__btn {
            margin-top: 20px;
        }
    }
}

.personal-offers,
.personal-offer {
    .offer-content-container {
        .personal-offer__title {
            word-break: break-all;
            word-break: break-word;
        }
        .personal-offer__duration {
            margin-top: 15px;
        }
        .personal-offer__description {
            margin-top: 25px;
            word-break: break-all;
            word-break: break-word;
        }
        .brand-img {
            float: right;
        }
    }
}

.modal.modal-personal-offer-map .modal-content {
    margin-left: -500px;
    width: 1000px;
}
