.questionnaire-edit {
    position: relative;
    min-height: 200px;

    .notifications {
        clear: both;
        text-align: center;
    }
    .btn-container {
        width: 350px;
        text-align: center;
        margin: 30px auto 0;
    }
    .question-radio {
        margin-bottom: 20px;

        input[type='text'] {
            margin-bottom: 0;
        }
        .gender-radio div[ng-repeat] {
            overflow: hidden;
        }
    }
    .question-checkbox .input-container {
        margin-bottom: 20px;
    }
    .questionnaire-column {
        float: left;
        width: 370px;
    }
    .questionnaire-column + .questionnaire-column {
        margin-left: 43px;
    }
}
