@import (reference) 'variables.less';

.registration {
    .registration-start .phone-hint p {
        font-size: 11px;
        margin-top: -15px;
    }
    &.AcceptTenderOffer {
        min-width: 800px;
    }
    .birthday-picker,
    .gender-radio {
        margin: 0 auto;

        .help-block {
            width: 100%;
        }
    }
    .panel-line h5 {
        font-size: 16px;
    }
    button {
        min-width: 140px;
    }
}
