.settings {
    .settings-line {
        .right-control {
            display: inline-block;
            min-width: 80px;
            padding: 6px 0 0;
            margin-left: 20px;
            float: right;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .label {
            display: inline-block;
            padding: 5px 10px 6px 0;
            line-height: 17px;
        }
        .current-value {
            min-width: 120px;
            display: inline-block;
            padding-top: 6px;
            margin-left: 20px;
        }
    }
    .user-phone {
        h5 {
            font-size: 22px;
        }
    }
    .phone-repeat .help-block {
        width: 35%;
        margin: 0 auto;
    }
    .user-phone,
    .user-password,
    .user-email {
        width: 425px;
        padding: 14px 0 15px;
        border-bottom: 1px solid #e7e8ec;
    }
}

