﻿.social {
    li {
        display: inline-block;
        margin: 0 10px;
    }
    &-logo {
        width: 50px;
        height: 50px;
    }
    &-action,
    &-logo {
        display: inline-block;
        vertical-align: middle;

        &:hover {
            cursor: pointer;
        }
    }
    &.social-binding {
        li {
            display: block;
        }
        .social-logo:hover {
            cursor: default;
        }
        .social-action:hover {
            cursor: pointer;
        }
    }
    &:not(.social-binding) {
        border-top: 1px solid #9e9e9e;
        padding-top: 20px;
    }
}
