﻿/*
    Colours
*/
@red:           #f44336;
@cheque-bkg:    #f2f2f2;

/*
    Loader
 */
@loader-height: 60px;
@loader_bkg:    rgba(255, 255, 255, 0.9);

/*
    Alerts
 */
@alert-color:    white;

@alert-warning-bkg-color:   red;

@alert-info-color:    #31708f;
@alert-info-bkg-color:   #d9edf7;
@alert-info-border-color:   #bce8f1;

@alert-danger-color:    #a94442;
@alert-danger-bkg-color:   #f2dede;
@alert-danger-border-color:   #ebccd1;

/*
    Modal
 */
@modal_bkg:     rgba(0, 105, 92, .8);
