<section class="registration clearfix" ng-class="{'_offer': currentStep === 'AcceptTenderOffer'}">
    <div ng-if="!isRegistrationStarted">
        <form
            class="form registration-form"
            novalidate
            name="registrationForm"
            ng-submit="registrationForm.$valid && registration(registrationForm)"
            loader="authInProgress"
        >
            <h1 class="registration-title">Активация карты</h1>
            <form-group>
                <label>Номер телефона</label>
                <p>На&nbsp;данный номер будет выслано sms с&nbsp;кодом подтверждения</p>
                <div class="registration-phone__countryCode">+7</div>
                <div class="registration-phone__number">
                    <input
                        type="text"
                        ng-model="registrationData.login"
                        ng-disabled="inProgress"
                        id="login"
                        name="login"
                        mask="(999) 999-9999"
                        clean="true"
                        validate="false"
                        placeholder="(999) 999-9999"
                        restrict="reject"
                        required
                        autofocus
                    >
                </div>
            </form-group>
            <form-group ng-if="passwordRequired" class="password-field">
                <label for="password">Пароль</label>
                <input
                    type="password"
                    ng-model="registrationData.password"
                    id="password"
                    name="password"
                    class="form-control"
                    required
                >
            </form-group>
            <notifications area="registration"></notifications>
            <div class="clearfix" loader="inProgress">
                <button type="button" class="cancel" ng-click="$root.logout()">Отмена</button>
                <button type="submit">Далее</button>
                <inline-loader line>authInProgress</inline-loader>
            </div>
        </form>
    </div>

    <div ng-if="isRegistrationStarted" ng-switch="currentStep" loader="stepInProgress">
        <form
            novalidate
            class="form registration-form"
            name="acceptTenderOfferForm"
            ng-submit="acceptTenderOfferForm.$valid && isOfferAndAgreementLoaded && acceptTenderOffer()"
            ng-switch-when="AcceptTenderOffer"
            loader="inProgress"
        >
            <notifications area="registration"></notifications>
            <div class="scroller-wrapper">
                <div class="scroller">
                    <div class="registration-offer__text" ng-bind-html="tenderOfferFile"></div>
                </div>
                <div class="scroller-track">
                    <div class="scroller-bar"></div>
                </div>
            </div>
            <form-group>
                <input
                    type="checkbox"
                    id="userAgreesWithOffer"
                    name="userAgreesWithOffer"
                    ng-model="offer"
                    required
                />
                <label for="userAgreesWithOffer" ng-if="isOfferAndAgreementLoaded">
                    Я принимаю условия оферты.
                </label>
            </form-group>
            <form-group>
                <input
                    type="checkbox"
                    id="userAgreesWithPDP"
                    name="userAgreesWithPDP"
                    ng-model="agreement"
                    required
                />
                <label for="userAgreesWithPDP" ng-if="isOfferAndAgreementLoaded">
                    Я согласен с <a ng-href="{{apiHost}}api/Files/{{::opdAgreementFileId}}" target="_blank">правилами обработки персональных данных</a>.
                </label>
            </form-group>
            <div class="registration-buttons clearfix">
                <inline-loader line>stepInProgress</inline-loader>
                <button type="button" ng-hide="inProgress" ng-click="$root.logout()">{{::'cancel' | translate}}</button>
                <button type="submit" ng-hide="inProgress" ng-disabled="!isOfferAndAgreementLoaded">Принять</button>
            </div>
        </form>

        <form class="form registration-form" novalidate name="assignCardForm" ng-switch-when="AssignCard" ng-submit="assignCardForm.$valid && assignCard()">
            <h1 class="registration-title">Номер карты</h1>
            <form-group>
                <label for="cardNumber">Введите номер карты</label>
                <input
                    type="text"
                    ng-model="cardModel.cardNumber"
                    ng-disabled="stepInProgress"
                    name="cardnumber"
                    id="cardnumber"
                    required
                    autofocus
                >
            </form-group>
            <small class="registration-note">Закончить регистрацию возможно только при наличии на&nbsp;руках карты</small>
            <notifications area="registration"></notifications>
            <button type="submit">{{:: 'approve' | translate}}</button>
            <button type="button" ng-click="cancel()">{{:: 'cancel' | translate}}</button>
        </form>
        <user-phone ng-switch-when="ChangePhone" registration="true" current="authentication.userInfo.phoneNumber"></user-phone>
        <user-email ng-switch-when="ChangeEmail" registration="true" current="authentication.userInfo.email"></user-email>
        <user-password ng-switch-when="PasswordRequired" registration="true"></user-password>
        <questionnaire ng-switch-when="Questions" registration="true" edit-mode only-required></questionnaire>
    </div>

    <div ng-if="inProgressFinishRegistration" loader="true" style="min-height: 70px;"></div>

    <div class="form registration-form _complete" ng-if="registrationCompleted" loader="inProgress">
        <h1 class="registration-title">Ваша карта активирована!</h1>
        <button type="submit" ng-click="continue()">Продолжить</button>
    </div>
</section>