<div class="personal-goods-offer" loader="inProgress">
    <div ng-show="!inProgress">
        <a href="/#personalGoods" class="link">Назад к списку</a>

        <div>
            <div class="offer-header">
                <personal-goods-offer-info offer="offer"></personal-goods-offer-info>
                <div class="approve" ng-if="offer.canSelectGoods">
                    <div>
                        <b>{{selectableGoodsCount ? ('Ещё можно выбрать товаров: ' + (selectableGoodsCount || 0)) : 'Выбрано максимально допустимое количество товаров'}}</b>
                    </div>
                    <button type="button" ng-if="availableGoodsCount" ng-click="approveSelectedGoods()" ng-disabled="!selectedGoods.length" class="btn btn-lg">Подтвердить</button>
                </div>
            </div>

            <div class="personal-goods-offer__goods-list" ng-class="{'unselectable': !selectableGoodsCount, 'readonly': !offer.canSelectGoods}" loader="offerDetailsInProgress">
                <div>
                    <div ng-repeat="goods in offerGoods track by goods.id"
                         ng-click="changeSelectedGoods(goods)"
                         ng-class="{'approved': goods.selected, 'selected': selectedGoods.contains(goods)}"
                         class="goods"
                    >
                        <div class="img-wrapper">
                            <img ng-src="{{:: goods.imgUrl}}" alt="" onerror="this.src='/wp-content/themes/bin/assets/img/image_not_found.png'">
                        </div>
                        <div class="goods__title" title="{{:: goods.title}}">{{:: goods.title}}</div>
                    </div>
                </div>
                <div ng-if="availableGoodsCount" class="offer-footer approve">
                    <button type="button" ng-show="offerGoods.length > 9" ng-click="approveSelectedGoods()" ng-disabled="!selectedGoods.length" class="btn btn-lg">Подтвердить</button>
                </div>
                <div class="goods-list-overlayer">
                    <div>
                        Редактирование списка товаров возможно только в&nbsp;период: {{:: (offer.attribute.startFillDate | dateRange: offer.attribute.endFillDate) | nbspSpaces}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>