<div class="question-checkbox">
    <div ng-if="!formOpened">
        <div>{{::question.displayName}}: </div>
        <div>
            <div ng-repeat="item in selectedQuestions = (question.children | filter:{selected:true})"
                 ng-init="elementId = question.logicalName+'_'+item.id">
                <div class="checkbox-div">
                    <input type="checkbox"
                           id="{{::elementId}}" name="{{::elementId}}"
                           ng-checked="::item.selected"
                           class="nice-checkbox disabled"
                           disabled>
                </div>
                <div>{{::item.displayName}}</div>
            </div>
            <div ng-if="::!selectedQuestions.length">
                <div>{{::'notFilled'|translate}}</div>
            </div>
        </div>
        <question-edit ng-if="::!editMode"></question-edit>
    </div>

    <div ng-if="formOpened">
        <form novalidate name="questionnaireForm" ng-submit="questionnaireForm.$valid && save()">
            <form-group label-text="{{::question.displayName}}"
                        ng-init="registerForm(questionnaireForm)"
                        ng-class="::{'required': question.required}">
                <div ng-repeat="item in question.children"
                     ng-init="elementId = branch.logicalName+'_'+item.id">
                    <div class="checkbox-div">
                        <input type="checkbox"
                               id="{{::elementId}}" name="{{::elementId}}"
                               ng-model="item.selected"
                               ng-disabled="item.readOnly || disabled"
                        >
                        <label for="{{::elementId}}"
                               ng-class="{'black-text': !disabled}"
                               class="checkbox-item-label"
                        >
                            {{::item.displayName}}
                        </label>
                    </div>
                </div>
                <question-errors></question-errors>
                <question-cancel ng-if="::!editMode"></question-cancel>
            </form-group>
            <question-save ng-if="::!editMode"></question-save>
        </form>
    </div>
</div>
