<div class="question-datetime">
    <div ng-if="!formOpened">
        <div>{{::question.displayName}}: </div>
        <div>{{::(question.value | shortDate) || ('notFilled' | translate)}}</div>
        <question-edit ng-if="::!editMode && !question.readOnly"></question-edit>
    </div>

    <div class="date birthday-picker" ng-if="formOpened">
        <form novalidate name="questionnaireForm" ng-submit="questionnaireForm.$valid && save()">
            <form-group label-text="{{::question.displayName}}"
                        ng-init="registerForm(questionnaireForm)"
                        ng-class="::{'required': question.required}">
                <div
                    sb-date-select
                    sb-date-format="toDate"
                    id="dateTime_{{:: question.id}}"
                    name="dateTime_{{:: question.id}}"
                    ng-model="question.value"
                    ng-required="::question.required"
                    is-disabled="question.readOnly || disabled"
                    ng-class="{'disabled': question.readOnly || disabled}"
                ></div>
                <question-errors></question-errors>
                <question-cancel ng-if="::!editMode"></question-cancel>
            </form-group>
            <question-save ng-if="::!editMode"></question-save>
        </form>
    </div>

</div>
