<div class="question-radio">
    <div ng-if="!formOpened">
        <div>{{::question.displayName}}: </div>
        <div>{{::question.displayValue || ('notFilled'|translate)}}</div>
        <question-edit ng-if="::!editMode && !question.readOnly"></question-edit>
    </div>

    <!-- TODO: Избавиться от .gender-radio -->
    <div class="gender-radio" ng-if="formOpened">
        <form novalidate name="questionnaireForm" ng-submit="questionnaireForm.$valid && save()">
            <form-group label-text="{{::question.displayName}}"
                        ng-init="registerForm(questionnaireForm)"
                        ng-class="::{'required': question.required}">
                <input type="hidden"
                       ng-model="question.id"
                       id="{{::question.logicalName}}" name="{{::question.logicalName}}"
                       ng-required="::question.required">
                <div ng-repeat="item in question.children"
                     ng-init="elementId = question.logicalName+'_'+item.id">
                    <input type="radio"
                           ng-model="question.id"
                           ng-value="::item.id"
                           ng-disabled="item.readOnly || disabled"
                           id="id_{{::question.logicalName+'_'+item.id}}"
                           class="nice-radio"/>
                    <label
                        class="radio-item-label"
                        ng-class="{'black-text': !disabled}"
                        for="id_{{::question.logicalName+'_'+item.id}}"
                        ng-click="!disabled && (question.id = item.id); !disabled && resetRadioButton();"
                    >
                        {{::item.displayName}}
                    </label>
                    <input
                        ng-if="item.fieldType === radioButtonStringType"
                        type="text"
                        ng-model="item.value"
                        ng-click="question.id = item.id"
                        ng-required="question.id === item.id"
                        ng-disabled="disabled"
                    >
                </div>
                <question-errors></question-errors>
                <question-cancel ng-if="::!editMode"></question-cancel>
            </form-group>
            <question-save ng-if="::!editMode"></question-save>
        </form>
    </div>

</div>
