﻿<div class="question-string">
    <div ng-if="!formOpened">
        <div>{{::question.displayName}}: </div>
        <div>{{::question.value || ('notFilled' | translate)}}</div>
        <question-edit ng-if="::!editMode && !question.readOnly"></question-edit>
    </div>

    <div ng-if="formOpened">
        <form novalidate name="questionnaireForm" ng-submit="questionnaireForm.$valid && save()" ng-attr-autocomplete="{{::browserAutocomplete}}">
            <form-group ng-init="registerForm(questionnaireForm)" ng-class="::{'required': question.required}">
                <div class="input-field" ng-switch=":: browserAutocomplete">
                    <input
                        ng-switch-when="off"
                        type="text"
                        ng-model="question.value"
                        name="{{::question.groupID}}_{{::question.id}}"
                        id="{{::question.groupID}}_{{::question.id}}"
                        uib-typeahead="value for value in getAutocompleteValues($viewValue)"
                        typeahead-on-select="commitValue()"
                        typeahead-min-length="0"
                        autocomplete="off"
                        ng-disabled="question.readOnly || disabled"
                        ng-required="::question.required"
                    >
                    <input
                        ng-switch-default
                        type="text"
                        ng-model="question.value"
                        name="{{::question.groupID}}_{{::question.id}}"
                        id="{{::question.groupID}}_{{::question.id}}"
                        ng-disabled="question.readOnly || disabled"
                        ng-required="::question.required"
                    >
                    <label
                        ng-class="::{'active' : question.value != undefined}"
                        title="{{:: question.displayName.length > 30 ? question.displayName : ''}}"
                        for="{{::question.groupID}}_{{::question.id}}"
                    >
                        {{::question.displayName}}
                    </label>
                </div>
                <question-errors></question-errors>
                <question-cancel ng-if="::!editMode"></question-cancel>
            </form-group>
            <question-save ng-if="::!editMode"></question-save>
        </form>
    </div>

</div>
