﻿<div class="social" ng-class=":: {'social-binding': isBinding}">
    <div ng-if=":: clients.length" ng-switch=":: isBinding">
        <div ng-switch-when="false">
            <div class="hint center">Войти с&nbsp;помощью социальных сетей</div>

            <ul loader="isProgress.getSocialInfo">
                <li ng-repeat="client in clients">
                    <img
                        class="social-logo"
                        title="{{:: client.name }}"
                        ng-click="authHandler(client)"
                        ng-src="{{:: socialImagesPath}}/{{:: client.providerType.toLowerCase()}}-logo.svg"
                        fallback-image
                    >
                </li>
            </ul>
        </div>

        <div ng-switch-when="true">
            <h2>Социальные сети</h2>

            <ul loader="isProgress.getSocialInfo">
                <li ng-repeat="client in clients">
                    <img
                        class="social-logo"
                        alt="{{:: client.name }}"
                        ng-click="authHandler(client)"
                        ng-src="{{:: socialImagesPath}}/{{:: client.providerType.toLowerCase()}}-logo.svg"
                        fallback-image
                    >

                    <div class="social-action">
                        <span ng-click="toggleBind(client)">{{isBinded(client) ? 'Отвязать' : 'Привязать'}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
