<div class="container message">
    <section>
        <h2>Уведомления</h2>

        <div ng-if="messages.length || state.isProgress" loader="isProgress">
            <article ng-repeat="message in messages">
                <div class="date">{{:: message.creationDate | shortDate }}</div>

                <div class="waves-effect waves-light btn remove" ng-click="remove(message);">удалить</div>

                <h4 class="title" ng-class="{'notRead': !message.isReaded}">
                    <span ng-click="toggleView(message);">{{:: message.title }}</span>
                </h4>

                <div class="text" ng-if="message._isShowText">
                    <p>{{:: message.body }}</p>
                </div>
            </article>
        </div>

        <p ng-if="!messages.length && !isProgress">Уведомления отсутствуют</p>
    </section>
</div>
