<div class="personal-offers" loader="inProgress">
    <div class="heading">
        <h2 class="title">Персональные предложения</h2>
    </div>
    <div ng-if="personalOffers.length" class="personal-offer__item" ng-repeat="personalOffer in personalOffers">
        <personal-offer-content></personal-offer-content>
        <div class="action-btn">
            <a class="btn btn-lg" ng-href="#/personalOffers/{{::personalOffer.id}}">Посмотреть подробнее</a>
        </div>
    </div>
    <p ng-if="!inProgress && !personalOffers.length" class="no-results">В данный момент персональные акции отсутствуют.</p>
</div>