<div class="container user-status">
    <section>
        <h2>Статус пользователя</h2>

        <div loader="isProgress">
            <dl class="user-status">
                <dt>Сумма покупок</dt>
                <dd>{{info.currentStatus.amount}}</dd>
            </dl>
            <dl class="user-status" ng-if="!info.currentStatus.isLast && info.nextStatus">
                <dt>Осталось до следующего статуса</dt>
                <dd>{{info.nextStatus.minValue - info.currentStatus.amount}}</dd>
            </dl>
            <dl class="user-status">
                <dt>Бонусы</dt>
                <dd>{{info.currentStatus.bonusPercent}}%</dd>
            </dl>
        </div>
    </section>
</div>
